<div class="custom_modal">
  <h3 mat-dialog-title>Document Preview</h3>
  <div mat-dialog-content>
    <form class="readmin-form qus-doc-preview">
      <div class="text-center no-record" *ngIf="!(resultArray && resultArray.length)">
        <span><b>No document to preview</b></span>
      </div>
      <mat-accordion *ngFor="let obj of resultArray; let ix=index">
        <mat-expansion-panel [expanded]="ix==0" class="mt-2 mb-1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{obj[0].sectionName}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let question of obj">
            <div [ngSwitch]="question.inputType">
              <div class="row">
                <div class="col-sm-12">
                  <h5><span>Q.{{question.displayOrder}}</span> {{question.question}}</h5>
                </div>
              </div>
              <div class="row" *ngSwitchCase="'TextArea'">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput [value]="getAnswer(question.id,null)" (input)="pushAnswers($event,null, question.id,'TextArea')"
                      [readonly]="!patientDocumentId">
                   </textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngSwitchCase="'Dropdown'">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-select matInput [value]="getAnswer(question.id,null)" (selectionChange)="pushAnswers($event,$event.value       , question.id,'Dropdown')">
                      <mat-option *ngFor="let opt of filterCodes(question.categoryId)" [value]="opt.id" [disabled]="!patientDocumentId">
                        {{opt.option}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngSwitchCase="'textbox'">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput [value]="getAnswer(question.id,null)" (input)="pushAnswers($event,null, question.id,'textbox')"
                      [readonly]="!patientDocumentId" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngSwitchCase="'CheckBox'">
                <div class="col-sm-4" *ngFor="let opt of filterCodes(question.categoryId)">
                  <mat-checkbox [checked]="getAnswer(question.id,opt.id)" (change)="pushAnswers($event,opt.id, question.id,'CheckBox')"
                    [id]="opt.id.toString()"  [disabled]="!patientDocumentId">{{opt.option}}</mat-checkbox>
                </div>
              </div>
              <div class="row" *ngSwitchCase="'RadioButton'">
                <mat-radio-group [value]="getAnswer(question.id,null)">
                  <div class="col-sm-4" *ngFor="let opt of filterCodes(question.categoryId)">
                    <mat-radio-button [value]="opt.id" (change)="pushAnswers($event,opt.id,question.id,'RadioButton')"
                      [disabled]="!patientDocumentId">{{opt.option}}</mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
  <div class="clearfix"></div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">{{"close"|translate}}</button>
    <button mat-raised-button *ngIf="patientDocumentId" color="primary" (click)="onSubmit()" form="form" [disabled]="submitted || !(resultArray && resultArray.length)">{{submitted
      ? 'Saving...' : ('save'|translate)}}</button>
  </div>

</div>
