<div class="custom_modal">
  <h3 mat-dialog-title>{{headerText}}</h3>
  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-12">
        <form id="diagnosisForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="diagnosisForm">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Diagnosis" formControlName="icdid" matInput [ngClass]="{ 'is-invalid': submitted && formControls['icdid'].errors }"
                  required>
                  <mat-option *ngFor="let rel of masterICD" [value]="rel.id">
                    {{rel.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['icdid'].errors?.['required']">
                  Please select a diagnosis
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Problem Status" formControlName="isActive" matInput [ngClass]="{ 'is-invalid': submitted && formControls['isActive'].errors }"
                  required>
                  <mat-option *ngFor="let rel of statusList" [value]="rel.id">
                    {{rel.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="diagnosisDate" [max]="maxDate" placeholder="Date of diagnosis" formControlName="diagnosisDate"
                  required readonly />
                <mat-datepicker-toggle matSuffix [for]="diagnosisDate"></mat-datepicker-toggle>
                <mat-datepicker #diagnosisDate></mat-datepicker>
                <mat-error *ngIf="formControls['diagnosisDate'].errors?.['required']">
                  Please enter valid date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="formControls['isActive'].value==false">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="resolveDate" [min]="formControls['diagnosisDate'].value" [max]="maxDate" placeholder="Date Resolved"
                  formControlName="resolveDate" [required]="!(formControls['isActive'].value)" readonly />
                <mat-datepicker-toggle matSuffix [for]="resolveDate"></mat-datepicker-toggle>
                <mat-datepicker #resolveDate></mat-datepicker>
                <mat-error *ngIf="formControls['resolveDate'].errors?.['required']">
                  Please enter valid date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">Close</button>
    <div>
      <button name="Save" mat-raised-button color="accent" (click)="onSubmit($event)" form="diagnosisForm" class="text-uppercase"
        [disabled]="submitted" cdkFocusInitial>{{submitted ? 'Saving...' : 'Save'}}</button>
      <button *ngIf="diagnosisModel.id==null || diagnosisModel.id==0" name="SaveAddMore" mat-raised-button color="primary" (click)="onSubmit($event)"
        form="diagnosisForm" class="text-uppercase ml-3" [disabled]="submitted" cdkFocusInitial>{{submitted ? 'Saving...' : 'Save & Add More'}}</button>
    </div>
  </div>
</div>
