<section class="doctor-banner">
    <div class="ourdoctor-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>The best of healthcare comes from a diverse team with a common goal</h2>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="doctor-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-box">
                    <img class="img-fluid" src="../assets/img/d-team4.png" alt="team" class="img-fluid" />
                    <img class="img-fluid" src="../assets/img/d-team1.png" alt="team" class="img-fluid" />
                    <img class="img-fluid" src="../assets/img/d-team5.png" alt="team" class="img-fluid" />
                    <img class="img-fluid" src="../assets/img/d-team2.png" alt="team" class="img-fluid" />
                    <img class="img-fluid" src="../assets/img/d-team3.png" alt="team" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="the-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">We value our people</h2>
                <div class="wedo-box">
                    <h4>With 200+ doctors and medical advisors joining our platform, we plan to make the best decisions
                        and consultations for our patients. We provide our patients with a second opinion from different
                        doctors within the same department so we can assure them their diagnostic is the right one.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blue-line">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Watch our virtual tour to understand how we connect with our patients. <a href="#"> Learn
                        More</a></h2>
            </div>
        </div>
    </div>
</section>

<section class="team-mate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Meet The Team</h2>
                <ul>
                    <li>
                        <img class="img-fluid" src="../assets/img/dr-team1.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>
                        <img class="img-fluid" src="../assets/img/dr-team2.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>
                        <img class="img-fluid" src="../assets/img/dr-team3.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>
                        <img class="img-fluid" src="../assets/img/dr-team4.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>
                        <img class="img-fluid" src="../assets/img/dr-team5.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>

                        <img class="img-fluid" src="../assets/img/dr-team6.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>

                        <img class="img-fluid" src="../assets/img/dr-team7.png" alt="team" class="img-fluid" />
                        <div class="dr-box">
                            <h3>Alex B.<span>Urologist</span></h3>
                        </div>
                    </li>
                    <li>
                        <div class="click-link">
                            <a href="#">{{"view_all"|translate}}</a>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</section>

<section class="unwell">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Feeling unwell?</h2>
                <a href="#" class="white-btn radius-btn">Book An Appointment</a>
            </div>
        </div>
    </div>
</section>
<section class="newslatter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Subscribe to our newsletter</h2>
                <a href="#" class="white-btn radius-btn">Subscribe</a>
            </div>
        </div>
    </div>
</section>

<section class="key-value">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Our key values</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value5.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Primary health services</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value4.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Medical services</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value6.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Health Promotion</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value3.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Continuous Care</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value2.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Counselling</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-8">
                <div class="value-box">
                    <img class="img-fluid" src="../assets/img/value1.png" alt="team" class="img-fluid" />
                    <div class="dr-box">
                        <h3>Partnerships</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>