<div class="patient-container">
  <div class="custom_modal">
    <h3 mat-dialog-title>{{headerText}}</h3>
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <form id="prescriptionFaxForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="prescriptionFaxForm">
            <div class="row">
              
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  
                  <mat-select placeholder="Source Fax Number" formControlName="sourceFaxNumber" matInput
                    [ngClass]="{ 'is-invalid': submitted && formControls['sourceFaxNumber'].errors }"  required>
                    <!-- <mat-option *ngFor="let rel of masterPrescriptionType" [value]="rel.id">
                      {{rel.drugName}}
                    </mat-option> -->
                    <mat-option value="7072154400">7072154400</mat-option>
                    <mat-option value="8669996776">8669996776</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formControls['sourceFaxNumber'].errors?.['required']">
                    Please select source Fax Number </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  
                  <mat-select placeholder="{{'country'|translate}}" formControlName="countryID" matInput
                    [ngClass]="{ 'is-invalid': submitted && formControls['countryID'].errors }"  required>
                    <mat-option *ngFor="let rel of masterCountry" [value]="rel.id">
                      {{rel.countryName}}
                    </mat-option>
                    <!-- <mat-option value="domain">Domain</mat-option>
                    <mat-option value="exact">Exact</mat-option> -->
                  </mat-select>
                  <mat-error *ngIf="formControls['countryID'].errors?.['required']">
                    {{"please_select_country"|translate}} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    
                    <mat-select placeholder="{{'state'|translate}}" formControlName="stateID" matInput
                      [ngClass]="{ 'is-invalid': submitted && formControls['stateID'].errors }"  required>
                      <mat-option *ngFor="let rel of masterState" [value]="rel.id">
                        {{rel.stateName}}
                      </mat-option>
                      <!-- <mat-option value="domain">Domain</mat-option>
                      <mat-option value="exact">Exact</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="formControls['stateID'].errors?.['required']">
                      {{"please_select_state"|translate}} </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    
                    <mat-select placeholder="{{'city'|translate}}" formControlName="cityID" matInput
                      [ngClass]="{ 'is-invalid': submitted && formControls['cityID'].errors }"  required>
                      <mat-option *ngFor="let rel of masterCity" [value]="rel.id">
                        {{rel.cityName}}
                      </mat-option>
                      <!-- <mat-option value="domain">Domain</mat-option>
                      <mat-option value="exact">Exact</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="formControls['cityID'].errors?.['required']">
                      {{"Please_enter_city"|translate}} </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
              
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    
                    <mat-select placeholder="Search Pharmacy" formControlName="pharmacyID" (selectionChange)="onprharmacySelect($event.value)"
                    required>
                  <mat-option>
                          <!-- intentionally commented code for running the application -->
                    <ngx-mat-select-search [formControl]="filterCtrl" [searching]="searching" placeholderLabel="Search"
                      noEntriesFoundLabel="No records found!">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let option of selectFilteredServerSideprescription" [value]="option.id">
                    {{option.value}}
                  </mat-option>
                    <mat-option *ngFor="let option of filteredServerSideprescription | async" [value]="option.id">
                    {{option.value}}
                  </mat-option>
                </mat-select>
                    <!-- <mat-select placeholder="Pharmacy Name" formControlName="pharmacyName" matInput
                      [ngClass]="{ 'is-invalid': submitted && formControls.pharmacyName.errors }"  required>
                      <mat-option *ngFor="let rel of masterPharmacynames" [value]="rel.id">
                        {{rel.pharmacyName}}
                      </mat-option>
                    
                    </mat-select> -->
                    <mat-error *ngIf="formControls['pharmacyID'].errors?.['required']">
                      {{"please_select_pharmacy_name"|translate}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{'pharmacy_address'|translate}}" formControlName="pharmacyAddress" />      
                  </mat-form-field>
                </div>
              </div>
          
              <div class="row">
              
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pharmacy Fax Number" formControlName="pharmacyFaxNumber" />
                  </mat-form-field>
                </div>
              </div>
          
          
          </form>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">{{"close"|translate}}</button>
      <div>
        <button name="Send Fax" mat-raised-button color="accent" (click)="onSubmit($event)" form="prescriptionFaxForm"
          class="text-uppercase" [disabled]="submitted" cdkFocusInitial>{{submitted ? 'Sending...' : 'Send Fax'}}</button>
        <!-- <button *ngIf="prescriptionModel.id==null || prescriptionModel.id==0" name="SaveAddMore" mat-raised-button
          color="primary" (click)="onSubmit($event)" form="prescriptionForm" class="text-uppercase ml-3"
          [disabled]="submitted" cdkFocusInitial>{{submitted
          ? 'Saving...' : 'Save & Add More'}}</button> -->
      </div>
    </div>
  </div>
</div>