.iconPointer{
    color: rgb(3, 9, 41);
    cursor: pointer;
}
.sortCss{
    font-family:sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4px;
}
.datesearch div{
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 500;
}