<h2 class="page_title mt-3">Manage Immunization</h2>
<div class="patient-container">

  <div class="clearfix"></div>
  <div class="readmin-panel">
    <div class="no-gutters row align-items-center flex-row-reverse">
      <div class="col-md-5 justify-content-end d-flex">
        <button mat-raised-button color="primary" (click)="openDialog()" class="add-primary-btn">
          <i class="fa fa-plus" aria-hidden="true"></i> <span>AddAllergies-Details</span>
        </button>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-7 mtm-27">
            <form class="readmin-form custom_form">
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="searchText" name="searchText" (keyup)="applyFilter()"
                  placeholder="Search" />
              </mat-form-field>
            </form>
          </div>
          <div class="col-5 filter-btn">
            <button class="clear-btn" mat-raised-button (click)="clearFilters()">
              Clear All
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <app-data-table [inputColumns]="displayedColumns" [inputSource]="serviceData" [inputMeta]="metaData"
      [inputButtons]="actionButtons" (onPageOrSortChange)="onPageOrSortChange($event)"
      (onTableActionClick)="onTableActionClick($event)">
    </app-data-table>
  </div>
</div>