::ng-deep .payment-blk .table td {
  text-align: initial !important;
  padding-left: 15px !important;
}

.export-btn-rt {
  position: absolute;
  right: 10px;
  top: -50px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total-amt {
  font-weight: 600;
  color: #01385f;
  background-color: #efefef;
  padding: 7px 20px;
  border: 4px;
}

.pad60 {
  padding-left: 60px!important;
}
@media all and (max-width:500px){
.export-btn-rt{
  right:5px;
  top: -40px;
}
}
