<div *ngIf="moduleTabs && moduleTabs.length > 0" class="mod-tabs">
  <div class="readmin-panel pt-0">
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" (click)="onTabChange(selectedTabIndex)">
          <mat-tab *ngFor="let tab of moduleTabs; let index = index">
              <ng-template mat-tab-label>
                  <span>{{tab.displayName}}</span>
              </ng-template>
          </mat-tab>
      </mat-tab-group>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div *ngIf="moduleTabs">
  <div *ngIf="selectedTabIndex != moduleTabs.length-1" class="next-btn1 mt-3 mb-3 pd-0 pull-right">
      <button (click)="nextTab()" mat-raised-button color="primary">Next</button>
  </div>
</div> -->