
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 3px;
}

.logo img {
    margin-bottom: 30px;
}

.logo h3 {
    font-size: 18px;
    font-weight: 600;
    color: #01385f;
    text-align: center;
}
.log-reg-card .card {
    border-radius: 2rem;
}
.btn-theme {
    background-color: #17a2b8;
    text-align: center;
    border-radius: 3px !important;
    color: #fff;
    width: 100%;
    box-shadow: 0 8px 17px 2px rgba(58, 58, 58, 0.14), 0 3px 14px 2px rgba(78, 78, 78, 0.12),
        0 5px 5px -3px rgba(80, 80, 80, 0.2);
    height: 54px;
}
.dont_acc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #01385f;
    margin-top: 1.5rem;
    padding: 0 2.5rem;
}
.dont_acc a {
    color: #1385ab;
}
.signup_txt {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #01385f;
    padding: 0 4rem;
}
.signup_txt a {
    color: #17a2b8;
}
@media (max-width: 575px) {
    .mobile-space {
        flex-wrap: wrap;
    }
    .mobile-space .frgt-txt {
        margin-top: 20px;
    }
}
