<div class="custom_modal">
  <h3 mat-dialog-title>Approve Appointment</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" id="approveAppointmentForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="approveAppointmentForm">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width"
                hintLabel="{{formControls['NotesToMember'].value ? 1000 - formControls['NotesToMember'].value.length : 1000}} Characters Remaining">
                <textarea matInput placeholder="Notes To Member" rows="4" maxlength="1000" formControlName="NotesToMember"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="cancel-btn" color="accent" mat-raised-button (click)="onClose()">{{"close"|translate}}</button>
    <button mat-raised-button color="primary" form="approveAppointmentForm" [disabled]="submitted" cdkFocusInitial>
      {{submitted ? 'Saving...' : ('submit'|translate)}}
    </button>
  </div>
</div>