/*Table Css*/
table {
    width: 100%;
  }
  
  .table {
    border-collapse: collapse;
    background-color: transparent;
  }
  
  .customtable {
    white-space: normal;
  }

  table th.mat-header-cell > div > button {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }
  /*Pagination*/
  .mat-paginator .mat-paginator-container {
    justify-content: space-between;
  }