<section class="wedo-banner">
    <div class="whatwedo-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Top Rated Secure and Easy Telehealth Solutions</h2>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="the-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading mt-2">Why to use Corvus?</h2>
                <div class="wedo-box">
                    <h4>Developed using the latest technologies and security compliances Corvus is a SaaS based solution which can be customized to match your offerings. Integrate with third party software, medical devices (IoT) and EHR’s and manage activities
                        and reports, all through the provider dashboard. Create a unified experience through web or mobile based experience for improved outcomes and patient engagement.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-line">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>TeleHealth has recently partnered with 200+ new doctors. 
                    <!-- <a href=""> Learn More</a> --></h2>
            </div>
        </div>
    </div>
</section>


<section class="secure-categories text-center">
    <div class="container">
        <div class="content">
            <div class="grid">
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-saas-archi.jpg" alt="saas" />
                    <figcaption>
                        <div>
                            <h2><span>SaaS-based </span> Architecture</h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> -->
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/claim-bills.jpg" alt="search" />
                    <figcaption>
                        <div>
                            <h2>{{"advanced" | translate}} <span> {{"search" | translate}} </span> Features</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-booking.jpg" alt="booking" />
                    <figcaption>
                        <div>
                            <h2>{{"appointment" | translate}} <span> Booking </span> & Scheduling</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
            </div>
            <div class="grid">
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-vedio-consult.jpg" alt="vedio" />
                    <figcaption>
                        <div>
                            <h2><span>Video </span> {{"consultation" | translate }}</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-soap-notes.jpg" alt="soap" />
                    <figcaption>
                        <div>
                            <h2>Dynamic <span> {{"soap"|translate}} </span> {{"notes" | translate}}</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-healthcare-system.jpg" alt="healthcare" />
                    <figcaption>
                        <div>
                            <h2><span>Healthcare </span> System Integration</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
            </div>
            <div class="grid">
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-eprescription.jpg" alt="eprescription" />
                    <figcaption>
                        <div>
                            <h2><span>{{"e-_prescription" | translate}}</span></h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-symtom-checker.jpg" alt="Symptom" />
                    <figcaption>
                        <div>
                            <h2><span>Symptom</span> Checker</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
                <figure class="effect-feature">
                    <img src="../../../assets/img/feature-provider-portal.jpg" alt="portal" />
                    <figcaption>
                        <div>
                            <h2>{{"advanced" | translate}} <span> {{"provider"| translate}} </span> Portal</h2>
                        </div>
                        <!-- <a href="#">View more</a> -->
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div><br />
<section class="blue-line">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>We provide our patients with a high level of confidentiality. 
                    <!-- <a href="#">
                        Learn More</a> -->
                    </h2>
            </div>
        </div>
    </div>
</section>
<section class="prime-care-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-care">
                    <div class="inside-box">
                        <h2>Health Risk Assessment</h2>
                        <p>Detect care gaps, health risks and health scores for chronic diseases. Intelligently assess risks through AI, chatbots (virtual coaches), cusotm algorithms, symtom checker, dynamic assessment forms, care plan and health records
                            analysis.
                        </p>
                        <!-- <a href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="primary-care primary-left">
                    <div class="inside-box">
                        <h2>Remote Monitoring </h2>
                        <p>The integration of medical devices such as stethoscope, ophthalmoscope, dermatoscope, otoscope, etc. and wearables from Apple, Samsung, Google health provides real-time data and help in health monitoring, disease detection and
                            prevention.
                        </p>
                        <!-- <a href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="primary-care mental-health">
                    <div class="inside-box">
                        <h2>Clinical Workflow Management</h2>
                        <p>Integrate your telehealth platform with EHR/EMR, pharmacies and labs for an effective communication for better patient outcomes. Benefit from interoperability, healthcare analytical engine, waiting room solutions, CDSS, dynamic
                            reporting.
                        </p>
                        <!-- <a href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="primary-care primary-left bill-claim">
                    <div class="inside-box">
                        <h2>Billing and Claim Processing</h2>
                        <p>HIPAA compliant solutions to help mitigate audit risks and aceelearate cash flow through optimizing claim processing & reimbursements, charge capture, document management, claim scrubbing, denial management, claim adjudication.</p>
                        <!-- <a href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="how_works_section">
    <div class="container">
        <h2 class="section-heading">How It Works for You</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place wow rollIn">
                    <div class="thumb">
                        <img height="200" src="../../../assets/img/works-1.jpg" alt="1">
                    </div>
                    <div class="place_info">
                        <!-- <a href="#"> -->
                            <h3>Product Understanding</h3>
                        <!-- </a> -->
                        <p>Consultation on the product features, costing and tentative timelines.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place wow rollIn">
                    <div class="thumb">
                        <img height="200" src="../../../assets/img/works-2.jpg" alt="2">
                    </div>
                    <div class="place_info">
                        <!-- <a href="#"> -->
                            <h3>Designing & Customization</h3>
                        <!-- </a> -->
                        <p>Add-ons and design changes. Use of project management tools, daily progress update, biweekly releases.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place wow rollIn">
                    <div class="thumb">
                        <img height="200" src="../../../assets/img/works-3.jpg" alt="3">
                    </div>
                    <div class="place_info">
                        <!-- <a href="#"> -->
                            <h3>Resource/ Team Alignment</h3>
                        <!-- </a> -->
                        <p>Identification of right team with right skillset. Detailed project plan, schedules and timelines.</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_place wow rollIn">
                    <div class="thumb">
                        <img height="200" src="../../../assets/img/works-4.jpg" alt="4">
                    </div>
                    <div class="place_info">
                        <!-- <a href="#"> -->
                            <h3>Application Testing & Deployment</h3>
                        <!-- </a> -->
                        <p>Bugs reporting and fixing, regression testing, application deployment on servers. Post deployment support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>