<div class="readmin-panel">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="isPatient" class=" pull-right justify-content-md-end d-flex mrgn-40">
        <button [disabled]="disableButton()" mat-raised-button   mat-raised-button color="primary" class="add-primary-btn" (click)="openDialog()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span [matTooltip]="disableButton() ? tooltipdMessage : ''" >Add Medication</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isPatient?true :isHistoryShareable">
    <div class="col-sm-6 mt-20 immunize custom-card custom-card-header" *ngFor="let medication of medicationList">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Medicine : {{medication.medicine}}
          </mat-card-title>
          <mat-card-actions>
            <button  mat-button (click)="openDialog(medication.id)"><i class="fa fa-pencil"></i></button>
            <button *ngIf="isPatient" mat-button (click)="delete(medication.id,medication.patientId)"><i class="fa fa-close"></i></button>
          </mat-card-actions>
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-start">
          <div>
            <p>Dose : <span>{{medication.dose}} mg</span></p>
            <p>Start Date : <span>{{medication.startDate}}</span></p>
          </div>
          <div class="ml-4">
            <p>Strength : <span>{{medication.strength}}</span></p>
            <p>End Date : <span>{{medication.endDate}}</span></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isHistoryShareable == false && isPatient == false">
    <h3>
      <i
        class="fa fa-exclamation-triangle text-warning"
        aria-hidden="true"
      ></i>
      Patient don't want to share his document
    </h3>
  </div>
  <div class="clearfix"></div>
  <div #tabContent>
    <!-- <div class="text-center" *ngIf="!(staffId)">No Staff Selected</div> -->
  </div>
</div>