<div class="terms-block">
  <section class="the-benefits policy-blk">
      <i (click)="closeDialog('close')" class="fa fa-close" aria-hidden="true"></i>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4 class="section-heading">Disclaimer</h4>
                  <div class="wedo-box">
                      <p>You are under 18 years old, you are not allowed to use this website unless you are under a parent’s or a guardian’s supervision during registration and attending consultation or using your account.
                      </p>
                      <p>If you want to proceed your guardian needs to click on “I Agree” button. The guardian name must be entered in the profile details, otherwise we will inactivate your account.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  <section class="the-benefits policy-blk">
  
      <div class="container">
          <div class="row">
            <button type="submit" class="btn btn-theme" value="yes"  (click)="onsubmit()">
                <!-- (click)="closeDialog('agree')" -->
                I agree
            </button>
          </div>
      </div>
  </section>
  </div>