/*payer Detail Box*/
.client_profile h6 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px;
}
.payer_detail p {
    display: inline-block;
    margin: 0;
    line-height: 22px;
    padding: 0px;
    padding-right: 25px;

}
.payer_detail p b {
    color: #7a7a7a;
    font-weight: 500;
}
.payer_detail span {
    color: rgba(0,0,0,.8);
    font-weight: 500;
    line-height: 20px;
}