<h2 class="page-title">Referrals</h2>
<div class="readmin-panel">

  <div class="clearfix"></div>
  <div class="container-fluid">
    <form class="readmin-form custom_form flex-wrap" id="testFormGroup" #documentForm="ngForm"
      [formGroup]="testFormGroup">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <mat-form-field class="example-full-width pos">
            <input matInput (keyup)="getAllLabReferralList(this.currentUser.id)"
              placeholder="{{'search_here'|translate}}" formControlName="searchKey" />
            <button class="search-button"></button>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput readonly [matDatepicker]="Searchbydob" (dateChange)="applyDobFilter($event)"
              placeholder="Search by DOB" formControlName="Searchbydob" />
            <mat-datepicker-toggle matSuffix [for]="Searchbydob"></mat-datepicker-toggle>
            <mat-datepicker #Searchbydob></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput readonly [matDatepicker]="rangeStartDate" (dateChange)="applyStartDateFilter($event)"
              placeholder="Referral start date" formControlName="rangeStartDate" />
            <mat-datepicker-toggle matSuffix [for]="rangeStartDate"></mat-datepicker-toggle>
            <mat-datepicker #rangeStartDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6">
          <mat-form-field class="example-full-width">
            <input matInput readonly [matDatepicker]="rangeEndDate" (dateChange)="applyEndDateFilter($event)"
              placeholder="Referral End date" formControlName="rangeEndDate" />
            <mat-datepicker-toggle matSuffix [for]="rangeEndDate"></mat-datepicker-toggle>
            <mat-datepicker #rangeEndDate></mat-datepicker>
          </mat-form-field>
        </div>
      <div class="row">
        <div class="col-lg-2 col-sm-6 filter-btn text-right"> 
            <button class="clearbtn" mat-raised-button (click)="clearFilters()">
              {{"clear_all"|translate}}
            </button>
          </div>
      </div>
      </div>
    </form>

    <div class="row">
      <div class="table-responsive mt-15">
        <mat-table #table [dataSource]="labReferrals" class="table table-hover customtable group-table table-bordered">
          <ng-container matColumnDef="Patient Name">
            <mat-header-cell *matHeaderCellDef>{{"patient_name" | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.patientName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Provider Name">
            <mat-header-cell *matHeaderCellDef>{{"provider_name" | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.staffName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Test Name">
            <mat-header-cell *matHeaderCellDef>{{"test_name"|translate}}</mat-header-cell>
            <mat-cell [title]="element.testName" *matCellDef="let element" class="test_name_block"
              style="display: flex; flex-direction: column">
              <div *ngFor="let item of element.testName.split('|'); let i = index" style="width: 100%">
                <div *ngIf="i < 3" style="
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                  ">
                  &#x2022;&nbsp;{{ item }}
                </div>
              </div>

              <div *ngIf="element.testName.split('|').length > 3"
                style="width: 100%; display: flex; justify-content: right">
                .....
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef> {{"status" | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <mat-select [(ngModel)]="element.status" (selectionChange)="onStatusChange($event, element)">
                <mat-option *ngFor="let status of statusArray" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Referal Date">
            <mat-header-cell *matHeaderCellDef
              >{{ "Referal_date" | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.createdDate | date : 'dd/MM/yyyy' }}
            </mat-cell>
          </ng-container> 
          
          <ng-container matColumnDef="Notes">
            <mat-header-cell *matHeaderCellDef> {{"notes" | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.notes }} </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="SampleCollected">
            <mat-header-cell *matHeaderCellDef>
              SampleCollected
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-slide-toggle
                [checked]="element.isSampleCollected"
                (click)="changeStatus(element)"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="Collection Date">
            <mat-header-cell *matHeaderCellDef>
              {{"collection_date"|translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{
              element.testCollectionDate
              ? (element.testCollectionDate | date : "dd-MM-yyyy")
              : "----"
              }}
              <!-- <input
                matInput
                placeholder="Change Date"
                readonly
                [value]="
                  element.testCollectionDate
                    ? (element.testCollectionDate
                    | date : 'dd-MM-yyyy')
                    : null
                "
              /> -->
              <!-- <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker> -->
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="QrCode">
            <mat-header-cell *matHeaderCellDef> QrCode </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.qrImagePath != ''">
                <img [src]="element.qrImagePath" alt="" (click)="imageInhancer(element, 'qrImage')" />
              </span>
              <span *ngIf="element.qrImagePath == ''"> ---- </span>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="Insurance/ Others">
            <mat-header-cell *matHeaderCellDef>
              Insurance/ Others
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                class="btn btn-primary buttons"
                (click)="downloadInsuranceTemplate(row)"
                title="download insurance"
              >
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>

              <button
                class="btn btn-info buttons"
                (click)="viewInsuranceDocument(row)"
                title="view insurance"
              >
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Referral">
            <mat-header-cell *matHeaderCellDef>  {{"referral" | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                class="btn btn-primary buttons"
                (click)="downloadTemplate(row)"
                title="download referral"
              >
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>

              <button class="btn btn-info buttons" (click)="viewDocument(row)" title="view referral">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Upload Result">
            <mat-header-cell *matHeaderCellDef> Upload Result </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                class="btn btn-primary buttons"
                (click)="openFileUploadModal(row)"
                title="view test details/result"
              >
                <i class="fa fa-upload" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container> -->

          <!-- <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>
              {{ "actions" | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="insurance_block">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="btn viewww" (click)="downloadInsuranceTemplate(row)" title="download insurance">
                    Download Insurance
                  </button>
                  <button class="btn viewww" (click)="viewInsuranceDocument(row)" title="view insurance">
                    View Insurance
                  </button>
                  <button class="btn viewww" (click)="downloadTemplate(row)" title="download referral">
                    Download Referral
                  </button>

                  <button class="btn viewww" (click)="viewDocument(row)" title="view referral">
                    View Referral
                  </button>
                  <button class="btn viewww" (click)="openFileUploadModal(row)" title="view test details/result">
                    View Test Details
                  </button>
                </div>
              </div>
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>
              {{ "actions" | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="insurance_block">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="btn viewww" (click)="downloadInsuranceTemplate(row)" title="download insurance">
                    Download Insurance
                  </button>
                  <button class="btn viewww" (click)="viewInsuranceDocument(row)" title="view insurance">
                    View Insurance
                  </button>
                  <button class="btn viewww" (click)="downloadTemplate(row)" title="download referral">
                    Download Referral
                  </button>

                  <button class="btn viewww" (click)="viewDocument(row)" title="view referral">
                    View Referral
                  </button>
                  <button class="btn viewww" (click)="openFileUploadModal(row)" title="view test details/result">
                    View Test Details
                  </button>
                </div>
              </div>
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="QrCode">
            <mat-header-cell *matHeaderCellDef> QrCode </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.qrImagePath != ''">
                <img style="width: 120px" [src]="element.qrImagePath" alt="" />
              </span>
              <span *ngIf="element.qrImagePath == ''"> ---- </span>
            </mat-cell>
          </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20, 25]" [showFirstLastButtons]="true"
          (page)="setPagePaginator($event)" [length]="totalSize">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- <span *ngFor="let a of actionButtons">
  <button *ngIf="!a.type && a.key == 'download'" class="btn btn-primary"
    (click)="onTableActionClick(a.key, row)" title="{{ a.displayName }}">
    <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
    <span *ngIf="!a.class">{{ a.displayName }}</span>
  </button>
  <button *ngIf="!a.type && a.key == 'view'" class="btn btn-info" (click)="onTableActionClick(a.key, row)"
    title="{{ a.displayName }}">
    <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
    <span *ngIf="!a.class">{{ a.displayName }}</span>
  </button>
</span> -->