<div class="custom_modal">
  <h3 mat-dialog-title>{{headerText}}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form id="medicationForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="medicationForm">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Medicine" maxlength="100" formControlName="medicine"
                  [ngClass]="{ 'is-invalid': submitted && formControls['medicine'].errors }" required />
                <mat-error *ngIf="formControls['medicine'].errors?.['required']">
                  Please enter medicine
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput appNumbersOnly placeholder="Dose(mg)" maxlength="5" formControlName="dose"
                  [ngClass]="{ 'is-invalid': submitted && formControls['dose'].errors }" required />
                <mat-error *ngIf="formControls['dose'].errors?.['required']">
                  Please enter dose
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Frequency" formControlName="frequencyID" matInput
                  [ngClass]="{ 'is-invalid': submitted && formControls['frequencyID'].errors }" required>
                  <mat-option *ngFor="let rel of masterFrequencyType" [value]="rel.id">
                    {{rel.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['dose'].errors">
                  Please select frequency
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Strength" formControlName="strength"
                  [ngClass]="{ 'is-invalid': submitted && formControls['strength'].errors }" required />
                <mat-error *ngIf="formControls['strength'].errors?.['required']">
                  Please enter strength
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput readonly [matDatepicker]="startDate" placeholder="Start Date"
                  formControlName="startDate" required />
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                <mat-error *ngIf="formControls['startDate'].errors?.['required']">
                  Please enter end date
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput readonly [matDatepicker]="endDate"
                  [ngClass]="{ 'is-invalid': submitted && formControls['endDate'].errors }" placeholder="End Date"
                  formControlName="endDate" />
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
                <mat-error *ngIf="formControls['endDate'].errors?.['required']">
                  Please enter end date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">Close</button>
    <div class="d-flex">
      <button name="Save" mat-raised-button color="accent" (click)="onSubmit($event)" form="medicationForm"
        class="text-uppercase" [disabled]="submitted" cdkFocusInitial>{{submitted ? 'Saving...' : 'Save'}}</button>
      <button *ngIf="medicationModel.id==null || medicationModel.id==0" name="SaveAddMore" mat-raised-button
        color="primary" (click)="onSubmit($event)" form="medicationForm" class="text-uppercase ml-3"
        [disabled]="submitted" cdkFocusInitial>{{submitted
        ? 'Saving...' : 'Save & Add More'}}</button>
    </div>
  </div>
</div>