.mat-input-element:disabled {
    color: black;
}

/* .scroll-box{
    overflow-y: auto;
    max-height: 400px;
} */

.crsr-ptr{
    cursor: pointer;
}
.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 35px;
    width: 48px;
    color: #fff;
    opacity: 1;
    min-width: auto;
  }
/* .otheraptslots{
    background-color: rgb(147, 238, 147);
    padding: 10px;
    border-radius: 40%;
    line-height: 25px;
    white-space: nowrap;
   
}
.slot-block .otheraptslots{
    border-radius: 10px;
    font-size: 16px;
    padding: 6px 12px;
} */

.otherappts-txt{

        display: inline-block;
        min-width: 10px;
        line-height: 1;
        color: white;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
        font-size: 15px !important;
    border: 0px !important;
    color: #000000 !important;
    font-weight: 500 !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    padding:6px !important;
   
    
}

.oddCellColor{
    background-color: #b6f3fa !important;
}
.evenCellColor{ 
    background-color: #e0cdf7 !important;
}
