<section class="cont-banner">
  <div id="provider" class="contactus-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mission_headline">
            <h3>{{"Join_Us_and_be_a_part_of_the_next_generation_in_Healthcare"|translate}}</h3>
            <p>
              {{"Connect_with_new_and_existing_patients_through_virtual_consultations_wherever_you_are_on_your_phone_or_your_computer."
              |translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="support_head">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
<section>
  <div class="points-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="sub-heading">{{"Benefits_with_myHealthyGate"|translate}}</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="points-card bg-blue-hover">
            <div class="points-img bg-blue">
              <img src="../../../assets/img/benefits-img-1.png" alt="">
              <!-- <img src="../../../assets/img/business.svg" alt=""> -->
            </div>
            <h3>{{"Business"|translate}}</h3>
            <p>{{"Access_our_reliable_and_growing_patient_volume"|translate}}</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="points-card bg-red-hover">
            <div class="points-img bg-red">
              <img src="../../../assets/img/benefits-img-2.png" alt="">
              <!-- <img src="../../../assets/img/emr.svg" alt=""> -->
            </div>
            <h3>{{"EMR"|translate}}</h3>
            <p>{{"Web_based_EMR_with_full_access_to_records_notes_&_history"|translate}}</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="points-card bg-green-hover">
            <div class="points-img bg-green">
              <img src="../../../assets/img/benefits-img-3.png" alt="">
              <!-- <img src="../../../assets/img/appointments.svg" alt=""> -->
            </div>
            <h3>{{"appointments"|translate}}</h3>
            <p>{{"Manage_Online_Face_2_Face_or_even_Home_Visit"|translate}}</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="points-card bg-yellow-hover">
            <div class="points-img bg-yellow">
              <img src="../../../assets/img/benefits-img-4.png" alt="">
              <!-- <img src="../../../assets/img/insurance.svg" alt=""> -->
            </div>
            <h3>{{"Insurance"|translate}}</h3>
            <p>Have your insurance details listed</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="points-card bg-purple-hover">
            <div class="points-img bg-purple">
              <img src="../../../assets/img/benefits-img-5.png" alt="">
              <!-- <img src="../../../assets/img/payments.svg" alt=""> -->
            </div>
            <h3>{{"payment"|translate}}</h3>
            <p>{{"Get_paid_instantly_upon_appointment_booking"|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="board-fee">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mission_headline">
            <h5>{{"Getting_you_on_Board_is_simple(and_it's_Free)"|translate}}</h5>
          </div>
        </div>
      </div>
      <div class="board-cont-sec">
        <div class="row">
          <div class="col-md-3">
            <div class="board-card">
              <div class="board-img">
                <span>01</span>
                <img src="../../../assets/img/sign-up.svg" alt="">
              </div>
              <h3>{{"sign_up"|translate}}</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board-card">
              <div class="board-img bg-red">
                <span>02</span>
                <img src="../../../assets/img/details.svg" alt="">
              </div>
              <h3>{{"Enter_your_details"|translate}}</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board-card">
              <div class="board-img bg-green">
                <span>03</span>
                <img src="../../../assets/img/upload.svg" alt="">
              </div>
              <h3>{{"Upload_credentials_and_certificates"|translate}}</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board-card">

              <div class="board-img bg-orange">
                <span>04</span>
                <img src="../../../assets/img/photo.svg" alt="">
              </div>
              <h3>{{"Upload_photos_of_you_or_your_clinic"|translate}}</h3>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-warning btn-theme-prov" (click)="signUpClick()">
              {{"Signup_Now"|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="credentials-verified">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mission_headline">
          <h5>{{"Once_your_credentials_are_verified(up_to_48_hours)_you’ll_be_able_to:"|translate}}</h5>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="left-sec">
          <!-- <img src="../../../assets/img/dashboard-mobile.svg" alt=""> -->
          <ul>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
              {{"Set_your_availability_and_enjoy_flexible_hours"|translate}}
            </li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
              {{"Choose_your_own_fees_based_on_the_services_you_provide"|translate}}</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
              {{"Manage_all_your_bookings_and_patient_records"|translate}}</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
              In{{"Invite_and_Consult_with_colleagues_in_any_specialty"|translate}}</li>
          </ul>
          <div class="text-center">
            <button class="btn btn-danger" (click)="signUpClick()">{{"Signup_Now"|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="right-sec">
          <ul>
            <li><img src="../../../assets/img/availability.svg" alt="">
              <h3>Manage Patients</h3>
            </li>
            <li><img src="../../../assets/img/fee.svg" alt="">
              <h3>Pending Requests</h3>
            </li>
            <li><img src="../../../assets/img/manage.svg" alt="">
              <h3>{{"set_availability"|translate}}</h3>
            </li>
            <li><img src="../../../assets/img/invite.svg" alt="">
              <h3>Check Earnings</h3>
            </li>
          </ul>
          <img class="right-img" src="../../../assets/img/verified-img2.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="view-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="view-sec">
            <img src="../../../assets/img/laptop-img.svg" alt="">
            <ul>
              <li (click)="viewFun(1)" [ngClass]="(this.viewFlag == 1) ? 'active' : ''">{{"Patient_view"|translate}}
              </li>
              <li (click)="viewFun(2)" [ngClass]="(this.viewFlag == 2) ? 'active' : ''">{{"Provider_View"|translate}}
              </li>
              <li (click)="viewFun(3)" [ngClass]="(this.viewFlag == 3) ? 'active' : ''">{{"Clinical_view"|translate}}
              </li>
            </ul>
            <!-- <div class="content" *ngIf="viewFlag == 1">
              <p>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fuga possimus enim earum sed,</p>
            </div>
            <div class="content" *ngIf="viewFlag == 2">
              <p>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fuga possimus enim earum sed,</p>
            </div>
            <div class="content" *ngIf="viewFlag == 3">
              <p>3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fuga possimus enim earum sed,</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div class="we-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mission_headline">
            <h5>We Support your Journey to Success</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-one.png" alt="">
              <h3>Patient Volume</h3>
            </div>
            <p>Access to reliable to growing patient value</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-two.png" alt="">
              <h3>Flexible Schedule</h3>
            </div>
            <p>Work anywhere with a flexible schedule</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-three.png" alt="">
              <h3>EMR</h3>
            </div>
            <p>Web based EMR with full access to records, history and notes in one Dashboard</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-four.png" alt="">
              <h3>Appointments</h3>
            </div>
            <p>Manage all your appointments: Online, Face to Face or even Home Visits</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-five.png" alt="">
              <h3>Ratings</h3>
            </div>
            <p>View your rating and reviews to showcase your experience</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="we-support-card">
            <div class="we-support-img">
              <img src="../../../assets/img/image-six.png" alt="">
              <h3>Communication</h3>
            </div>
            <p>Live Chat, Wating Rooms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="mission-sec services-sec">
  <div class="pharma-sec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mission_headline">
            <h5>{{"Pharmacies"|translate}}</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="mission_img">
            <!-- <img src="../../../assets/img/vector-dots.svg" alt="" class="mission_dot"> -->
            <img src="../../../assets/img/pharma.svg" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mission_content align-items-center">
            <div class="mission_content1">
              <p>{{"Sign_up_and_be_selected_by_our_patients_as_preferred_choice"|translate}}</p>
              <p>{{"Get_electronic_referrals"|translate}}</p>
              <p>{{"Manage_patients_data_for_prescriptions"|translate}} </p>
              <button class="btn btn-warning btn-theme-prov" (click)="signUpClick()">
                {{"Signup_Now"|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="radiology-laboratories">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mission_headline">
            <h5>{{"Radiology_&_Laboratories"|translate}}</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 order-m-2">
          <div class="mission_content align-items-center">
            <div class="mission_content1">
              <p>{{"Electronic_access_for_referrals"|translate}}
              <p>{{"Share_results_in_a_trusted_and_sec"|translate}}
              <p>{{"Manage_Home_Visit_appointment_through_our_booking_system"|translate}}
              <p>{{"Promote_your_Centre_through_the_sign_up_process"|translate}}</p>
              <button class="btn btn-warning btn-theme-prov" (click)="signUpClick()">
                {{"Signup_Now"|translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 order-m-1">
          <div class="mission_img">
            <img src="../../../assets/img/radio.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="clinic" class="clinics-sec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mission_headline">
            <h5>{{"Clinics"|translate}}</h5>
            <p>
              {{"Enhance_your_services_by_joining_My_Healthy_Gate._Ideal_for_small_to_medium_clinics_and_medical_centers._You_will_be_able_to_reshape_your_online_services_and_manage_multiple_doctors_or_multiple_clinical_staff_from_one_spot."|translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="mission_img">
            <!-- <img src="../../../assets/img/vector-dots.svg" alt="" class="mission_dot"> -->
            <img src="../../../assets/img/pharma.svg" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mission_content align-items-center">
            <div class="mission_content1">
              <h4>{{"Providing_different_lof_access_for_clinicians_and_personals"|translate}}</h4>
              <p>
                {{"Share_room_access:_colleagues_will_be_able_to_cover_other_appointments_through_authorized_access"|translate}}
              </p>
              <p>{{"Manage_waiting_rooms_with_your_own_content"|translate}}</p>
              <p>{{"Transfer_patients_internally"|translate}}</p>
              <p>{{"Manage_doctors_availability_and_leaves"|translate}}</p>
              <p>{{"Integrated_Electronic_Health_records_and_referrals"|translate}}</p>
              <p>{{"Manage_payments_and_access_insurance_details"|translate}}</p>
              <p>{{"Web_Based_EMR_allowing_you_to_manage_all_patient_records_notes"|translate}}</p>
              <button class="btn btn-warning btn-theme-prov" (click)="signUpClick()">
                {{"Signup_Now"|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sec-head">
          <h3>All you need is an internet and a PC or Mobile <span>Interested?</span></h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="provide_img">
          <img src="../../../assets/img/doctor-profile.png" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="provide_content">
          <ul>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Create an account Free Of Charge
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Load in your details and profile
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Load in your credentials and certificate of
              practice
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Once your credentials are verified, you can
              start
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Load in your availability and enjoy flexible
              hours
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Choose your own fees based on the service
              you provide
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Your admin can also manage your bookings and
              patients’ records
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" /> Your payment will be transferred
              electronically
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="vision-sec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="vision_sub_heads">
          <li>For Laboratory and Radiology Providers </li>
          <li>Discover how you can boost referrals. </li>
          <li>Join My HealthyGate unique partnership with your centres and promote your service </li>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="vision_img">
          <img src="assets/img/about-img-1.png" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="vision_content">
          <div class="vision_content1">
            <h3>You can play two roles to support the patient journey in My Healthy Gate </h3>
            <p>Place a full booking system for patients to access directly including home visit calls
            </p>
            <p>Receive referrals sent from the doctor</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="vision-sec direct-booking">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="vision_subhead">
          <h2>For direct <span>bookings</span></h2>
          <p><strong>After you log in and credentials are verified you can </strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="vision_content">
          <div class="vision_content1">
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Create an account Free Of Charge </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Load in your details and profile </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Load in the centre’s credentials and certificate of practice </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Once your credentials are verified, you can start </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Load in your availability and home visit slots </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="vision_content">
          <div class="vision_content1">
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Your admin can also manage your bookings and patients’ records </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Patient can choose a time for the test </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  You can accept or reject or reschedule </p>
            <p><img src="../../../assets/img/check-icon-blue.svg" alt="" />  Patients' contact and details will be available as a member </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section> -->

<!-- <section class="mission-sec doctor-referral">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="referal_subheads">
          <h2>For doctor <span>referral</span></h2>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mission_content">
          <div class="mission_content1">
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> Add your centre to My HealthyGate</p>
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> Patients/ doctors will choose their preferred centre from our list </p>
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> You can access the referral electronically once you log in </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mission_content">
          <div class="mission_content1">
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> Results can be uploaded once ready on the portal at a click of a button </p>
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> Patient and doctor can access the results with the shared portal </p>
            <p><img src="../../../assets/img/check-icon-torquoise.svg" alt="" /> You can see the list of referrals , past referrals, and patients previous results</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="member_plan">
  Taken Backup of this section 20230623
  <div class="container">
    <div class="sub_heading">
      <h2>{{'membership_plans'|translate}}</h2>
      <p>{{'become_a_member_to_book_appointment'|translate}}
      </p>
      <label class="switch_t">
        <span class="toggle_left_text">{{'bill_monthly'|translate}}</span>
        <input type="checkbox" checked />
        <span class="slider_t round"></span>
        <span class="toggle_right_text">{{'bill_anually'|translate}}</span>
      </label>
    </div>
    <div class="member_area">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="member_card">
            <h3>{{'basic'|translate}}</h3>
            <div *ngFor="let basic of basicPlan">
              <div [innerHTML]="basic.descriptions | translate"></div>
            </div>
            
            <p class="plan_cost" *ngFor="let basic of basicPlan">${{basic.amountPerClient}} /<span>
                {{'start_free'|translate}}
              </span></p>
            <button class="btn btn-primary btn-green btn-block" (click)="loginClick()">
              {{'start_free'|translate}}
            </button>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="member_card">
            <h3> {{'premium'|translate}}</h3>
            <div *ngFor="let premium of premiumPlan">
              <div [innerHTML]="premium.descriptions | translate"></div>
            </div>
           
            <p class="plan_cost" *ngFor="let premium of premiumPlan">${{premium.amountPerClient}}
              /<span>{{'month'|translate}}</span>
            </p>
            <button class="btn btn-primary btn-dark-green btn-block" (click)="loginClick()">
              {{'start_your_membership'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- <section class="vision-sec pharmacy_sec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="referal_subheads">
          <h2>How it <span>Works? </span></h2>
        </div>
      </div>
      <div class="col-md-6 order-m-2">
        <div class="vision_content">
          <div class="vision_content1">
            <p>Create an account as a pharmacist </p>
            <p>Load in your details and profile </p>
            <p>Load in your credentials and certificate of practice </p>
            <p>Once your credentials are verified, you can start </p>
            <p>Notifications of referrals will be accessible through your account </p>
            <p>Once you dispense the medication you can update the data </p>
            <p>Medications will be updated in the patient file </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-m-1">
        <div class="vision_img">
          <img src="assets/img/provider-doctor-8.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="convenince_sec">
    <div class="convenince_sec_1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>{{"Be_a_part_of_myHealthyGate"|translate}}</h2>
            <p>
              {{"thousands_of_providers_are_changing_healthcare_by_incorporating_myhealthygate_into_their_practice."|translate}}
            </p>
            <button class="btn btn-warning btn-theme-prov" (click)="signUpClick()">{{"Signup_Now"|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>