<div class="custom_modal">
  <h3 mat-dialog-title>{{ "upload_document" | translate }}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form
          id="addQualificationForm"
          #documentForm="ngForm"
          class="readmin-form custom_form"
          [formGroup]="addQualificationForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{ 'course' | translate }}"
                  formControlName="course"
                  [ngClass]="{
                    'is-invalid': submitted && addFormControls['course'].errors
                  }"
                  required
                />

                <mat-error *ngIf="addFormControls['course']?.errors">
                  <!-- {{ "please_enter_course" | translate }} -->
                  {{"please_enter_course"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{ 'university' | translate }}"
                  formControlName="university"
                  [ngClass]="{
                    'is-invalid': submitted && addFormControls['university'].errors
                  }"
                  required
                />

                <mat-error *ngIf="addFormControls['university']?.errors">
                  <!-- {{ "please_enter_university" | translate }} -->
                  {{"please_enter_university"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="startDate"
                  placeholder="{{'from_date'|translate}}"
                  formControlName="startDate"
                  [ngClass]="{
                    'is-invalid': submitted && addFormControls['startDate'].errors
                  }"
                  required
                  readonly
                />
                <!-- {{ 'Start_date' | translate }} -->
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                <mat-error *ngIf="addFormControls['startDate']?.errors">
                  <!-- {{ "please_enter_start_date" | translate }} -->
                 {{"please_enter_from_date"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="endDate"
                  placeholder="{{'to_date'|translate}}"
                  formControlName="endDate"
                  [ngClass]="{
                    'is-invalid': submitted && addFormControls['endDate'].errors
                  }"
                  required
                  readonly
                />
                <!-- {{ 'End_date' | translate }} -->
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
                <mat-error *ngIf="addFormControls['endDate']?.errors">
                  <!-- {{ "please_enter_end_date" | translate }} -->
                  {{"please_enter_to_date"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12 pd-0 mt-3">
                <div class="uplaod_pic">
                  <label class="browse">
                    <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                    <input
                      type="file"
                      [ngClass]="{
                        'is-invalid': submitted && imageError == true
                      }"
                      (change)="handleImageChange($event)"
                    />
                  </label>
                </div>
                <mat-error *ngIf="imageError == true">
                  <!-- {{ "please_upload_image_here" | translate }} -->
                  {{"please_upload_file_here"|translate}}
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <span>
                <p *ngFor="let file of fileList; let i = index">
                  {{ file.fileName }}
                  <button
                    type="button"
                    title="Delete"
                    class="tbactionbtn"
                    (click)="removeFile(i)"
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </p>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{ "close" | translate }}
    </button>
    <button
      name="Save"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      form="addQualificationForm"
      class="text-uppercase"
      [disabled]="submitted"
      cdkFocusInitial
    >
      {{ submitted ? "Uploading..." : ("save" | translate) }}
    </button>
  </div>
</div>
