<div class="custom_modal">

    <div class="policy-blk cstm-tp">
        <i class="fa fa-close" aria-hidden="true" (click)="closeDialog('close')"></i>
    </div>

    <div class="text-center" mat-dialog-container>

        <h4 class="mt-4">Sorry!</h4>
        <!-- <p>Your appointment has been successfully booked with us for <br /> <span *ngFor="let spl of staffSpecialities">{{spl.speciality}}</span> {{confirmation.date | date:'fullDate'}} between {{confirmation.startTime}} to {{confirmation.endTime}}</p> -->
        <p class="mt-2 txt-css">Requested provider is not available now, your money will be refunded in a couple of business days, please check another provider</p>
    </div>
    <div class="col-md-12 mt-2 text-center" mat-dialog-actions>
        <button mat-raised-button class="cancel-btn" [routerLink]="['/urgentcare-providers']" (click)="onDoneClick()">Find Provider</button>

    </div>
</div>