<div class="custom_modal">
  <h3 mat-dialog-title>Invite User</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" id="sendUserInvitationForm" #documentForm="ngForm"
          class="readmin-form custom_form" [formGroup]="sendUserInvitationForm">
          <div class="row">
            <div class="col-sm-12">
              <label id="example-radio-group-label">Select User Type</label>
              <mat-radio-group style="position: relative; top: 3px; left: 14px"
                aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button style="margin-right: 10px" class="example-radio-button" [checked]="type.value == 1"
                  (change)="changeUserType($event, type)" *ngFor="let type of userTypes" [value]="type.value">
                  {{ type.key }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="position: relative">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Full Name" (keyup)="applyFilter($event)" maxlength="100"
                  formControlName="name" [ngClass]="{
                    'is-invalid': submitted && formControls['name'].errors
                  }" required />
                <mat-error *ngIf="formControls['name'].errors?.['required']">
                  {{"please_enter_name"|translate}}
                </mat-error>
              </mat-form-field>
              <ul class="ul-user-list" *ngIf="userExisted">
                <li *ngFor="let user of userList" (click)="getUserDetail(user)">
                  <img src="{{
                      user.photoThumbnailPath || '../../assets/img/noimage2.png'
                    }}" alt="user" class="profile-pic img-fluid" />&nbsp;
                  <font style="color: #0f8f94; font-weight: 500">{{
                    user.fullName
                    }}</font>&nbsp;-&nbsp;
                  <font style="
                      color: #76a776;
                      font-weight: 300;
                      font-size: 13px;
                      font-style: italic;
                    ">{{ user.roleName }}</font>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'email'|translate}}" maxlength="100" formControlName="email"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['email'].errors
                  }" required />
                <mat-error *ngIf="formControls['email'].errors?.['required']">
                  {{"please_enter_email"|translate}}
                </mat-error>
                <mat-error *ngIf="formControls['email'].errors?.['email']">
                  {{"Please_enter_a_valid_email_address"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{"close"|translate}}
    </button>
    <button name="Save" mat-raised-button color="primary" form="sendUserInvitationForm" class="text-uppercase"
      [disabled]="submitted" cdkFocusInitial>
      {{ submitted ? "Sending..." : "Send" }}
    </button>
  </div>
</div>