<div class="super_audit">
  <h2 class="page-title">Manage Audit Logs</h2>
  <div class="clearfix"></div>
  <div class="readmin-panel">

    <div class="no-gutters">
      <div class="col-md-7 justify-content-start pull-left">
        <div class="row">
          <div class="col-7 mtm-27 search_manage_provide">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchText" name="searchText" (keyup)="applyFilter()"
                placeholder="Search">
            </mat-form-field>
          </div>
          <div class="col-5 filter-btn">
            <button class="clear-btn" mat-raised-button (click)='clearFilters()'>Clear All</button>
          </div>
        </div>
      </div>
      <div class="col-md-5 pull-right justify-content-md-end d-flex"></div>
    </div>

  <div class="clearfix"></div>
  <app-data-table [inputColumns]="displayColumns" [inputSource]="auditLogs" [inputMeta]="metaData"
    (onPageOrSortChange)="onPageOrSortChange($event)"></app-data-table>
</div>
</div>