.btn-theme {
    background-color: #17a2b8;
    text-align: center;
    border-radius: 3px !important;
    color: #fff;
    width: 60%;
    margin: auto;
    display: block;
    box-shadow: 0 8px 17px 2px rgba(58, 58, 58, 0.14), 0 3px 14px 2px rgba(78, 78, 78, 0.12),
        0 5px 5px -3px rgba(80, 80, 80, 0.2);
    height: 54px;
}