<div class="container-fluid mb-7">
  <div class="row">
    <div class="col-12 count-list">
      <h3>
        {{ totalRecords }} {{ "matches_found" | translate }} -
        {{ searchedLocation }}
      </h3>
      <div class="d-flex">
        <!-- <button
          mat-raised-button
          color="primary"
          [routerLink]="['/urgentcare-providers']"
          routerLinkActive="active"
        >
          Urgent Care
        </button> -->
        <div class="sortBy align-items-center">
          <span class="sort_width">{{ "sort_by" | translate }} :</span>
          <ng-select class="custom-ng-select" [placeholder]="'select' | translate" [items]="sortby" 
            (change)="onSortChange($event)"></ng-select>
          <div class="list-grid-btn d-flex">
            <i [class.active]="doctorWidgetClass === 'col-sm-12 list-profile'" class="fa fa-bars pr-2"
              aria-hidden="true" (click)="doctorWidgetClass = 'col-sm-12 list-profile'"></i>
            <i [class.active]="doctorWidgetClass === 'col-sm-6 grid-profile'" class="fa fa-th-large" aria-hidden="true"
              (click)="doctorWidgetClass = 'col-sm-6 grid-profile'"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 search-filter">
      <div class="search_sticky">
        <mat-accordion [multi]="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-filter" aria-hidden="true"></i>
                {{ "search" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-widget">
              <mat-form-field>
                <input #prosearchtext matInput placeholder="{{ 'search' | translate }}" />
              </mat-form-field>
              <!-- <p style="color: red; font-size: 12px">
                (*Note: You can search only those provider whose consultation
                fees and appointment is available)
              </p> -->
              <ng-select  [placeholder]="'search_by_location' | translate " [(ngModel)]="selectedLocation" [items]="location"
                (change)="locationChange()" bindLabel="locationName" bindValue="id"></ng-select>
            </div>
          </mat-expansion-panel>

          <!-- <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ "date" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-widget mb-3">
              <ng-datepicker
                [(ngModel)]="selectedDate"
                class="custom-ng-datepicker"
                (ngModelChange)="onDateChange($event)"
                [options]="options"
                #tempselectedDate
              >
              </ng-datepicker>
            </div>
          </mat-expansion-panel> -->

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-user-md" aria-hidden="true"></i>
                {{ "select_speciality" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-widget">
              <div class="d-flex flex-column">
                <ng-scrollbar>
                  <div [ngStyle]="{ height: '130px' }">
                    <ng-container *ngFor="
                        let spl of speciality | slice : minIndex : maxIndex;
                        let i = index
                      ">
                      <mat-checkbox [checked]="isKeySet(checkedSpecialities, spl.id)"
                        (change)="onSpecialityChange(spl, $event)" [disabled]="spl.id == 0">
                        {{ spl.value }}
                      </mat-checkbox>
                    </ng-container>
                  </div>
                </ng-scrollbar>
                <div class="d-flex justify-content-between">
                  <span class="more-widget" *ngIf="maxIndex > 10 && speciality.length > 10"
                    (click)="maxIndex = maxIndex - 10">{{"less"|translate}}...</span>
                  <span class="more-widget" *ngIf="maxIndex < speciality.length"
                    (click)="maxIndex = maxIndex + 10">{{"more"|translate}}...</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-stethoscope" aria-hidden="true"></i>
                {{ "Select_services" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-widget">
              <div class="d-flex flex-column">
                <ng-scrollbar>
                  <div [ngStyle]="{ height: '300px' }">
                    <ng-container *ngFor="
                        let srv of services
                          | slice : minIndexService : maxIndexService;
                        let i = index
                      ">
                      <mat-checkbox [checked]="isKeySet(checkedServices, srv.id)"
                        (change)="onServiceChange(srv, $event)" [disabled]="srv.id == 0">
                        {{ srv.value }}
                      </mat-checkbox>
                    </ng-container>
                  </div>
                </ng-scrollbar>
                <div class="d-flex justify-content-between">
                  <span class="more-widget" *ngIf="maxIndexService > 10 && services.length"
                    (click)="maxIndexService = maxIndexService - 10">{{"less"|translate}}...</span>
                  <span class="more-widget" *ngIf="maxIndexService < services.length"
                    (click)="maxIndexService = maxIndexService + 10">{{"more"|translate}}...</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                {{ "gender" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-widget">
              <div class="d-flex flex-column">
                <ng-container *ngFor="let g of masterGender">
                  <mat-checkbox [checked]="isKeySet(checkedGenders, g.id)" (change)="onGenderChange(g, $event)">
                    {{ g.gender }}
                  </mat-checkbox>
                </ng-container>

                <!-- <ng-select placeholder="Search By Gender"
                         [(ngModel)]="selectedGender" [items]="masterGender" (change)="genderChange($event)" bindLabel="gender" bindValue="id"></ng-select>  -->
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                {{ "language" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-widget">
              <div class="d-flex flex-column">
                <ng-container *ngFor="let language of masterLanguage">
                  <mat-checkbox (change)="onlanguageChange($event, language.language)" [checked]="language.isChecked">
                    {{ language.language }}
                  </mat-checkbox>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fa fa-money" aria-hidden="true"></i> Consultation Fees
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="filter-widget">
                        <div class="d-flex flex-column">
                            <mat-checkbox id=11 (change)="onConsultationFeeChange($event)">
                                Less then USD 100
                            </mat-checkbox>
                            <mat-checkbox id=12 (change)="onConsultationFeeChange($event)">
                                USD 100 - 200
                            </mat-checkbox>
                            <mat-checkbox id=13 (change)="onConsultationFeeChange($event)">
                                USD 200 - 300
                            </mat-checkbox>
                            <mat-checkbox id=14 (change)="onConsultationFeeChange($event)">
                                More then USD 300
                            </mat-checkbox>
                        </div>
                    </div>
                </mat-expansion-panel> -->

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ "consultation_fee" | translate }} (JOD)
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-widget price-range mb-3">
              <!-- <span>$0</span>
                        <span class="pull-right">${{checkedRates}}</span> -->
              <!-- <mat-slider (input)="onConsultationFeeChange($event)" min="0" max="1000"></mat-slider> -->
              <ngx-slider (userChangeEnd)="onConsultationFeeChange()" [(value)]="minrate" [(highValue)]="maxrate"
                [options]="Slider"></ngx-slider>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="false" hidden>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ "search_by_date" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
                <!-- intentionally commented code for running the application -->
            <!-- <div class="filter-widget mb-3">
              <ng-datepicker [(ngModel)]="selectedDate" class="custom-ng-datepicker"
                (ngModelChange)="onDateChange()" [options]="options" #tempselectedDate>
              </ng-datepicker>
            </div> -->
            <div class="filter-widget mb-3">
              <ng-datepicker [(ngModel)]="selectedDate" class="custom-ng-datepicker"
                (ngModelChange)="onDateChange()" #tempselectedDate>
              </ng-datepicker>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                {{ "client_review" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-widget">
              <div class="d-flex flex-column rating">
                <mat-checkbox id="5" (change)="onReviewRatingChange($event)" #temprating>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <span> (5)</span>
                </mat-checkbox>
                <mat-checkbox id="4" (change)="onReviewRatingChange($event)" #temprating>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span> (4)</span>
                </mat-checkbox>
                <mat-checkbox id="3" (change)="onReviewRatingChange($event)" #temprating>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span> (3)</span>
                </mat-checkbox>
                <mat-checkbox id="2" (change)="onReviewRatingChange($event)" #temprating>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span> (2)</span>
                </mat-checkbox>
                <mat-checkbox id="1" (change)="onReviewRatingChange($event)" #temprating>
                  <i class="fa fa-star filled" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span> (1)</span>
                </mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-card class="mb-3">
          <mat-card-content>
            <div class="filter-btn">
              <!-- <button mat-raised-button color="primary" (click)="applyFilter()" [disabled]="seaching">{{!seaching ? 'Search Filters' : 'Searching...'}}</button> -->
              <button mat-raised-button (click)="clearFilter()" [disabled]="clearing">
                {{ !clearing ? ("clear_filter" | translate) : "Clearing..." }}
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row" *ngIf="providers.length">
        <div class="{{ doctorWidgetClass }}" *ngFor="let provider of providers">
          <div class="doctor-widget">
            <mat-card>
              <div class="fav_icon">
                <mat-checkbox *ngIf="isPatientLogin" [checked]="provider.favouriteProvider" color="primary"
                  (change)="addToFavouritePharmacy(provider, $event)"></mat-checkbox>
                <span *ngIf="isPatientLogin"><i class="fa" [ngClass]="
                      provider.favouriteProvider ? 'fa-star' : 'fa-star-o'
                    "></i></span>
              </div>
              <mat-card-content>
                <div class="doc-info">
                  <div class="doc-info-left">
                    <div class="doctor-img">
                      <img class="img-fluid profile-img" src="{{
                          provider.providerImageThumbnail ||
                            '../../../assets/img/noimage.png'
                        }}" alt="doctor" />
                    </div>
                    <div class="doc-info-cont">
                      <h4 class="doc-name">
                        <a (click)="redirectToProfilePage(provider.providerId)">Dr. {{ provider.fullName }}</a>
                      </h4>
                      <h5 class="doc-department">
                        <ng-container *ngFor="let spl of provider.specialities; let i = index">
                          <span *ngIf="i == 0">{{ spl.speciality }}</span>
                          <span *ngIf="i == 1">, {{ spl.speciality }}</span>
                          <span *ngIf="i == 2">, {{ spl.speciality }}</span>
                          <a class="hand" (click)="redirectToProfilePage(provider.providerId)" *ngIf="i == 2 && provider.specialities.length > 3">
                            +{{ provider.specialities.length - 3 }}
                          </a>
                        </ng-container>
                        
                      </h5>
                      <div class="row">
                        <star-rating [value]="provider.average" [totalstars]="5" checkedcolor="#f4c150"
                          uncheckedcolor="#e5e5e5" size="18px" [readonly]="true"></star-rating>
                        <span *ngIf="provider.totalReviews > 0" class="d-inline-block average-rating">({{
                          provider.totalReviews }})</span>
                      </div>
                      <!-- <div class="cfee">
                        Fee :
                        {{ provider.payRate | currency: "INR":"symbol-narrow" }}
                      </div> -->

                      <div class="mb-2">
                        <a herf="javascript:void(0);" class="cancl-pol-txt" (click)="
                            openCancellationRulesPopup(
                              provider.cancelationRules
                            )
                          ">{{ "cancellation_policy" | translate }}</a>
                      </div>

                      <div class="clinic-services">
                        <span *ngFor="let taxonomy of provider.taxonomies">{{
                          taxonomy.taxonomy
                          }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="doc-info-right fdgjh">
                    <div class="clini-infos">
                      <ul>
                        <li>
                          <i class="fa fa-phone" aria-hidden="true"></i>
                          {{ provider.phoneNumber }}
                        </li>
                        <li>
                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                          <a href="mailto:sofiabrient_maxhospital@gmail.com?Subject=Hello%20again" target="_top">{{
                            provider.email }}</a>
                        </li>
                        <li class="addres">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          {{ provider.address }}
                          <a (click)="getDirection(provider.address)" class="direction">Get Directions.</a>
                        </li>
                        <li class="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          {{ provider.language }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clinic-booking">
                    <div class="chk-availability">
                      <a href="javascript:void(0)" class="link-btn green-outline-btn"
                        (click)="redirectToProfilePage(provider.providerId)">{{ "view_profile" | translate }}</a>
                      <!-- <label><i class="fa fa-calendar-o" aria-hidden="true"></i> Availability</label>
                                            <div>
                                                <button class="{{avail.class}}" title='{{avail.title}}' [disabled]="avail.disabled" type="text" *ngFor="let avail of provider.availabilities | unique:avail" (click)="bookAppointment(provider.staffId,provider.providerId)">{{avail.day | slice : 0 :3}} </button>
                                            </div> -->
                    </div>
                    <div class="clinic-btn dr-list-btn">
                      <div class="fee-sec">
                        <h3 (click)="openSeeFees(provider.providerId)" title="See provider fees">
                          {{ "see_fees" | translate }}
                        </h3>
                        <!-- <h4><i class="fa fa-rupee" aria-hidden="true"></i> 100.00 </h4> -->
                      </div>
                      <button mat-raised-button color="primary" (click)="
                          bookAppointment(provider.staffId, provider.providerId)
                        ">
                        {{ "book_now" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div *ngIf="totalRecords> metaData.pageSize" class="col-md-12">
          <button class="login-btn radius-btn" style="margin: auto" (click)="loadMore()">
            show more
          </button>
          <!--    <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>-->
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-sm-6 grid-profile">
                  <div class="doctor-widget">
                    <mat-card>
                      <mat-card-content>
                        <div class="doc-info">
                          <div class="doc-info-left">
                            <div class="doctor-img">
                              <img class="img-fluid" src="../assets/img/doctor3.jpg" alt="doctor">
                            </div>
                            <div class="doc-info-cont">
                              <h4 class="doc-name"><a href="doctor-profile.html">Dr. Sofia Brient</a></h4>
                              <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                              <div class="rating">
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(17)</span>
                              </div>
                              <h5 class="doc-department">Dentist<br/>Dentist
                                2 year's experiance</h5>

                              <div class="clinic-services">
                                <span>Dental Fillings</span>
                                <span> Whitneing</span>
                              </div>

                            </div>
                          </div>
                          <div class="doc-info-right">
                            <div class="clini-infos">
                              <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> 111 - 123 - 5226</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Max Super Hospital, Florida, USA.
                                </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:sofiabrient_maxhospital@gmail.com?Subject=Hello%20again" target="_top">sofiabrient_maxhospital@gmail.com</a></li>
                              </ul>
                            </div>

                          </div>
                            <div class="clinic-booking">
                                <div class="chk-availability">
                                    <a class="link-btn" href="/front/doctor-profile">View Profile</a>
                                </div>
                                <div class="clinic-btn">
                                    <div class="fee-sec">
                                        <h3>fee</h3>
                                        <h4><i class="fa fa-rupee" aria-hidden="true"></i> 100.00 </h4>
                                    </div>
                                    <button mat-raised-button color="primary">Book Now</button>
                                </div>
                            </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
                <div class="col-sm-6 grid-profile">
                  <div class="doctor-widget">
                    <mat-card>
                      <mat-card-content>
                        <div class="doc-info">
                          <div class="doc-info-left">
                            <div class="doctor-img">
                              <img class="img-fluid" src="../assets/img/doctor3.jpg" alt="doctor">
                            </div>
                            <div class="doc-info-cont">
                              <h4 class="doc-name"><a href="doctor-profile.html">Dr. Sofia Brient</a></h4>
                              <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                              <div class="rating">
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star filled" aria-hidden="true"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(17)</span>
                              </div>
                              <h5 class="doc-department">Dentist<br/>Dentist
                                2 year's experiance</h5>

                              <div class="clinic-services">
                                <span>Dental Fillings</span>
                                <span> Whitneing</span>
                              </div>

                            </div>
                          </div>
                          <div class="doc-info-right">
                            <div class="clini-infos">
                              <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> 111 - 123 - 5226</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Max Super Hospital, Florida, USA.
                                </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:sofiabrient_maxhospital@gmail.com?Subject=Hello%20again" target="_top">sofiabrient_maxhospital@gmail.com</a></li>
                              </ul>
                            </div>

                          </div>
                            <div class="clinic-booking">
                                <div class="chk-availability">
                                    <a class="link-btn" href="/front/doctor-profile">View Profile</a>
                                </div>
                                <div class="clinic-btn">
                                    <div class="fee-sec">
                                        <h3>fee</h3>
                                        <h4><i class="fa fa-rupee" aria-hidden="true"></i> 100.00 </h4>
                                    </div>
                                    <button mat-raised-button color="primary">Book Now</button>
                                </div>
                            </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
            </div> -->
      <div *ngIf="!providers.length && !showLoader" class="alert alert-danger">
        Your search did not matched any results. Please try a different search.
      </div>
      <div class="text-center" *ngIf="showLoader" style="display: none">
        <span class="more-load"></span>
      </div>
    </div>
  </div>
</div>