<div class="custom_modal">
  <h3 mat-dialog-title>{{headerText}}</h3>
  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-12">
        <form id="locationForm" #documentForm="ngForm" class="readmin-form custom_form"
          [formGroup]="locationForm">
          <div class="row">
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="{{'facility_type'|translate}}" formControlName="facilityCode" matInput [ngClass]="{ 'is-invalid': submitted && formControls['facilityCode'].errors }"
                  required>
                  <mat-option *ngFor="let option of masterPatientLocation" [value]="option.id">
                    {{option.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['facilityCode'].errors">
                  Please select facility type
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width" hintLabel="{{formControls['locationName'].pending ? 'Validating...' : ''}}">
                <input matInput autofocus placeholder="Location Name" maxlength="100" formControlName="locationName" [ngClass]="{ 'is-invalid': submitted && formControls['locationName'].errors }"
                  required />
                <mat-error *ngIf="formControls['locationName'].errors?.['required']">
                  Please enter location name
                </mat-error>
                <mat-error *ngIf="formControls['locationName'].errors?.['uniqueName']">
                    Name is already taken.
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Facility NPI Number" maxlength="10" formControlName="facilityNPINumber"
                  [ngClass]="{ 'is-invalid': submitted && formControls['facilityNPINumber'].errors }" required appNumbersOnly />
                <mat-error *ngIf="formControls['facilityNPINumber'].errors">
                  Please enter facility NPI number
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 ">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Facility Provider Number" maxlength="10" formControlName="facilityProviderNumber"
                  [ngClass]="{ 'is-invalid': submitted && formControls['facilityProviderNumber'].errors }" appNumbersOnly />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Billing Tax ID #(Professional)" maxlength="9" formControlName="billingTaxId"
                  [ngClass]="{ 'is-invalid': submitted && formControls['billingTaxId'].errors }" required appNumbersOnly />
                <mat-error *ngIf="formControls['billingTaxId'].errors">
                  Please enter billing tax Id
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 ">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Billing NPI Number" maxlength="10" formControlName="billingNPINumber" [ngClass]="{ 'is-invalid': submitted && formControls['billingNPINumber'].errors }" appNumbersOnly />
              </mat-form-field>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Billing Provider Information" maxlength="250" formControlName="billingProviderInfo"
                  [ngClass]="{ 'is-invalid': submitted && formControls['billingProviderInfo'].errors }" />
              </mat-form-field>
            </div>
          </div>
          <div className='row'>
            <div className="col-sm-8 require">
              <!-- <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && formControls.address.errors }"
                  required />
                <mat-error *ngIf="formControls.address.errors">
                  Please enter address
                </mat-error>
              </mat-form-field> -->
          <app-google-address-input [control]="formControls['address']" (onAddressChange)="handleAddressChange($event)"></app-google-address-input>
            </div>
            <div className="col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'apt_unit'|translate}}" maxlength="15" formControlName="apartmentNumber" [ngClass]="{ 'is-invalid': submitted && formControls['apartmentNumber'].errors }" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="{{'country'|translate}}" formControlName="countryID" matInput [ngClass]="{ 'is-invalid': submitted && formControls['countryID'].errors }"
                  required>
                  <mat-option *ngFor="let option of masterCountry" [value]="option.id">
                    {{option.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['countryID'].errors">
                 {{"please_select_country"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="City" maxlength="50" formControlName="city" [ngClass]="{ 'is-invalid': submitted && formControls.city.errors }"
                  required />
                <mat-error *ngIf="formControls.city.errors">
                  Please enter city
                </mat-error>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="{{'state'|translate}}" formControlName="stateID" matInput [ngClass]="{ 'is-invalid': submitted && formControls['stateID'].errors }"
                  required>
                  <mat-option *ngFor="let state of masterState" [value]="state.id">
                    {{state.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['stateID'].errors">
                  {{"please_select_state"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="State" formControlName="stateID" matInput [ngClass]="{ 'is-invalid': submitted && formControls.stateID.errors }"
                  required>
                  <mat-option *ngFor="let state of masterState" [value]="state.id">
                    {{state.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.stateID.errors">
                  Please select state
                </mat-error>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'city'|translate}}" maxlength="50" formControlName="city" [ngClass]="{ 'is-invalid': submitted && formControls['city'].errors }"
                  required />
                <mat-error *ngIf="formControls['city'].errors">
                  {{"Please_enter_city"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput appZipcode autofocus placeholder="{{'zip'|translate}}" maxlength="10" formControlName="zip" [ngClass]="{ 'is-invalid': submitted && formControls['zip'].errors }"
                  required appNumbersOnly />
                <mat-error *ngIf="formControls['zip'].errors">
                  {{"please_enter_zip"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="Mileage Rate" maxlength="8" formControlName="mileageRate" [ngClass]="{ 'is-invalid': submitted && formControls['mileageRate'].errors }"
                  required appNumbersOnly [allowDecimals]="true" />
                <mat-error *ngIf="formControls['mileageRate'].errors">
                  Please enter mileage rate
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 require">
              <mat-form-field class="example-full-width">
                <input matInput appPhoneNumber autofocus placeholder="{{'phone_number'|translate}}" maxlength="19" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && formControls['phone'].errors }"
                  required />
                <mat-error *ngIf="formControls['phone'].errors">
                  {{"please_enter_Phone_number"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'description'|translate}}" maxlength="1000" formControlName="locationDescription" [ngClass]="{ 'is-invalid': submitted && formControls['locationDescription'].errors }" />
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-6">
              <input matInput placeholder="Start Time" formControlName="officeStartHour" [ngxTimepicker]="officeStartHour"
                readonly>
              <ngx-material-timepicker #officeStartHour></ngx-material-timepicker>
            </div>
            <div class="col-sm-6">
              <input matInput placeholder="End Time" formControlName="officeEndHour" [ngxTimepicker]="officeEndHour"
                readonly>
              <ngx-material-timepicker #officeEndHour></ngx-material-timepicker>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="cancel-btn" mat-raised-button (click)="closeDialog('close')">{{"close"|translate}}</button>
    <button mat-raised-button color="primary" form="locationForm" [disabled]="submitted || formControls['locationName'].pending" cdkFocusInitial (click)="onSubmit()">
        {{(submitted || formControls['locationName'].pending) ? submitted ? 'Saving...' : formControls['locationName'].pending ? 'Validating...' : ('save'|translate) : ('save'|translate)}}
    </button>
  </div>
</div>