<div *ngIf="isTokenValid; then registerDiv; else messageDiv"></div>

<ng-template #registerDiv>
  <div class="telelogin">
    <div class="row">
      <div class="col-sm-4 tele-bg">
        <h2>Sign up today!</h2>
        <h3>Get started.</h3>
        <p>Discover the best doctors, the city nearest to you.</p>
      </div>
      <div class="col-sm-8 telelogin-form pr-0">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3>{{"sign_up"|translate}}</h3>
          <i
            (click)="closeDialog('close')"
            class="fa fa-close"
            aria-hidden="true"
          ></i>
        </div>
        <form
          id="userForm"
          #documentForm="ngForm"
          class="readmin-form custom_form"
          [formGroup]="userForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  matInput
                  autofocus
                  placeholder="{{'first_name'|translate}}"
                  maxlength="40"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['firstName'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formControls['firstName'].errors?.['required']">
                  {{"please_enter_first_name"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input matInput autofocus placeholder="Middle Name" maxlength="40" formControlName="middleName" />
              </mat-form-field>
            </div> -->
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  matInput
                  autofocus
                  placeholder="{{'last_name'|translate}}"
                  maxlength="40"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['lastName'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formControls['lastName'].errors?.['required']">
                  {{"please_enter_last_name"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  matInput
                  readonly
                  [matDatepicker]="dob"
                  [max]="maxDate"
                  placeholder="{{'date_of_birth'|translate}}"
                  formControlName="dob"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dob"
                ></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
                <mat-error *ngIf="formControls['dob'].errors?.['required']">
                  {{"please_enter_dob"|translate}}
                </mat-error>
                <mat-error *ngIf="formControls['dob'].errors?.['age']">
                  Age should be greater than 18 years
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="{{'gender'|translate}}"
                  formControlName="gender"
                  matInput
                  [ngClass]="{
                    'is-invalid': submitted && formControls['gender'].errors
                  }"
                >
                  <mat-option
                    *ngFor="let genderVal of masterGender"
                    [value]="genderVal.id"
                  >
                    {{ genderVal.value }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['gender'].errors?.['required']">
                  {{"please_select_gender"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  appPhoneNumber
                  matInput
                  autofocus
                  placeholder="{{'phone_number'|translate}}"
                  maxlength="19"
                  formControlName="phone"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['phone'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formControls['phone'].errors?.['required']">
                  {{"please_enter_Phone_number"|translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="{{'role'|translate}}"
                  (selectionChange)="onRoleChange($event)"
                  formControlName="roleId"
                  matInput
                  [ngClass]="{
                    'is-invalid': submitted && formControls['roleId'].errors
                  }"
                >
                  <mat-option
                    *ngFor="let masterRole of masterRoles"
                    [value]="masterRole.id"
                    [disabled]="
                      masterRole.id == [156] ||
                      masterRole.id == [325] ||
                      masterRole.id == [326] ||
                      masterRole.id == [329]
                    "
                  >
                    {{ masterRole.value }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls['roleId'].errors?.['required']">
                  Please select user role
                </mat-error>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Location" formControlName="locationId" matInput [ngClass]="{ 'is-invalid': submitted && formControls.locationId.errors }">
                  <mat-option *ngFor="let loc of masterLocation" [value]="loc.id">
                    {{loc.locationName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.locationId.errors?.['required']">
                  Please select location
                </mat-error>
              </mat-form-field>
            </div> -->
            <!-- agencyremove -->

            <!-- <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input matInput autofocus placeholder="Email" maxlength="60" formControlName="email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }"
                  required />
                <mat-error *ngIf="formControls.email.errors?.['required']">
                  Please enter email
                </mat-error>
                <mat-error *ngIf="formControls.email.errors?.email">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6">
              <mat-form-field
                class="example-full-width"
                hintLabel="{{
                  formControls['userName'].pending ? 'Validating...' : ''
                }}"
              >
                <input
                  matInput
                  autofocus
                  autocomplete="username"
                  placeholder="{{'email'|translate}}"
                  maxlength="60"
                  formControlName="userName"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['userName'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formControls['userName'].errors?.['required']">
                  {{"please_enter_email"|translate}}
                </mat-error>
                <mat-error *ngIf="formControls['userName'].errors?.['uniqueName']">
                  {{'email'|translate}} '{{ formControls['userName'].value }}' {{"already_exist"|translate}}
                </mat-error>
                <mat-error *ngIf="formControls['userName'].errors?.['pattern']">
                  {{'email'|translate}} '{{ formControls['userName'].value }}' not valid, allowed
                  only alphanumeric characters.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  matInput
                  autofocus
                  autocomplete="new-password"
                  [type]="isShowPassword ? 'text' : 'password'"
                  placeholder="{{'password'|translate}}"
                  maxlength="30"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['password'].errors
                  }"
                  required
                />
                <i
                  (click)="isShowPassword = !isShowPassword"
                  class="fa icon_right"
                  [ngClass]="{
                    'fa-eye-slash': !isShowPassword,
                    'fa-eye': isShowPassword
                  }"
                ></i>
                <mat-error
                  *ngIf="
                    formControls['password'].errors?.['required'] &&
                    formControls['password'].errors?.['strong']
                  "
                >
                  Please enter password
                </mat-error>
                <mat-error
                  *ngIf="
                    formControls['password'].errors?.['required'] == undefined &&
                    formControls['password'].errors?.['strong']
                  "
                >
                  Password should have number,special character lowercase and
                  uppercase letters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field require class="example-full-width">
                <input
                  matInput
                  autofocus
                  autocomplete="new-password"
                  isShowPassword
                  placeholder="{{'confirm_password'|translate}}"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formControls['confirmPassword'].errors
                  }"
                  required
                />
                <i
                  (click)="isShowRePassword = !isShowRePassword"
                  class="fa icon_right"
                  [ngClass]="{
                    'fa-eye-slash': !isShowRePassword,
                    'fa-eye': isShowRePassword
                  }"
                ></i>
                <mat-error
                  *ngIf="formControls['confirmPassword'].errors?.['required']"
                >
                  Please re-enter password
                </mat-error>
                <mat-error *ngIf="formControls['confirmPassword']?.errors?.['notSame']">
                  Password doesn't match
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-6 mx-auto d-flex justify-content-between">
              <button
                name="Save"
                style="margin-top: 20px"
                class="example-full-width"
                mat-raised-button
                color="accent"
                (click)="onSubmit()"
                form="userForm"
                [disabled]="submitted"
              >
                {{ submitted ? "Please Wait..." : "Register" }}
              </button>
            </div>
          </div>
        </form>
        <div class="col-12 text-center member-link">
          {{"already_have_an_account"|translate}}<span (click)="openDialogLogin()">
            Sign in here</span
          >
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #messageDiv>
  <div class="user-registed">
    <!--for already register users-->
    <h3 class="redfont">{{ Message.title }}</h3>
    <p>{{ Message.message }}</p>
    <img src="{{ Message.imgSrc }}" alt="user-register-icon" />
    <div class="col-12 text-center member-link">
      <span (click)="openDialogLogin()"> Sign in here</span>
    </div>
  </div>
</ng-template>
<!-- <div class="user-registed">
          <h3 class="greenfont">success!</h3>
          <p>This email address has already used to register for this event and <br/>cannot be registered again.</p>
          <img src="../assets/img/user-success-icon.png" alt="user-success-icon"/>
        </div> -->
