.user-registed {
  text-align: center;
}
.mat-dialog-container {
  padding: 10px !important;
  overflow: hidden;
}
.mat-form-field {
  font-family: 'Raleway', sans-serif;
}
.telelogin {
  max-width: 950px;
  font-family: 'Raleway', sans-serif;
  padding: 0px 15px 0px 15px;
}
.tele-bg {
  background-image: url("../../../assets/img/tele-login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  z-index: 0;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tele-bg:before {
  background-color: rgba(1, 74, 113, 0.7);
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  content: "";
  z-index: -1;
  width: 100%;
}
.telelogin h3 {
  font-size: 16px;
  margin: 20px 0px;
}
.tele-bg p {
  color: #fff;
}

.telelogin-form h3 {
  margin: 0px;
}
.telelogin-form i {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.member-link {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 13px;
}
.member-link span {
  color: #01385f;
  cursor: pointer;
}
.member-link span:hover {
  text-decoration: underline;
}
