/*Claim History Tab*/
.cliam_hisdeatil p{margin: 0px 0px 5px 0px; color: #7a7a7a; font-weight: 500; font-size: 14px;}
.cliam_hisdeatil span{margin: 0px; color:rgba(0, 0, 0, 0.80); font-weight: 500; font-size: 14px;}