<app-auth>
  <div class="login-headtabs">
    <div class="login-headtab active col-sm-12">
      <a class="active" aria-current="page" routerLink="/web/security-question">Security Questions </a>
    </div>
  </div>
  <!-- Security Question when firsttimelogin is false -->
  <form *ngIf="!firstTimeLogin" class="readmin-form" [formGroup]="securityQuestionOptionsForm" (ngSubmit)="onSubmitQuestionAnswer()">
    <div *ngIf="errorMessage" class="alert-danger">{{errorMessage}}</div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select a Question" formControlName="question" aria-label="Question" matInput [ngClass]="{ 'is-invalid': submitted}">
          <mat-option *ngFor="let option of securityQuestionOptions" [value]="option.id">
            {{option.value}}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="g.question.errors.required">
                    Please select a question
                  </mat-error> -->
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Answer 1" formControlName="answer" [ngClass]="{ 'is-invalid': submitted}" />
        <!-- <mat-error *ngIf="g.answer.errors.required">
                    Please enter answer
                  </mat-error> -->
      </mat-form-field>
    </div>
    <div class="">
      <button class="example-full-width login-btn login-web-btn" mat-raised-button color="primary" [disabled]="loading">{{!loading ? 'Log In' : 'Loading...'}}</button>
    </div>
  </form>

  <!-- Security Questions when firsttimelogin is true -->
  <form *ngIf="firstTimeLogin" [formGroup]="securityQuestionForm" class="security-question readmin-form" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="alert-danger">{{errorMessage}}</div>
      <div  id ="test" class="form-group">
      <mat-form-field *ngFor="let question of securityQuestions" class="example-full-width">
        <input matInput placeholder="{{question.question}}" formControlName="question{{question.id}}" [ngClass]="{ 'is-invalid': submitted}"
        />
      </mat-form-field>
    </div>
    <div class="">
      <button class="example-full-width login-btn login-web-btn" mat-raised-button color="primary" [disabled]="loading">{{!loading ? 'Save' : 'Loading...'}}</button>
    </div>
  </form>
</app-auth>