<app-auth #authComp>
  <!--Doctor's Login block-->
  <div class="row doclogin no-gutters form-block">
    <div class="col-md-12">
      <div class="logo mb-4 crsr-pntr">
        <a routerLink="/" title="Go To Home">
          <img
            src="../../../../../assets/img/colored-logo.svg"
            class="site-logo"
          />
        </a>
        <h3 class="pb-3 fw-300">Login to your account</h3>
      </div>
      <div class="form-style">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div *ngIf="errorMessage" class="alert-danger">
            {{ errorMessage }}
          </div>
          <div class="group">
            <label>{{'user_name'|translate}}</label>
            <input
              autofocus
              type="text"
              placeholder="Username"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              required
            />

            <mat-error *ngIf="f['username'].errors && submitted">
              Please enter username
            </mat-error>
          </div>

          <div class="group">
            <label>{{'password'|translate}}</label>
            <input
              placeholder="Password"
              [type]="isShowPassword ? 'text' : 'password'"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              required
            />
            <i
              (click)="isShowPassword = !isShowPassword"
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !isShowPassword,
                'fa-eye': isShowPassword
              }"
            ></i>
            <mat-error *ngIf="f['password'].errors && submitted">
              Please enter password
            </mat-error>
          </div>
           <div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span class="pl-2">Remember Me</span></div>
            <div class="frgt-txt">
              <a [routerLink]="['/web/forgot-password']">Forgot Password?</a>
            </div> 
          <button type="submit" [disabled]="loading" class="btn btn-theme">
            <span *ngIf="!loading"> {{'log_in'|translate}}</span>
            <span *ngIf="loading"> Loading...</span>
          </button>
          <p class="dont_acc">
            {{'didn_t_have_an_account'|translate}}?<a [routerLink]="['/web/sign-up']"
              >  {{'Sign_up'|translate}}</a
            >
          </p>
          <!-- <p class="signup_txt">
            {{'by_signing_up_you_agree_to_myhealthygate'|translate}}
            <a href="javascript:void(0);" (click)="opentermconditionmodal()"
              >{{'terms_and_conditions'|translate}}</a
            >
            &
            <a href="javascript:void(0);" (click)="opentermconditionmodal()"
              >{{'privacy_policy'|translate}}</a
            >
          </p> -->
          <p class="signup_txt">
            {{'by_signing_up_you_agree_to_myhealthygate'|translate}}
            <a [routerLink]="['/terms-and-conditions']"
              target="_blank">{{'terms_and_conditions'|translate}}</a
            >
            &
            <a [routerLink]="['/privacy-policy']"
            target="_blank">{{'privacy_policy'|translate}}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</app-auth>
