<div class="provider-container">
  <div class="dash-section">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="blue-box">
          <h3>Lab Refferal</h3>

          <div class="blue-box-inner">
            <div class="row blue-box-detail">
              <div class="col-md-6">
                <div class="lght-txt">{{"today"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labReferral && dashboardDetails.labReferral.todays}}</div>
              </div>
              <div class="col-md-6">
                <div class="lght-txt">{{"this_month"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labReferral && dashboardDetails.labReferral.thisMonth}}</div>
              </div>
            </div>
            <div class="row blue-box-detail">
              <div class="col-md-6">
                <div class="lght-txt">{{"last_month"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labReferral && dashboardDetails.labReferral.lastMonth}}</div>
              </div>
              <div class="col-md-6">
                <div class="lght-txt">{{"total"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labReferral && dashboardDetails.labReferral.total}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="blue-box">
          <h3>{{"appointments"|translate}}</h3>
          <div class="blue-box-inner">
            <div class="row blue-box-detail">
              <div class="col-md-6">
                <div class="lght-txt">{{"today"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labAppointment && dashboardDetails.labAppointment.todays}}</div>
              </div>
              <div class="col-md-6">
                <div class="lght-txt">{{"this_month"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labAppointment && dashboardDetails.labAppointment.thisMonth}}</div>
              </div>
            </div>
            <div class="row blue-box-detail">
              <div class="col-md-6">
                <div class="lght-txt">{{"last_month"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labAppointment && dashboardDetails.labAppointment.lastMonth}}</div>
              </div>
              <div class="col-md-6">
                <div class="lght-txt">{{"total"|translate}}</div>
                <div class="white-txt">{{dashboardDetails && dashboardDetails.labAppointment && dashboardDetails.labAppointment.total}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4" hidden>
        <div class="white-box" id="main">
          <h3>{{"consultation"|translate}}</h3>
            <div
            *ngIf="showurgentcarebtn"
            class="pull-right justify-content-md-end d-flex care-btn"
          >
            <button mat-raised-button color="primary">
              Join Urgent Care Call
            </button>
          </div>
          <div class="accordion" id="faq">
            <div class="card">
              <div id="faqhead1">
                <a
                  href="#"
                  class="btn btn-header-link collapsed"
                  data-toggle="collapse"
                  data-target="#faq1"
                  aria-expanded="true"
                  aria-controls="faq1"
                >
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> {{"new"|translate}}
                </a>
              </div>

              <div
                id="faq1"
                class="collapse"
                aria-labelledby="faqhead1"
                data-parent="#faq"
              >
                <div class="card-body">
                  <!-- <button mat-raised-button color="primary">
                    Teleconsultation
                  </button> -->
                  <button mat-raised-button color="primary">
                    {{"online"|translate}}
                  </button>
                  <button mat-raised-button color="primary">
                    {{"face_to_face"|translate}}
                  </button>
                  <button mat-raised-button color="primary">
                    {{"home_visit"|translate}}
                  </button>
                </div>
              </div>
            </div>
            <div class="card">
              <div id="faqhead2">
                <a
                  href="#"
                  class="btn btn-header-link collapsed"
                  data-toggle="collapse"
                  data-target="#faq2"
                  aria-expanded="true"
                  aria-controls="faq2"
                >
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
                  {{"follow_up"|translate}}</a
                >
              </div>

              <div
                id="faq2"
                class="collapse"
                aria-labelledby="faqhead2"
                data-parent="#faq"
              >
                <div class="card-body">
                  <!-- <button mat-raised-button color="primary">
                    Teleconsultation
                  </button>
                  <button mat-raised-button color="primary">
                    Face To Face
                  </button> -->
                  <button mat-raised-button color="primary">
                    {{"online"|translate}}
                  </button>
                  <button mat-raised-button color="primary">
                    {{"face_to_face"|translate}}
                  </button>
                  <button mat-raised-button color="primary">
                    {{"home_visit"|translate}}
                  </button>
                </div>
              </div>
            </div>
           <!-- <div class="card">
               <div id="faqhead3">
                <a
                  href="#"
                  class="btn btn-header-link collapsed"
                  data-toggle="collapse"
                  data-target="#faq3"
                  aria-expanded="true"
                  aria-controls="faq3"
                >
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  UrgentCare
                </a>
              </div> 
            </div>-->
          </div>
        </div>
      </div>
      <!-- services block hidden by client suggesstion -->
      <div class="col-sm-12 col-md-3" hidden>
        <div class="white-box service-blk">
            <h3>{{"top_services"|translate}}</h3>
            <ul>
                <!-- <li *ngFor="let serv of staffProfile.staffServices"><i class="fa fa-medkit" aria-hidden="true"></i>{{serv.serviceName}}</li> -->
                <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Diabetes</li>
                <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Substance abuse counseling</li>
                <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Biopsie</li>
                <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Cryotherapy</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="white-box nw-appt-details">
          <h3> {{"appointment_details"|translate}}</h3>
          <app-lab-appointment-graph></app-lab-appointment-graph>
      </div>
  </div>
    </div>
  </div>
</div>
