<div class="login_bg">
  <div class="login-wrapper">
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <div class="col-lg-6 order-lg-1">
          <div *ngIf="isTokenValid; then registerDiv; else messageDiv"></div>
          <ng-template #registerDiv>
            <div class="login-headtabs">
              <div class="login-headtab active">
                <a class="active" aria-current="page" routerLink="/web/login"
                  >{{"sign_up"|translate}}</a
                >
              </div>
            </div>
            <div class="login-fields">
              <form
                id="userForm"
                #documentForm="ngForm"
                class="readmin-form custom_form"
                [formGroup]="userForm"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        placeholder="{{'first_name'|translate}}"
                        maxlength="40"
                        formControlName="firstName"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['firstName'].errors
                        }"
                        required
                      />
                      <mat-error
                        *ngIf="formControls['firstName'].errors?.['required']"
                      >
                        {{"please_enter_first_name"|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        placeholder="{{'middle_name'|translate}}"
                        maxlength="40"
                        formControlName="middleName"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        placeholder="{{'last_name'|translate}}"
                        maxlength="40"
                        formControlName="lastName"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['lastName'].errors
                        }"
                        required
                      />
                      <mat-error *ngIf="formControls['lastName'].errors?.['required']">
                        {{"please_enter_last_name"|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        readonly
                        [min]="minDate"
                        [matDatepicker]="dob"
                        [max]="maxDate"
                        [placeholder]="'date_of_birth'|translate"
                        formControlName="dob"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="dob"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #dob></mat-datepicker>
                      <mat-error *ngIf="formControls['dob'].errors?.['required']">
                        {{"please_enter_dob"|translate}}
                      </mat-error>
                      <mat-error *ngIf="formControls['dob'].errors?.['age']">
                        Age should be greater than 18 years
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <mat-select
                        placeholder="{{'gender'|translate}}"
                        formControlName="gender"
                        matInput
                        [ngClass]="{
                          'is-invalid': submitted && formControls['gender'].errors
                        }"
                      >
                        <mat-option
                          *ngFor="let genderVal of masterGender"
                          [value]="genderVal.id"
                        >
                          {{ genderVal.value }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        appPhoneNumber
                        matInput
                        autofocus
                        placeholder="'phone_number'|translate"
                        maxlength="19"
                        formControlName="phone"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['phoneNumber'].errors
                        }"
                        required
                      />
                      <mat-error *ngIf="formControls['phone'].errors?.['required']">
                        {{"please_enter_Phone_number"|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        [placeholder]="'email'|translate"
                        maxlength="60"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': submitted && formControls['email'].errors
                        }"
                        required
                      />
                      <mat-error *ngIf="formControls['email'].errors?.['required']">
                        {{"please_enter_email"|translate}}
                      </mat-error>
                      <mat-error *ngIf="formControls['email'].errors?.['email']">
                        {{"Please_enter_a_valid_email_address"|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field
                      class="example-full-width"
                      hintLabel="{{
                        formControls['userName'].pending ? 'Validating...' : ''
                      }}"
                    >
                      <input
                        matInput
                        autofocus
                        autocomplete="username"
                        [placeholder]="'user_name'|translate"
                        maxlength="60"
                        formControlName="userName"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['userName'].errors
                        }"
                        required
                      />
                      <mat-error *ngIf="formControls['userName'].errors?.['required']">
                        Please enter username
                      </mat-error>
                      <mat-error
                        *ngIf="formControls['userName'].errors?.['uniqueName']"
                      >
                        {{"user_name"|translate}} '{{ formControls['userName'].value }}' {{"already_exist"|translate}}
                        
                      </mat-error>
                      <mat-error *ngIf="formControls['userName'].errors?.['pattern']">
                        {{"user_name"|translate}} '{{ formControls['userName'].value }}' not valid,
                        allowed only alphanumeric characters.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        autocomplete="new-password"
                        type="password"
                        [placeholder]="'password'|translate"
                        maxlength="30"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['password'].errors
                        }"
                        required
                      />
                      <mat-error
                        *ngIf="
                        formControls['password'].errors?.['required'] &&
                        formControls['password'].errors?.['strong']
                        "
                      >
                        Please enter password
                      </mat-error>
                      <mat-error
                        *ngIf="
                        formControls['password'].errors?.['required'] == undefined &&
                        formControls['password'].errors?.['strong']
                        "
                      >
                        Password should have number,special character lowercase
                        and uppercase letters
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field require class="example-full-width">
                      <input
                        matInput
                        autofocus
                        autocomplete="new-password"
                        type="password"
                        placeholder="{{'confirm_password'|translate}}"
                        formControlName="confirmPassword"
                        [ngClass]="{
                          'is-invalid':
                            submitted && formControls['confirmPassword'].errors
                        }"
                        required
                      />
                      <mat-error
                        *ngIf="formControls['confirmPassword'].errors?.['required']"
                      >
                        Please re-enter password
                      </mat-error>
                      <mat-error
                        *ngIf="formControls['confirmPassword'].errors?.['notSame']"
                      >
                        Password doesn't match
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button
                      name="Save"
                      class="example-full-width signup-btn"
                      mat-raised-button
                      color="accent"
                      (click)="onSubmit($event)"
                      form="userForm"
                      [disabled]="submitted"
                    >
                      {{ submitted ? "Please Wait..." : "Register" }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
          <ng-template #messageDiv>
            <div class="user-registed">
              <!--for already register users-->
              <h3 class="redfont">{{ Message.title }}</h3>
              <p>{{ Message.message }}</p>
              <img src="{{ Message.imgSrc }}" alt="user-register-icon" />
              <p>
                <button
                  color="primary"
                  (click)="openLoginSelection()"
                  class="register-btn radius-btn"
                >
                  <i
                    class="fa fa-registered d-block d-sm-none"
                    aria-hidden="true"
                  ></i
                  ><span class="d-none d-sm-block">Click Here to Login </span>
                </button>
              </p>
            </div>
          </ng-template>
          <!-- <div class="user-registed">
          <h3 class="greenfont">success!</h3>
          <p>This email address has already used to register for this event and <br/>cannot be registered again.</p>
          <img src="../assets/img/user-success-icon.png" alt="user-success-icon"/>
        </div> -->
        </div>
        <div class="col-lg-6 login-content">
          <div class="loginlogo">
            <a href="/"
              ><img src="../../../assets/img/telehealth-logo.svg"
            /></a>
          </div>
          <p>
            myHealthyGate is founded by a group of long-term experienced health
            and technology experts, who are committed to lowering the barriers
            to receiving trustworthy, quality healthcare and wellness services.
          </p>
          <!-- <p>smartTelehealth is a Product of <a class="smartlink" href="https://www.smartdatainc.com/" target="_blank"><span
                className="smartlink">smartData Enterprises.</span></a> </p> -->
          <p>{{"copyright_myhealthygate_all_rights_reserved"|translate}}</p>

          <!-- <p>
            <span>smartTelehealth</span> system (SH) is a Cloud Based system that facilitates managing the functioning of
            the Agencies.
            <span>smartTelehealth</span> system will help in making the whole functioning paperless. It integrates all the
            information regarding patients, doctors, staff, agency administrative details etc. into one place</p>
          <p>Safe and Secure Process to safe guard patients privacy and rights by following
            <span>HIPAA.</span>
          </p>
          <p>smartTelehealth is a Product of
            <a class="smartlink" href="https://www.smartdatainc.com/" target="_blank">
              <span className="smartlink">smartData Enterprises.</span>
            </a>
          </p>
          <p>Copyright @ 2018 All Right Reserved.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
