<h2 class="page_title">
  Manage Payroll Rates
</h2>
<div class="clearfix"></div>
<div class="readmin-panel">
  <div class="no-gutters">
    <div class="col-sm-7 justify-content-start pull-left">
      <div class="row">
        <div class="col-sm-7 mtm-27">
          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="staffId" placeholder="Select Staff" (selectionChange)='getStaffPayrollRates()'
              matInput>
              <mat-option *ngFor="let stf of masterStaffs" [value]="stf.id">
                {{stf.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-5 filter-btn">
          <button class="clear-btn" mat-raised-button (click)='clearFilters()'>Clear All</button>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <form id="staffPayrollRateForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="staffPayrollRateForm">
    <div class="table-responsive mt-15">
      <table class="table table-hover customtable group-table" matSort matSortDisableClear>
        <thead>
          <tr>
            <th width="15%" disableClear>
              <span class="Tblsort sorting">Appointment Type</span>
            </th>
            <th width="10%" disableClear>
              <span class="Tblsort sorting">Payroll Rate</span>
            </th>
            <th width="10%" disableClear>
              <span class="Tblsort sorting">Action</span>
            </th>
        </thead>
        <tbody>
          <tr formArrayName="payrollRate" *ngFor="let modifer of formControls.get('payrollRate')?.controls;let ix = index;">
            <td formGroupName="{{ix}}">
              <mat-form-field class="example-full-width">
                <mat-select required [value]="appointmentTypeId" placeholder="Select Appointment Type" formControlName="appointmentTypeId"
                  matInput [ngClass]="{ 'is-invalid': submitted && formControls['appointmentTypeId'].errors }">
                  <mat-option *ngFor="let act of masterAppointmentType" [value]="act.id">
                    {{act.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td formGroupName="{{ix}}">
              <mat-form-field class="example-full-width">
                <input matInput autofocus formControlName="payRate" placeholder="Rate" required />
              </mat-form-field>

            </td>
            <td formGroupName="{{ix}}" class="position-relative">
              <!-- <button *ngIf="(ix > 0) || (payrollRates['controls'].length > 1)" type="button" class="additem removeitem" title="Remove row"
                        (click)=removeItem(ix)>
                        <b class="fa fa-minus-square redfont" aria-hidden="true"></b>
                      </button> -->
              <button *ngIf="(ix + 1) === payrollRates['controls'].length" type="button" class="additem" title="Add row"
                (click)=addItem()>
                <b class="fa fa-plus-square greenfont" aria-hidden="true"></b>
              </button>
            </td>
          </tr>
          <tr *ngIf="formControls.get('payrollRate')?.controls.length==0">
            <td></td>
            <td>No Staff Selected</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <!-- <div class="row" *ngIf="staffPayrollRateForm.get('payrollRate')['controls'].length>0"> -->
    <div class="row" *ngIf="formControls.get('payrollRate')?.controls.length>0">
    <div class="col-md-12 pull-right justify-content-md-end d-flex mat-dialog-actions">
      <button mat-raised-button color="primary" (click)="onSubmit()" form="staffPayrollRateForm">
        <i aria-hidden="true"></i>Update</button>
    </div>
  </div>
</div>