.panel_title {
    display: flex;
    margin-top: 30px;
    position: relative;
}

.panel_title h3 {
    float: left;
    line-height: 22px;
    color: #2f2660;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 0px 0px 0px 25px;
    position: relative;
    text-transform: capitalize;
}

.panel_title .flaticon {
    margin-left: 0px;
    position: absolute;
    left: 0px !important;
    top: 1px;
    color: #000;
    font-size: 20px;
}

.mat-form-field-required-marker {
    color: red !important;
}
.about_note {
    color: #7a7a7a;
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin: 10px 0 0;
}



.uplaod_pic img {
    height: 150px;
    max-width: 100%;
    width: auto;
}

.uplaod_pic span {
    background: rgba(0, 0, 0, 0.20);
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    left: 0;
    right: 0;
    bottom: 5px;
    border-radius: 0;
    position: absolute;
    height: 30px;
    line-height: 30px;
}
.actions-btn .mr-2{
    margin-right: 12px;
    margin-bottom: 12px;
}
.require .mat-form-field-infix {
    display: flex;
}