<div class="provider-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="nw-hdng">Add/Edit Details</h3>
      <form
        id="userForm"
        #documentForm="ngForm"
        class="readmin-form custom_form profile-form"
        [formGroup]="userForm"
      >
        <div class="row">
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'first_name' | translate }}"
                maxlength="40"
                pattern="[a-zA-Z ]*"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid': submitted && formControls['firstName'].errors
                }"
                required
              />
              <mat-error *ngIf="formControls['firstName'].errors?.['required']">
                {{ "please_enter_first_name" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['firstName'].errors?.['pattern']">
                {{ "first_name" | translate }} '{{
                  formControls['firstName'].value
                }}' not valid, allowed only alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'middle_name' | translate }}"
                maxlength="40"
                pattern="[a-zA-Z ]*"
                formControlName="middleName"
              />
              <mat-error *ngIf="formControls['middleName'].errors?.['pattern']">
                {{ "middle_name" | translate }} '{{
                  formControls['middleName'].value
                }}' not valid, allowed only alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'last_name' | translate }}"
                maxlength="40"
                pattern="[a-zA-Z ]*"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid': submitted && formControls['lastName'].errors
                }"
                required
              />
              <mat-error *ngIf="formControls['lastName'].errors?.['required']">
                {{ "please_enter_last_name" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['middleName'].errors?.['pattern']">
                {{ "last_name" | translate }} '{{
                  formControls['lastName'].value
                }}' not valid, allowed only alphanumeric characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 require">
            <!-- <input
              matInput
              autofocus
              placeholder="Address"
              maxlength="100"
              formControlName="address"
              [ngClass]="{
                'is-invalid': submitted && formControls.address.errors
              }"
              required
            /> -->
            <!-- <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="Address"
                formControlName="address"
                [ngClass]="{
                  'is-invalid': submitted && formControls.address.errors
                }"
                required
              />
              <mat-error *ngIf="formControls.address.errors">
                Please enter address
              </mat-error>
            </mat-form-field> -->

            <app-google-address-input
              [control]="formControls['address']"
              (onAddressChange)="handleAddressChange($event)"
            >
            </app-google-address-input>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'units' | translate }}"
                maxlength="15"
                formControlName="apartmentNumber"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <mat-select
                (selectionChange)="updateValue($event.value, 1)"
                placeholder="{{ 'country' | translate }}"
                formControlName="countryID"
                matInput
                [ngClass]="{
                  'is-invalid': submitted && formControls['countryID'].errors
                }"
                required
                class="mt-2"
              >
                <mat-option
                  *ngFor="let country of masterCountry"
                  [value]="country.id"
                >
                  {{ country.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls['countryID'].errors">
                {{ "please_select_country" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'city' | translate }}"
                maxlength="50"
                formControlName="city"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <mat-select
                placeholder="State/province"
                formControlName="stateID"
                matInput
                [ngClass]="{
                  'is-invalid': submitted && formControls['stateID'].errors
                }"
                required
                class="mt-2"
              >
                <mat-option
                  *ngFor="let state of masterState"
                  [value]="state.id"
                >
                  {{ state.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls['stateID'].errors">
                {{ "please_select_state" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                appZipcode
                matInput
                autofocus
                placeholder="{{ 'zip' | translate }}"
                maxlength="10"
                formControlName="zip"
                [ngClass]="{
                  'is-invalid': submitted && formControls['zip'].errors
                }"
                required
              />
              <mat-error *ngIf="formControls['zip'].errors?.['required']">
                {{ "please_enter_zip" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4 require">
            <div class="d-flex country-field-sec">
              <app-phone-number
                class="country-field"
                [countryId]="0"
                [selectedCountryPhoneCode]="selectedPhoneCode"
                (phoneCodeChangeEvent)="phoneCodeChange($event)"
              ></app-phone-number>

              <mat-form-field class="country-mat-field example-full-width">
                <input
                  matInput
                  autofocus
                  maxlength="15"
                  placeholder="{{ 'phone_number' | translate }}"
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['phoneNumber'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formControls['phoneNumber'].errors?.['required']">
                  {{ "please_enter_Phone_number" | translate }}
                </mat-error>
                <mat-error *ngIf="formControls['phoneNumber'].errors?.['minlength']">
                  {{ "please_enter_valid_Phone" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                readonly
                [matDatepicker]="dob"
                [max]="maxDate"
                placeholder="{{ 'dob' | translate }}"
                formControlName="dob"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dob"
              ></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>
              <mat-error *ngIf="formControls['dob'].errors?.['required']">
                {{ "please_select_DOB" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['dob'].errors?.['age']">
                Age should be greater than 18 years
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-4 require">
                      <mat-form-field class="example-full-width">
                          <input matInput autofocus placeholder="NPI #" maxlength="10" formControlName="npiNumber" appNumbersOnly />
                      </mat-form-field>
                  </div> -->
        </div>

        <div class="row">
          <!-- <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <input matInput autofocus placeholder="Tax ID" maxlength="100" formControlName="taxId" />
          </mat-form-field>
        </div> -->

          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                readonly
                [matDatepicker]="doj"
                placeholder="{{ 'date_of_hire' | translate }}"
                [min]="formControls['dob'].value"
                [max]="maxDate"
                formControlName="doj"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="doj"
              ></mat-datepicker-toggle>
              <mat-datepicker #doj></mat-datepicker>
              <mat-error *ngIf="formControls['doj'].errors?.['required']">
                Please select hiring date
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-4 require">
            <mat-form-field class="example-full-width" *ngIf="!userRoleName || userRoleName.toLowerCase() != 'admin'">
               <mat-select placeholder="Role" formControlName="roleID" matInput [ngClass]="{ 'is-invalid': submitted && formControls.roleID.errors }" required [disabled]="staffId && !addEditRolePermission"> 
              <input readonly matInput placeholder="Role" disabled="true" value="Provider" /> 
              <mat-select placeholder="Role" formControlName="roleID" matInput [ngClass]="{
                'is-invalid': submitted && formControls.roleID.errors}" required>
                <mat-option *ngFor="let role of masterRoles" [value]="role.id">
                  {{ role.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.roleID.errors">
                Please select role
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="userRoleName && userRoleName.toLowerCase() == 'admin'">
              <input matInput placeholder="Role" disabled="true" value="Admin" />
            </mat-form-field>
          </div> -->
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                appZipcode
                matInput
                autofocus
                placeholder="Prescriber ID"
                maxlength="10"
                formControlName="npiNumber"
                [ngClass]="{
                  'is-invalid': submitted && formControls['npiNumber'].errors
                }"
                required
              />
              <mat-error *ngIf="formControls['npiNumber'].errors?.['required']">
                Please enter Prescriber ID
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <input
                matInput
                autofocus
                placeholder="{{ 'email' | translate }}"
                [readonly]="true"
                maxlength="60"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': submitted && formControls['email'].errors
                }"
                required
              />
              <mat-error *ngIf="formControls['email'].errors?.['required']">
                {{ "please_enter_email" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['email'].errors?.['email']">
                {{ "Please_enter_a_valid_email_address" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['email'].errors?.['uniqueName']">
                {{ "email" | translate }} '{{ formControls['email'].value }}'
                {{ "already_exist" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-select
                placeholder="{{ 'gender' | translate }}"
                formControlName="gender"
                matInput
                [ngClass]="{
                  'is-invalid': submitted && formControls['gender'].errors
                }"
                class="mt-2"
              >
                <mat-option
                  *ngFor="let genderVal of masterGender"
                  [value]="genderVal.id"
                >
                  {{ genderVal.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <!--<input
                matInput
                autofocus
                placeholder="Language"
                maxlength="50"
                formControlName="language"
              />-->
              <mat-select
                multiple
                matInput
                placeholder="{{ 'language' | translate }}"
                formControlName="languageKeys"
                [ngClass]="{
                  'is-invalid': submitted && formControls['languageKeys'].errors
                }"
                required
                class="mt-2"
              >
                <mat-option *ngFor="let lang of languages" [value]="lang.value">
                  {{ lang.key }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls['languageKeys'].errors">
                Please select at least one language
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width pass">
              <input
                [type]="isShowPassword ? 'text' : 'password'"
                matInput
                autofocus
                autocomplete="new-password"
                type="password"
                placeholder="{{ 'password' | translate }}"
                maxlength="30"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': submitted && formControls['password'].errors
                }"
                required
              />
              <i
                (click)="isShowPassword = !isShowPassword"
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !isShowPassword,
                  'fa-eye': isShowPassword
                }"
              ></i>
              <mat-error
                *ngIf="
                  formControls['password'].errors?.['required'] &&
                  formControls['password'].errors?.['strong']
                "
              >
                Please enter password
              </mat-error>
              <mat-error
                *ngIf="
                  formControls['password'].errors?.['required'] == undefined &&
                  formControls['password'].errors?.['strong']
                "
              >
                Password should have number,special character lowercase and
                uppercase letters
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                          <input matInput autofocus placeholder="CAQH ID" maxlength="15" formControlName="caqhid" />
                      </mat-form-field>
                  </div> -->

          <!-- <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Degree" formControlName="degreeID" matInput [ngClass]="{
                'is-invalid': submitted && formControls.degreeID.errors
              }" class="mt-2">
              <mat-option *ngFor="let degree of masterDegree" [value]="degree.id">
                {{ degree.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
          <!-- <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Payroll Group" formControlName="payrollGroupID" matInput [ngClass]="{
                'is-invalid': submitted && formControls.payrollGroupID.errors
              }" required class="mt-2">
              <mat-option *ngFor="let pGroup of payrollGroup" [value]="pGroup.id">
                {{ pGroup.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControls.payrollGroupID.errors">
              Please select payroll group
            </mat-error>
          </mat-form-field>
        </div> -->
          <div class="col-sm-4 require">
            <mat-form-field class="example-full-width pass">
              <input
                [type]="isShowRePassword ? 'text' : 'password'"
                matInput
                autofocus
                autocomplete="new-password"
                type="password"
                placeholder="{{ 'confirm_password' | translate }}"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submitted && formControls['confirmPassword'].errors
                }"
                required
              />
              <i
                (click)="isShowRePassword = !isShowRePassword"
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !isShowRePassword,
                  'fa-eye': isShowRePassword
                }"
              ></i>
              <mat-error *ngIf="formControls['confirmPassword'].errors?.['required']">
                {{ "re_enter_password" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls['confirmPassword'].errors?.['notSame']">
                Password doesn't match
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="row"> -->
        <!--
                  <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                          <input matInput autofocus placeholder="BHPN Practitioner ID" maxlength="100" formControlName="employeeID" />
                      </mat-form-field>
                  </div> -->

        <!-- <div class="col-sm-4 require">
                      <mat-form-field class="example-full-width">
                          <input matInput autofocus placeholder="Online Pay Rate" maxlength="10" formControlName="payRate" [ngClass]="{ 'is-invalid': submitted && formControls.payRate.errors }" required appNumbersOnly [allowDecimals]="true" />
                          <mat-error *ngIf="formControls.payRate.errors?.['required']">
                              Please enter pay rate
                          </mat-error>
                          <mat-error *ngIf="formControls.payRate.errors?.rate">
                              Pay rate should be greater than 0
                          </mat-error>
                      </mat-form-field>
                  </div>

                  <div class="col-sm-4 require">
                      <mat-form-field class="example-full-width">
                          <input matInput autofocus placeholder="Face To Face Pay Rates" maxlength="10" formControlName="ftFpayRate" [ngClass]="{ 'is-invalid': submitted && formControls.ftFpayRate.errors }" required appNumbersOnly [allowDecimals]="true" />
                          <mat-error *ngIf="formControls.ftFpayRate.errors?.['required']">
                              Please enter pay rate
                          </mat-error>
                          <mat-error *ngIf="formControls.ftFpayRate.errors?.rate">
                              Pay rate should be greater than 0
                          </mat-error>
                      </mat-form-field>
                  </div> -->

        <!-- </div> -->

        <div class="row">
          <!-- <div class="col-sm-4">
                      <mat-form-field class="example-full-width" hintLabel="{{formControls.userName.pending ? 'Validating...' : ''}}">
                          <input matInput autofocus autocomplete="username" placeholder="User Name" maxlength="60" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && formControls.userName.errors }" required />
                          <mat-error *ngIf="formControls.userName.errors?.['required']">
                              Please enter username
                          </mat-error>
                          <mat-error *ngIf="formControls.userName.errors?.uniqueName">
                              Username '{{formControls.userName.value}}' already exists
                          </mat-error>
                          <mat-error *ngIf="formControls.userName.errors?.pattern">
                              Username '{{formControls.userName.value}}' not valid, allowed only alphanumeric characters.
                          </mat-error>
                      </mat-form-field>
                  </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-12">

            <div class="panel_title">
              <h3>Location</h3>
              <i class="flaticon flaticon-location"></i>
            </div>
          </div> -->

          <!-- <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <mat-select (selectionChange)="updateLocationList()" multiple placeholder="Location" formControlName="locationIds" matInput
                [ngClass]="{ 'is-invalid': submitted && formControls.locationIds.errors }" required>
                <mat-option *ngFor="let location of masterLocation" [value]="location.id">
                  {{location.locationName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.locationIds.errors">
                Please select locations
              </mat-error>
            </mat-form-field>
          </div> -->

          <!-- <div class="col-sm-4 require">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Default Location" formControlName="defaultLocation" matInput [ngClass]="{ 'is-invalid': submitted && formControls.defaultLocation.errors }"
                required>
                <mat-option *ngFor="let location of defaultLocationList" [value]="location.id">
                  {{location.locationName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.defaultLocation.errors">
                Please select default location
              </mat-error>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-sm-4">
                      <mat-checkbox formControlName="isRenderingProvider">
                          Rendering Provider
                      </mat-checkbox>
                  </div> -->
          <div class="col-sm-4" hidden>
            <mat-checkbox formControlName="isUrgentCare">
              {{ "opt_for_urgent_care_services" | translate }}
            </mat-checkbox>
          </div>
        </div>
        <br />

        <!-- <div class="row" *ngIf="!show">
          <div class="col-sm-6 require">
            <div class="panel_title">
              <h3>Role</h3>
              <mat-error *ngIf="roleaddmsg" class=.mat-form-field-required-marker>
                Create roles in Masters > User Roles to assign them to users.
              </mat-error>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select  placeholder="role" formControlName="staffUserRole" matInput
                [ngClass]="{
                  'is-invalid':
                    submitted && formControls.staffUserRole.errors
                }">
                <mat-option *ngFor="let stf of masterProviderCareCategory" [value]="stf.id">
                  {{ stf.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.staffUserRole.errors">
                Please select role
              </mat-error>
            </mat-form-field>
          </div> -->
        <!-- <div class="col-sm-6">
            <div class="panel_title">
              <h3>Taxonomy</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select multiple placeholder="Taxonomy" formControlName="staffTaxonomyKeys" matInput [ngClass]="{ 'is-invalid': submitted && formControls.staffTaxonomyKeys.errors }"
                required>
                <mat-option *ngFor="let stf of masterStaffTaxonomies" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.staffTaxonomyKeys.errors">
                Please select taxonomy
              </mat-error>
            </mat-form-field>
          </div> -->
        <!-- </div> -->

        <div class="row">
          <!-- <div class="col-sm-6 require">
            <div class="panel_title">
              <h3>Speciality</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select multiple placeholder="Speciality" formControlName="staffSpecialityKeys" matInput [ngClass]="{ 'is-invalid': submitted && formControls.staffSpecialityKeys.errors }"
                required>
                <mat-option *ngFor="let stf of masterStaffSpecialities" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.staffSpecialityKeys.errors">
                Please select speciality
              </mat-error>
            </mat-form-field>
          </div> -->
          <p *ngIf=" this.userModel.staffSpecialityModel == undefined ||
          this.userModel.staffSpecialityModel.length == 0" class="tag warning" style="color: red;">
            Please add your specialty to be listed in the doctors list on the home screen and available for appointment bookings.
          </p>
          <div class="col-sm-6 require">
            <div class="panel_title">
              <h3>{{ "speciality" | translate }}</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <mat-form-field class="example-full-width">
              <!-- <mat-select multiple placeholder="Speciality" formControlName="staffSpecialityKeys" matInput [ngClass]="{ 'is-invalid': submitted && formControls.staffSpecialityKeys.errors }"
                required>
                <mat-option *ngFor="let stf of masterStaffSpecialities" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select> -->

              <mat-select
                (selectionChange)="selectChange($event.value)"
                multiple
                placeholder="Speciality"
                formControlName="staffSpecialityKeys"
                matInput
                [ngClass]="{
                  'is-invalid':
                    submitted && formControls['staffSpecialityKeys'].errors
                }"
                required
                class="mt-2"
              >
                    <!-- intentionally commented code for running the application -->
                <ngx-mat-select-search
                  [formControl]="filterCtrl"
                  [searching]="searching"
                  placeholderLabel="Search"
                  noEntriesFoundLabel="No records found!"
                ></ngx-mat-select-search>
                <mat-option
                  *ngFor="let option of testingspeciality | async"
                  [value]="option.id"
                >
                  {{ option.value }}
                </mat-option>
                <mat-option
                  *ngFor="let stf of masterStaffSpecialities"
                  [value]="stf.id"
                >
                  {{ stf.value }}
                </mat-option>
              </mat-select>

              <!-- <mat-select [formControl]="staffSpecialityKeys" placeholder="Bank" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="staffSpecialityKeys"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let stf of masterStaffSpecialities | async" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select> -->

              <!-- <mat-select [formControl]="staffSpecialityKeys" placeholder="Speciality" [multiple]="true">
                <mat-select-search [formControl]="staffSpecialityKeys"></mat-select-search>
                <mat-option *ngFor="let stf of masterStaffSpecialities | async" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select> -->

              <!-- <mat-select [formControl]="staffSpecialityKeys" placeholder="Speciality" [multiple]="true" #multiSelect>
                <ngx-mat-select-search [formControl]="npiNumber"></ngx-mat-select-search>
                <mat-option *ngFor="let stf of masterStaffSpecialities" [value]="stf.id">
                  {{stf.value}}
                </mat-option>
              </mat-select> -->
              <mat-error *ngIf="formControls['staffSpecialityKeys'].errors">
                {{ "select_speciality" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <div class="panel_title">
              <h3>{{ "services" | translate }}</h3>
              <i class="flaticon flaticon-two-users"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select
                multiple
                placeholder="{{ 'services' | translate }}"
                formControlName="servicesKeys"
                matInput
                [ngClass]="{
                  'is-invalid': submitted && formControls['servicesKeys'].errors
                }"
                class="mt-2"
              >
                <!-- <ngx-mat-select-search
                  [formControl]="filterCtrl1"
                  [searching]="searching"
                  placeholderLabel="Search"
                  noEntriesFoundLabel="No records found!"
                >
                </ngx-mat-select-search> -->
                <ngx-mat-select-search
                  [formControl]="filterCtrl1"
                  placeholderLabel="Search"
                  noEntriesFoundLabel="No records found!"
                >
                </ngx-mat-select-search>
                <mat-option
                  *ngFor="let stf of testingServices | async"
                  [value]="stf.id"
                >
                  {{ stf.value }}
                </mat-option>
                <mat-option *ngFor="let stf of masterServices" [value]="stf.id">
                  {{ stf.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls['servicesKeys'].errors">
                Please select service
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-6">
            <div class="panel_title">
              <h3>Team</h3>
              <i class="flaticon flaticon-two-users"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select
                multiple
                placeholder="Team Members"
                formControlName="staffTeamKeys"
                matInput
                [ngClass]="{
                  'is-invalid': submitted && formControls.staffTeamKeys.errors
                }"
              >
                <mat-option *ngFor="let stf of masterStaff" [value]="stf.id">
                  {{ stf.value }}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div> -->

          <div class="col-sm-6" hidden>
            <div class="panel_title">
              <h3>{{ "taxonomy/sub_speciality" | translate }}</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <mat-form-field class="example-full-width">
              <mat-select
                multiple
                placeholder="{{ 'taxonomy' | translate }}"
                formControlName="staffTaxonomyKeys"
                matInput
                [ngClass]="{
                  'is-invalid':
                    submitted && formControls['staffTaxonomyKeys'].errors
                }"
                class="mt-2"
              >
                <mat-option
                  *ngFor="let stf of masterStaffTaxonomies"
                  [value]="stf.id"
                >
                  {{ stf.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls['staffTaxonomyKeys'].errors">
                Please select taxonomy
              </mat-error>
              <!-- The commented code is for texonomy -->
              <!-- <input matInput placeholder="Taxonomy" formControlName="taxonomy" [ngClass]="{
                'is-invalid':
                  submitted && formControls.taxonomy.errors
              }" class="mt-1" required/>
              <mat-error *ngIf="formControls.taxonomy.errors">
                Please fill taxonomy field.
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="panel_title">
              <h3>"{{ "tags" | translate }}"</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-form-field class="example-full-width">
              <mat-select
                multiple
                placeholder="{{ 'tags' | translate }}"
                formControlName="staffTagsKeys"
                matInput
                class="mt-2"
              >
                <mat-option
                  *ngFor="let tags of masterTagsForStaff"
                  [value]="tags.id"
                >
                  {{ tags.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel_title">
              <h3>{{ "about_me" | translate }}</h3>
              <span style="padding-top: 15px">
                <p class="about_note">(Note: 500 charaters only)</p>
              </span>
              <i class="flaticon flaticon-commerce"></i>
            </div>
          </div>
          <div class="col-sm-8">
            <!-- <mat-form-field class="example-full-width"> -->
            <!-- <textarea matInput autofocus type="text" placeholder="Describe yourself" formControlName="aboutMe" [ngClass]="{ 'is-invalid': submitted && formControls.aboutMe.errors }" required> -->
            <angular-editor
              (input)="checkAboutMeLength()"
              formControlName="aboutMe"
              [config]="config"
            >
            </angular-editor>
            <!-- </textarea> -->
            <div *ngIf="formControls['aboutMe'].errors?.['required']">
              <p style="color: red">
                {{ "please_enter_description" | translate }}
              </p>
            </div>
            <div *ngIf="displayErrMsg">
              <p style="color: red">500 letters allowed only</p>
            </div>
            <!--<div *ngIf="formControls.aboutMe.value.length>100?.['required']">
              <p style="color:red">100 letters only</p>
            </div>-->
            <!-- </mat-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="panel_title">
              <h3>{{ "user_profile_photo" | translate }}</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <div class="uplaod_pic">
              <div>
                <label class="browse">
                  <img
                    *ngIf="imagePreview"
                    [src]="imagePreview"
                    onerror="this.src='../../../../../../assets/img/noimage.png';"
                    alt="Preview"
                  />
                  <span *ngIf="imagePreview">{{ "change" | translate }}</span>
                  <i
                    *ngIf="!imagePreview"
                    class="fa fa-upload fa-2x"
                    aria-hidden="true"
                  ></i>
                  <input
                    type="file"
                    formControlName="userImg"
                    (change)="handleImageChange($event, 'user')"
                  />
                </label>
              </div>
              <div>
                <label
                  class="browse bg-red"
                  *ngIf="dataURL"
                  (click)="removeImage('user')"
                >
                  <span *ngIf="imagePreview"></span>
                  <i
                    *ngIf="imagePreview"
                    class="fa fa-trash fa-2x"
                    aria-hidden="true"
                  ></i>
                </label>
              </div>
            </div>
            <p class="ins_photo">
              {{ "browse_any_jpg_jpeg_bmp_png_file" | translate }}
            </p>
            <!-- <input type="file" formControlName="userImg" (change)="handleImageChange($event)" /> -->
          </div>
          <div class="col-md-3">
            <div class="panel_title">
              <h3>{{ "logo_for_clinic" | translate }}</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <div class="uplaod_pic">
              <div>
                <label class="browse">
                  <img
                    *ngIf="cliniclogo"
                    [src]="cliniclogo"
                    onerror="this.src='../../../../../../assets/img/noimage.png';"
                    alt="Preview"
                  />
                  <span *ngIf="cliniclogo">{{ "change" | translate }}</span>
                  <i
                    *ngIf="!cliniclogo"
                    class="fa fa-upload fa-2x"
                    aria-hidden="true"
                  ></i>
                  <input
                    type="file"
                    formControlName="clinicLogo"
                    (change)="handleImageChange($event, 'logo')"
                  />
                </label>
              </div>
              <div>
                <label
                  class="browse bg-red"
                  *ngIf="logoDataURL"
                  (click)="removeImage('logo')"
                >
                  <span *ngIf="cliniclogo"></span>
                  <i
                    *ngIf="cliniclogo"
                    class="fa fa-trash fa-2x"
                    aria-hidden="true"
                  ></i>
                </label>
              </div>
            </div>
            <mat-error *ngIf="formControls['clinicLogo'].errors?.['required']">
              Please select clinic logo
            </mat-error>
            <p class="ins_photo">
              {{ "browse_any_jpg_jpeg_bmp_png_file" | translate }}
            </p>
            <!-- <input type="file" formControlName="userImg" (change)="handleImageChange($event)" /> -->
          </div>

          <div class="col-md-3">
            <div class="panel_title">
              <h3>Clinic Stamp</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <div class="uplaod_pic">
              <div>
                <label class="browse">
                  <img
                    *ngIf="clinicStamp"
                    [src]="clinicStamp"
                    onerror="this.src='../../../../../../assets/img/noimage.png';"
                    alt="Preview"
                  />
                  <span *ngIf="clinicStamp">{{ "change" | translate }}</span>
                  <i
                    *ngIf="!clinicStamp"
                    class="fa fa-upload fa-2x"
                    aria-hidden="true"
                  ></i>
                  <input
                    type="file"
                    formControlName="clinicStamp"
                    (change)="handleImageChange($event, 'stamp')"
                  />
                </label>
              </div>
              <div>
                <label
                  class="browse bg-red"
                  *ngIf="stampDataURL"
                  (click)="removeImage('stamp')"
                >
                  <span *ngIf="clinicStamp"></span>
                  <i
                    *ngIf="clinicStamp"
                    class="fa fa-trash fa-2x"
                    aria-hidden="true"
                  ></i>
                </label>
              </div>
            </div>
            <mat-error *ngIf="formControls['clinicStamp'].errors?.['required']">
              Please select clinic stamp
            </mat-error>
            <p class="ins_photo">
              {{ "browse_any_jpg_jpeg_bmp_png_file" | translate }}
            </p>
            <!-- <input type="file" formControlName="userImg" (change)="handleImageChange($event)" /> -->
          </div>

          <div class="col-md-3">
            <div class="panel_title">
              <h3>{{ "upload_signature" | translate }}</h3>
              <i class="flaticon flaticon-commerce"></i>
            </div>
            <div class="uplaod_pic">
              <div>
                <label class="browse">
                  <img
                    *ngIf="clinicSignature"
                    [src]="clinicSignature"
                    onerror="this.src='../../../../../../assets/img/noimage.png';"
                    alt="Preview"
                  />
                  <span *ngIf="clinicSignature">{{
                    "change" | translate
                  }}</span>
                  <i
                    *ngIf="!clinicSignature"
                    class="fa fa-upload fa-2x"
                    aria-hidden="true"
                  ></i>
                  <input
                    type="file"
                    formControlName="clinicSignature"
                    (change)="handleImageChange($event, 'signature')"
                  />
                </label>
              </div>
              <div>
                <label
                  class="browse bg-red"
                  *ngIf="signatureDataURL"
                  (click)="removeImage('signature')"
                >
                  <span *ngIf="clinicSignature"></span>
                  <i
                    *ngIf="clinicSignature"
                    class="fa fa-trash fa-2x"
                    aria-hidden="true"
                  ></i>
                </label>
              </div>
            </div>
            <mat-error *ngIf="formControls['clinicSignature'].errors?.['required']">
              Please select clinic signature
            </mat-error>
            <p class="ins_photo">
              {{ "browse_any_jpg_jpeg_bmp_png_file" | translate }}
            </p>
            <!-- <input type="file" formControlName="userImg" (change)="handleImageChange($event)" /> -->
          </div>
        </div>
        <div class="row">
          <div
            class="col-sm-12 d-flex justify-content-between pt-3 actions-btn"
          >
            <div>
              <button
                type="button"
                (click)="onBackHandler()"
                class="btn btn-outline pull-left mr-2"
                mat-raised-button
                color="accent"
              >
                {{ "back" | translate }}
              </button>
            </div>

            <div class="d-flex">
              <button
                name="Save"
                mat-raised-button
                color="accent"
                (click)="onSubmit($event)"
                form="userForm"
                class="text-uppercase mr-2"
                [disabled]="submitted && displayErrMsg"
              >
                {{ isSaving ? "Saving..." : ("save" | translate) }}
              </button>

              <button
                name="SaveContinue"
                mat-raised-button
                color="primary"
                (click)="onSubmit($event)"
                form="userForm"
                class="text-uppercase"
                [disabled]="submitted && displayErrMsg"
              >
                {{ isSaving ? "Saving..." : ("save_and_continue" | translate) }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
