<!-- <app-client-header *ngIf="clientId!=null && clientId!=undefined && clientId>0" [clientId]="clientId" [headerText]="header"></app-client-header> -->

<div class="d-flex justify-content-between">
  <h2 class="page_title">{{ "manage_profile" | translate }}</h2>
  <div class="top-btns">
    <button
      class="link-btn"
      color="primary"
      class="text-uppercase"
      mat-raised-button
      matStepperNext
      (click)="moveBack()"
    >
      {{ "back" | translate }}
    </button>
  </div>
</div>

<div class="readmin-panel">
  <mat-tab-group
    (selectedTabChange)="loadComponent($event)"
    [selectedIndex]="selectedIndex"
  >
    <mat-tab
      *ngFor="let tab of clientTabs; let i = index"
      class="mat-tab-label-active"
      label="{{ tab | translate }}"
      [disabled]="clientId == null && tab != 'demographic_info' ? true : false"
    >
    </mat-tab>
  </mat-tab-group>
  <div #tabContent></div>
</div>
