.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  

.timing-slot li {
    display: inline;
}

.timing-slot button {
    border: 1px solid #17a2b8;
    border-radius: 7px;
    display: inline-block;
    font-size: 14px !important;
    padding: 5px 10px;
    height: 48px !important;
    margin: 6px 8px 6px 0px;
    line-height: normal;
    color: #17a2b8;
    cursor: pointer;
}

.m-t-5{
  margin-top: 5px;
}
.mb-2 {
  margin-bottom: 2rem;
}

.timing-slot .selected-slot button {
    background-color: #63d891;
    color: #fff;
    cursor: not-allowed;
}

.width-100per {
  width: 100%;
}