<div class="row">
  <div class="col-md-12 mt-3" >
    <button mat-raised-button color="primary" class="float-right" (click)="createModal('add',null)">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{"add_qualification"|translate}}
    </button>
    <!-- {{ "add_qualification" | translate }} -->
  </div>
  <div class="col-md-12">
    <h5>{{"qualification"|translate}}</h5>
  </div>
  <div class="col-md-12">
    <app-data-table
      [inputColumns]="staffQualificationColumns"
      [inputSource]="qualificationList"
      [inputMeta]="metaData"
      [inputButtons]="actionButtons"
      (onPageOrSortChange)="onPageOrSortChange($event)"
      (onTableActionClick)="onTableActionClick($event)"
    >
    </app-data-table>
  </div>
</div>
