<section class="cont-banner">
  <div class="contactus-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>{{"About_us"|translate}}</h2>
          <h3>{{"YOUR_GATEWAY_TO_QUALITY"|translate}}</h3>
          <p>
            {{"myHealthyGate_is_founded_by_a_group_etc"|translate}}
          </p>
          <button class="btn btn-white">
            <a href="/contact-us">{{"contact_us"|translate}}</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission-sec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mission_headline">
          <h4>
            {{"our_mission_is_clear_your_health_is_the_centre"|translate}}
          </h4>
          <h5>{{"Our_experience_in_this_industry_shaped_our_vision"|translate}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 order-m-2">
        <div class="mission_content">
          <div class="mission_content1">
            <h2 style="white-space: pre-wrap">{{"We_believe_in_quality_service"|translate}}</h2>
            <p style="white-space: pre-wrap">
              {{"So_we_facilitate_a_direct_link_to_multiple_health_services_etc"|translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 order-m-1">
        <div class="mission_img">
          <!-- <img src="../../../assets/img/vector-dots.svg" alt="" class="mission_dot"> -->
          <img src="../../../assets/img/about-img-4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="vision_img">
          <img src="assets/img/about-img-3.png" alt="" />
          <!-- <img src="assets/img/about-img-3.png" alt="" class="vision_dot"> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="vision_content">
          <div class="vision_content1">
            <h2>{{"We_believe_in_convenience"|translate}}</h2>
            <p style="white-space: pre-wrap">
              {{"So_skip_waiting_in_the_clinic_for_the_doctor_skip_the_traffic_jam_etc"|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission-sec">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 order-m-2">
        <div class="mission_content">
          <div class="mission_content1">
            <h2>{{"We_see_That_health_is_beyond_treatment"|translate}}</h2>
            <p>
              {{"Which_include_home_care_booking_nursing"|translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 order-m-1">
        <div class="mission_img">
          <!-- <img src="../../../assets/img/vector-dots.svg" alt="" class="mission_dot"> -->
          <img src="../../../assets/img/about-img-2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="vision_img">
          <img src="assets/img/about-img-1.png" alt="" />
          <!-- <img src="assets/img/about-img-3.png" alt="" class="vision_dot"> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="vision_content">
          <div class="vision_content1">
            <h2>
              {{"We_thrive_on_making_your_health_as_accessible_as_possible"|translate}}
            </h2>
            <p>
              {{"So_you_can_save_your_health_documents_in_your_account_etc"|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sec-head">
          <h3>
            {{"We_open_the_Gate_to_the_healthcare_and_support_for_everyone_everywhere"|translate}}
          </h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="provide_img">
          <img src="../../../assets/img/doctor-profile.png" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="provide_content">
          <h2>{{"myHealthyGate_provides:"|translate}}</h2>
          <ul>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" />
              {{"MyHealthyWallet_manage_all_your_records_and_appointments_in_one_spot"|translate}}
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" />
              {{"Book_your_Video_Home_visit_or_F2F_Consultation_through_the_app_or_the_web"|translate}}
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" />
              {{"Attend_your_appointment_in_your_own_privacy"|translate}}
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" />
              {{"A_healthy_Gateway_beyond_medical_treatment_like_weight_management_mental_health_counselling_and_home_care"|translate}}
            </li>
            <li>
              <img src="../../../assets/img/check-icon-green.svg" alt="" />
              {{"A_choice_to_have_prescriptions_sent_directly_to_your_selected_pharmacy"|translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="convenince_sec">
    <div class="convenince_sec_1">
      <div class="row">
        <div class="col-10 col-md-6">
          <h2>{{"We_Care_for_your_convenience"|translate}}</h2>
          <p>
            {{"And_want_you_to_open_your_Healthy_Gate_to_access_the_best_health_providers_and_support_you_in_a_Healthier_life"|translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>