<section class="blog_hero_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="blog_hero_content">
          <div class="blog_hero_content1">
            <h3>
              Security technology for tracking medical devices and medicine
              inventory
            </h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
              cumque, culpa illum consequatur ut ratione. Consequatur sint
              consequuntur, commodi sed blanditiis harum iure natus doloribus
              ullam quia, perspiciatis temporibus laudantium.
            </p>
            <button class="btn btn-white">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="blog_hero_img"></div>
      </div>
    </div>
  </div>
</section>

<section class="blog_article">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="blog_first_card">
            <img src="../../../assets/img/blog-article-1.png" alt="">
            <h3>The doctor’s visit of the future will be like having coffee with a friend. Here’s why</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus temporibus, unde nemo sapiente ex officiis dicta iusto ut veniam molestiae sunt similique libero reiciendis, dignissimos molestias quis ea porro?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus temporibus, unde nemo sapiente ex officiis dicta iusto ut veniam molestiae sunt similique libero reiciendis, dignissimos molestias quis ea porro?</p>
            <p>Lorem ipsum dolor sit mo sapiente ex officiis dicta iusto ut veniam molestiae sunt similique libero reiciendis, dignissimos molestias quis ea porro?</p>
            <p class="date"><strong>June 1, 2022</strong></p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="blog_second_card">
            <img src="../../../assets/img/blog-article-2.png" alt="">
            <h3>OIG warns of telehealth fraud risks in wake of DOJ crackdown</h3>
            <p class="date"><strong>June 1, 2022</strong></p>
          </div>
          <div class="blog_second_card">
            <img src="../../../assets/img/blog-article-3.png" alt="">
            <h3>OIG warns of telehealth fraud risks in wake of DOJ crackdown</h3>
            <p class="date"><strong>June 1, 2022</strong></p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="blog_related">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="blog_card">
          <img src="../../../assets/img/blog-article-1.png" alt="">
          <h3>Digital health funding is cooling down</h3>
          <p class="date">June 10, 2021</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="blog_card">
          <img src="../../../assets/img/blog-article-1.png" alt="">
          <h3>Digital health funding is cooling down</h3>
          <p class="date">June 10, 2021</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="blog_card">
          <img src="../../../assets/img/blog-article-1.png" alt="">
          <h3>Digital health funding is cooling down</h3>
          <p class="date">June 10, 2021</p>
        </div>
      </div>
    </div>
  </div>
</section>