td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    text-align: center !important;
}
.flex-align{
    justify-content: flex-end;
    align-items: center;
}
.total-amt{
    font-weight: 600;
    color: #01385f;
    background-color: #efefef;
    padding: 7px 20px;
    border: 4px;
}