<h2 class="page_title mt-3">Test List</h2>
<div class="patient-container">
  
  <div class="clearfix"></div>
  <div class="readmin-panel">
    <div class="no-gutters">
      <div class="col-md-5 pull-right justify-content-md-end d-flex">
        <button
          mat-raised-button
          color="primary"
          (click)="openDialog()"
          class="add-primary-btn"
        >
          <i class="fa fa-plus" aria-hidden="true"></i> <span>Add Test </span>
        </button>
      </div>
      <div class="col-md-12 justify-content-start pull-left">
        <div class="row">
          <div class="col-4 mtm-27">
            <form class="readmin-form custom_form">
              <mat-form-field class="example-full-width">
                <mat-label>Select Role</mat-label>
                <mat-select
                  [(ngModel)]="selectedRole"
                  name="selectedRole"
                  (selectionChange)="onRoleChange($event)"
                >
                  <mat-option value="lab">Lab Test</mat-option>
                  <mat-option value="radiology">Radiology Test</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div class="col-4 mtm-27">
            <form class="readmin-form custom_form">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [(ngModel)]="searchText"
                  name="searchText"
                  (keyup)="applyFilter()"
                  placeholder="Search"
                />
              </mat-form-field>
            </form>
          </div>
          <div class="col-4 filter-btn mt-3">
            <button
              class="clear-btn"
              mat-raised-button
              (click)="clearFilters()"
            >
              Clear All
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="clearfix"></div>
    <app-data-table
      [inputColumns]="displayedColumns"
      [inputSource]="serviceData"
      [inputMeta]="metaData"
      [inputButtons]="actionButtons"
      (onPageOrSortChange)="onPageOrSortChange($event)"
      (onTableActionClick)="onTableActionClick($event)"
    >
    </app-data-table>
  </div>
</div>
