<div class="tab_block_content">
  <h2 class="page-title mt-5">Manage Patients</h2>
  <div class="clearfix"></div>
  <div class="readmin-panel" style="box-shadow: inherit;">
    <div class="row no-gutters">
      <div class="col-md-4 justify-content-start pull-left">
        <div class="row">
          <div class="col-7 mtm-27 search_manage_provide">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [(ngModel)]="searchText"
                name="searchText"
                (ngModelChange)="applyFilter($event)"
                placeholder="Search"
              />
            </mat-form-field>
          </div>
          <div class="col-5 filter-btn">
            <button
              class="clear-btn"
              mat-raised-button
              (click)="clearFilters()"
            >
              Clear All
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <label class="type_label mt-2">Profile Status : </label>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Select Status</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="statusChangeHandler($event.value)">
              <mat-option *ngFor="let status of profileStatus" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 pull-right justify-content-md-end d-flex">
        <button mat-raised-button color="primary" (click)="addPatient()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Patient
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
    <app-data-table
      [inputColumns]="displayColumns"
      [inputSource]="patientList"
      [inputMeta]="metaData"
      (onPageOrSortChange)="onPageOrSortChange($event)"
      [inputButtons]="actionButtons"
      (onTableActionClick)="onTableActionClick($event)"
    >
    </app-data-table>
  </div>
</div>
