<div class="provider-block">
  <div class="col-12 mt-3" *ngIf="userInfo">
    <div class="doctor-widget profile-view">
      <i
        (click)="closeDialog('close')"
        class="fa fa-close"
        aria-hidden="true"
      ></i>
      <mat-card>
        <mat-card-content>
          <div class="doc-info">
            <div class="d-flex doctor-profile-img">
              <div class="doctor-img">
                <img
                  class="img-fluid profile-img"
                  src="{{
                    userInfo.photoThumbnailPath ||
                      '../../../assets/img/noimage.png'
                  }}"
                  alt="doctor"
                />
                <img
                  src="../../../assets/img/green-play-button.png"
                  alt=""
                  class="play_btn"
                  *ngIf="providerVideo.statusCode==200"
                  (click)="openDialogVideo()"
                />
              </div>
              <div class="doc-info-cont">
                <h4 class="doc-name">
                  <a>Dr. {{ fullname }}</a>
                </h4>
                <p
                  class="doc-speciality doc-department"
                  *ngFor="let spl of staffSpecialities"
                >
                  {{ spl.speciality }}
                </p>
                <h5
                  class="doc-department mb-0"
                  *ngFor="let spl of staffSpecialities"
                >
                  {{ spl.speciality }}
                </h5>
                <!-- <div class="row">
                  <star-rating
                    value="{{ averageRating.average }}"
                    totalstars="5"
                    checkedcolor="#f4c150"
                    uncheckedcolor="#e5e5e5"
                    size="18px"
                    readonly="true"
                  ></star-rating>
                  <span
                    *ngIf="averageRating.total > 0"
                    class="d-inline-block average-rating"
                    >({{ averageRating.total }})</span
                  >
                </div> -->

                <!-- <div class="clinic-gallery">
                  <ngx-gallery
                    [options]="galleryOptions"
                    [images]="galleryImages"
                  ></ngx-gallery>
                </div> -->
                <div class="clinic-services">
                  <span *ngFor="let taxonomy of staffTaxonomy">{{
                    taxonomy.taxonomyName
                  }}</span>
                </div>
              </div>
            </div>
            <div class="doc-info-right">
              <div class="clini-infos">
                <ul>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {{ userInfo.phoneNumber }}
                  </li>
                  <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ userInfo.email }}
                  </li>
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ userInfo.address }}
                  </li>
                </ul>
              </div>
              <div class="clinic-booking">
                <p><strong>See Fees</strong></p>
                <!-- <button
                  class="mt-5"
                  mat-raised-button
                  color="primary"
                  
                >
                  Book Now
                </button> -->
                <!-- <button mat-raised-button color="accent" class="mr-2" (click)="backToListing()">Back</button> -->
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="readmin-panel mb-3">
      <mat-tab-group>
        <mat-tab label="{{ tabs[0].tabName }}">
          <div class="no-gutters row">
            <div class="col-md-8 mt-3">
              <div class="profile-widget">
                <h4>About Me</h4>
                <!-- <p>{{userInfo.aboutMe}}</p> -->
                <div [innerHTML]="userInfo.aboutMe"></div>
              </div>
              <div class="profile-widget">
                <h4>Work & Experience</h4>
                <ul>
                  <li *ngFor="let exp of staffExperiences">
                    {{ exp.organizationName }}
                    <span
                      >{{ exp.startDate | date: "mediumDate" }} -
                      {{ exp.endDate | date: "mediumDate" }} ({{
                        exp.totalExperience
                      }})</span
                    >
                  </li>
                </ul>
                <span *ngIf="!staffExperiences"
                  >No work & experience added yet.</span
                >
              </div>
              <div class="profile-widget">
                <h4>Education</h4>
                <ul>
                  <li *ngFor="let edu of staffQualifications">
                    {{ edu.university }}
                    <span>{{ edu.course }}</span>
                    <span
                      >{{ edu.startDate | date: "mediumDate" }} -
                      {{ edu.endDate | date: "mediumDate" }}</span
                    >
                  </li>
                </ul>
                <span *ngIf="!staffQualifications"
                  >No qualification added yet.</span
                >
              </div>
              <div class="profile-widget">
                <h4>Awards</h4>
                <ul>
                  <li *ngFor="let award of staffAwards">
                    <label>{{ award.awardDate | date: "mediumDate" }}</label>
                    <p>{{ award.awardType }}</p>
                    <span>{{ award.description }}</span>
                  </li>
                </ul>
                <span *ngIf="!staffAwards">No awards added yet.</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-list">
                <h4>Services</h4>
                <ul>
                  <li *ngFor="let serv of staffServices">
                    {{ serv.serviceName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab label="{{ tabs[1].tabName }}">
          <div
            class="no-gutters row"
            *ngFor="let loc of StaffLocationAvailabilities"
          >
            <div class="col-md-6 mt-3">
              <div class="clinic-content profile-widget">
                <h4>About me</h4>
                <h5>{{ loc.assignedLocationsModel.location }}</h5>
                <h6 class="clinic-direction">
                  <i class="fa fa-map-marker"></i>
                  {{ loc.assignedLocationsModel.address }} <br />
                </h6>
              </div>
              <div class="clinic-timing profile-widget">
                <h4>Hours</h4>
                <div
                  class="timingss"
                  *ngFor="let avail of loc.availabilityModel.days"
                >
                  <p class="timings-days">
                    <span> {{ avail.dayName | slice: 0:3 }} </span>
                  </p>
                  <p class="timings-times">
                    <span
                      >{{ avail.startTime | date: "shortTime" }} -
                      {{ avail.endTime | date: "shortTime" }}</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div
                class="direction-map profile-widget"
                *ngIf="StaffLocationAvailabilities"
              >
                <h4>Map</h4>
                <agm-map
                  [latitude]="loc.latitude"
                  [longitude]="loc.longitude"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)"
                >
                  <agm-marker
                    *ngFor="let m of markers; let i = i; ndex"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]=""
                    [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)"
                  >
                    <agm-info-window>
                      <strong>{{ m.label }}</strong>
                    </agm-info-window>
                  </agm-marker>

                  <agm-circle
                    [latitude]="loc.latitude"
                    [longitude]="loc.longitude"
                    [radius]="5000"
                    [fillColor]="'red'"
                    [circleDraggable]="true"
                    [editable]="true"
                  >
                  </agm-circle>
                </agm-map>
              </div>
            </div>
          </div>
        </mat-tab> -->
        <!-- <mat-tab label="{{ tabs[2].tabName }}">
          <div class="dash-table mt-3">
            <ng-scrollbar [trackX]="true" [autoHide]="true">
              <app-data-table
                class="d-inline-block sticky-table fixed-table no-table"
                [ngClass]="{
                  'no-fixed': reviewRatingList && reviewRatingList.length == 0,
                  '': reviewRatingList && reviewRatingList.length > 0
                }"
                stickyHeader="true"
                [inputColumns]="reviewRatingDisplayedColumns"
                [inputSource]="reviewRatingList"
                (onPageOrSortChange)="onReviewRatingPageOrSortChange($event)"
                [inputMeta]="reviewRatingMeta"
              >
              </app-data-table>
            </ng-scrollbar>
          </div>
        </mat-tab> -->
        <mat-tab label="Consultation Fee">
          <div class="profile-widget mt-3">
            <h4>Consultation Fee <span>(All Types)</span></h4>
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Online</th>
                    <th>Face to Face</th>
                    <th>Home Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>New</th>
                    <td>$290.00</td>
                    <td>$190.00</td>
                    <td>$350.00</td>
                  </tr>
                  <tr>
                    <th>Follow up</th>
                    <td>$290.00</td>
                    <td>$190.00</td>
                    <td>$350.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Upload Video">
          <div class="profile-widget row mx-0 " *ngIf="providerVideo.statusCode==204">
            <!-- <div class="  ">
              <button mat-raised-button color="primary" (click)="openModal()">
                <i class="fa fa-plus" aria-hidden="true"></i> Upload Video
              </button>
            </div> -->
            <div class="">
              Upload Video
            </div>
            <div class="col-sm-4">
              <div class="uplaod_pic">
                <label class="browse">
                  <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                  <input
                    type="file"
                    accept="video/mp4,video/x-m4v,video/*"
                    (change)="onSelectVideo($event)"
                  />
                </label>
              </div>
              <p class="ins_photo">(Browse any mp4 file less then 50mb)</p>
              <div *ngIf="sizeError" class="ins_photo text-danger">
                Video to large! Please upload video less than 50mb.
              </div>
            </div>
            <div class="col-sm-2 p-0 mt-4" *ngIf="videoDetails.length!=0" >
              <span>
                <p *ngFor="let file of videoDetails;let i=index;">
                  {{ file.fileName }}
                  <button
                    type="button"
                    title="Delete"
                    class="tbactionbtn"
                    (click)="removeFile(i)"
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </p>
              </span>
            </div>
            <div class="col-sm-3" style="margin-top: 5rem;">
              <button mat-raised-button color="primary" class="w-100" (click)="uploadHandler('upload')"> Upload</button>
            </div>
          </div>
          <div class="profile-widget row" *ngIf="providerVideo.statusCode==200">
            <div class="bold">Uploaded Video</div>
            <div class="col-sm-3">
              <div class="uplaod_pic">
                <label class="browse">
                  <i class="fa fa-play fa-2x"  (click)="openDialogVideo()" aria-hidden="true"></i>
                </label>
              </div>
              <p class="ins_photo">(you have already uploaded video)</p>
            </div>
            <div  class="col-12 mt-2">
              <button mat-raised-button color="primary" class="w-100" (click)="uploadHandler('remove')"> Remove video</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
