.policy-blk .section-heading{
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 25px;
}
.policy-blk .fa{
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #01385f;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    z-index: 99;
}
.terms-block{
    height: calc(100% - 50px);
    overflow: auto;
}
.wedo-box {
    text-align: center;
}
