<div class="custom_modal">
  <h3 mat-dialog-title>{{ headerText }}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form
          id="vitalForm"
          #documentForm="ngForm"
          class="readmin-form custom_form"
          [formGroup]="vitalForm"
        >
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  readonly
                  [matDatepicker]="vitalDate"
                  [max]="maxDate"
                  placeholder="Vital Date"
                  formControlName="vitalDate"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="vitalDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #vitalDate></mat-datepicker>
                <mat-error *ngIf="formControls['vitalDate'].errors?.['required']">
                  Please enter vital date
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  [allowDecimals]="true"
                  placeholder="{{'height'|translate}}(cm)"
                  maxlength="5"
                  formControlName="heightIn"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  [allowDecimals]="true"
                  placeholder="{{'weight'|translate}} (Kg)"
                  maxlength="5"
                  formControlName="weightLbs"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  placeholder="{{'h_rate'|translate}}(BPM)"
                  maxlength="7"
                  formControlName="heartRate"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  placeholder="{{'systolic_bp'|translate}}"
                  maxlength="6"
                  formControlName="bpSystolic"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  placeholder="{{'diastolic_bp'|translate}}"
                  maxlength="6"
                  formControlName="bpDiastolic"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  placeholder="Pulse Oximeter"
                  maxlength="7"
                  formControlName="pulse"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  placeholder="{{'respiration'|translate}}"
                  maxlength="6"
                  formControlName="respiration"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  appNumbersOnly
                  [allowDecimals]="true"
                  placeholder="{{'temperature'|translate}}(°C)"
                  maxlength="5"
                  formControlName="temperature"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="vitalValidation">
              <div class="del-cont">
                <p class="alert-danger_text no_margin">{{"note"|translate}} : {{ error }}</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between align-items-center">
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{"close"|translate}}
    </button>
    <div>
      <button
        name="Save"
        mat-raised-button
        color="primary"
        (click)="onSubmit($event)"
        form="vitalForm"
        class="text-uppercase"
        [disabled]="vitalValidation || submitted"
        cdkFocusInitial
      >
        {{ submitted ? "Saving..." : ("save"|translate) }}
      </button>
      <button
        *ngIf="vitalModel.id == null || vitalModel.id == 0"
        name="SaveAddMore"
        mat-raised-button
        color="primary"
        (click)="onSubmit($event)"
        form="vitalForm"
        class="text-uppercase ml-3"
        [disabled]="vitalValidation || submitted"
        cdkFocusInitial
      >
        {{
          submitted
            ? "Saving..."
            : ("save_and_add_more"|translate)
        }}
      </button>
    </div>
  </div>
</div>
