<h2 *ngIf="showUploader" class="page_title">{{"manage_provider_educational_documents"|translate}}</h2>
<div class="clearfix"></div>
<div>
  <div class="educlass no-gutters">
    <div class="row" style="align-items: center;">
      <div class="col-md-6 text-center">
        <h3>{{'if_you_would_like_to_send_education_content_then_contact_us_on_myhealthy_gate'|translate}}</h3>
        <button class="btn btn-education" (click)="onClickContactNow()" >{{'Contact_Now'|translate}}</button>
      </div>
      <!-- <div class="col-md-7">
        <img class="edu_image"
          src="../../../../../../assets/img/education-image.png"
          alt=""
        />
      </div> -->
      <!-- If you would like to send education content then contact us on
      <a href="https://mscore.stagingsdei.com:9610/contact-us" target="_blank"> MyHealthyGate</a> -->
    </div>
  </div>
  <div class="row no-gutters" *ngIf="showUploader">
    <div class="col-md-3 pull-right justify-content-md-end d-flex mt-15 mr-4">
      <button mat-raised-button color="primary" (click)="createModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> {{"upload_documents"|translate}}
      </button>
    </div>
    <div class="col-md-8 justify-content-start pull-left">
      <form
        id="documentFormGroup"
        #documentForm="ngForm"
        class="readmin-form custom_form"
        [formGroup]="documentFormGroup"
      >
        <div class="row end-flex">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input
                (dateChange)="applyFilter()"
                matInput
                readonly
                [matDatepicker]="fromDate"
                placeholder="{{'from_date'|translate}}"
                formControlName="fromDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="fromDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input
                (dateChange)="applyFilter()"
                matInput
                readonly
                [matDatepicker]="toDate"
                [min]="formControls['fromDate'].value"
                placeholder="{{'to_date'|translate}}"
                formControlName="toDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="toDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-2 filter-btn">
            <button
              class="clear-btn"
              mat-raised-button
              (click)="clearfilters()"
            >
              {{"clear_all"|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="clearfix"></div>
  <div *ngIf="documentList != null && documentList.length > 0" class="row">
    <div
      class="col-lg-4 col-md-6 mb-3 custom-card custom-card-header"
      *ngFor="let doc of documentList"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ doc.documentTitle }}
          </mat-card-title>
          <mat-card-actions>
            <mat-slide-toggle
              title="active/inactive"
              [(ngModel)]="doc.isActive"
              (change)="gettogglevalue($event, doc.id)"
            >
            </mat-slide-toggle>
            <!-- <button
              mat-button
              *ngIf="
                doc.extenstion != '.jpg' ||
                doc.extenstion != '.jpeg' ||
                doc.extenstion != '.png' ||
                doc.extenstion != '.mp4'
              "
              (click)="onOpenDocViewer(doc.url)"
              title="view"
              style="font-size: 24px"
            >
              <i class="fa fa-eye"></i>
            </button> -->

            <button
              mat-button
              *ngIf="
    doc.extenstion != '.jpg' &&
    doc.extenstion != '.jpeg' &&
    doc.extenstion != '.png' &&
    doc.extenstion != '.mp4'
  "
              (click)="onOpenDocViewer(doc.url)"
              title="view"
              style="font-size: 24px"
            >
              <i class="fa fa-eye"></i>
            </button>

            <!-- <button mat-button (click)="getUserDocument(doc)" title="download">
                <i class="fa fa-download"></i>
              </button> -->
            <button
              mat-button
              (click)="deleteUserDocument(doc.id)"
              title="delete"
            >
              <i class="fa fa-close"></i>
            </button>
          </mat-card-actions>
        </mat-card-header>
        <mat-card-content>
          <div class="text-left">
            <!-- <p>Document Type:
                            <span>{{doc.documentTypeNameStaff}}</span>
                        </p> -->
            <p>
              Uploaded Date:
              <span>{{ doc.createdDate | date: 'dd/MM/yyyy' }}</span>
            </p>
            <!-- <p>Expiration Date:
                            <span>{{doc.expiration |date:'dd/MM/yyyy'}}</span>
                        </p> -->
          </div>

          <div class="text-right">
            <img
              *ngIf="doc.extenstion == '.pdf'"
              src="../../../../../../assets/img/pdf.png"
            />
            <img
              *ngIf="doc.extenstion == '.doc' || doc.extenstion == '.docx'"
              src="../../../../../../assets/img/doc.png"
            />
            <img
              *ngIf="doc.extenstion == '.ppt' || doc.extenstion == '.pptx'"
              src="../../../../../../assets/img/ppt.png"
            />
            <img
              *ngIf="doc.extenstion == '.xls' || doc.extenstion == '.xlsx'"
              src="../../../../../../assets/img/excel.png"
            />
            <img
              *ngIf="doc.extenstion == '.jpg' || doc.extenstion == '.jpeg'"
              src="../../../../../../assets/img/jpg.png"
            />
            <img
              *ngIf="doc.extenstion == '.png'"
              src="../../../../../../assets/img/jpg.png"
            />
            <img
              *ngIf="doc.extenstion == '.txt'"
              src="../../../../../../assets/img/txt.png"
            />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
