<div class="payment-blk">
  <h2 class="page_title">{{"payment_history"|translate}}</h2>
  <div class="clearfix"></div>
  <div class="readmin-panel">
      <div class="no-gutters">
          <div class="col-md-12 justify-content-start pull-left">
              <form class="readmin-form custom_form" id="paymentFormGroup" #documentForm="ngForm" [formGroup]="paymentFormGroup">
                  <div class="row ">
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <input matInput (keyup)="applyFilter()" placeholder="{{'patient_name'|translate}}" formControlName="name">
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <input matInput readonly [matDatepicker]="payDate" (dateChange)="applyPayDateFilter($event)" placeholder="{{'payment_date'|translate}}" formControlName="payDate">
                              <mat-datepicker-toggle matSuffix [for]="payDate"></mat-datepicker-toggle>
                              <mat-datepicker #payDate></mat-datepicker>

                          </mat-form-field>

                      </div>

                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <mat-select (openedChange)="onDropDownClose($event)" placeholder="{{'appointment_status'|translate}}" formControlName="appStatus" matInput multiple>
                                  <mat-option *ngFor="let status of appopintmentStatus" [value]="status.id">
                                      {{status.value}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>

                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <mat-select (openedChange)="onDropDownClose($event)" placeholder="{{'booking_mode'|translate}}" formControlName="bookingMode" matInput multiple>
                                  <mat-option value="Online">{{"online"|translate}}</mat-option>
                                  <!-- <mat-option value="In Person">In Person</mat-option> -->
                                  <mat-option value="Face to Face">{{"face_to_face"|translate}}</mat-option>
                                  <mat-option value="Home Visit">{{"home_visit"|translate}}</mat-option>
                              </mat-select>
                          </mat-form-field>

                      </div>
                      <div class="col-md-3">

                          <mat-form-field class="example-full-width">
                              <input matInput readonly [matDatepicker]="rangeStartDate" (dateChange)="applyStartDateFilter($event)" placeholder="{{'appointment_start_date_range'|translate}}" formControlName="rangeStartDate">
                              <mat-datepicker-toggle matSuffix [for]="rangeStartDate"></mat-datepicker-toggle>
                              <mat-datepicker #rangeStartDate></mat-datepicker>

                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <input matInput readonly [matDatepicker]="rangeEndDate" (dateChange)="applyEndDateFilter($event)" placeholder="{{'appointment_end_date_range'|translate}}" formControlName="rangeEndDate">
                              <mat-datepicker-toggle matSuffix [for]="rangeEndDate"></mat-datepicker-toggle>
                              <mat-datepicker #rangeEndDate></mat-datepicker>

                          </mat-form-field>
                      </div>
                      <div class="col-md-2 filter-btn">
                          <button class="clear-btn" mat-raised-button (click)='clearFilters()'>{{"clear_all"|translate}}</button>
                      </div>

                      <div *ngIf="totalNetAmount" class="col-md-7 d-flex">
                          <div class="total-amt">{{"total_amount"|translate}}: {{'INR ' + totalNetAmount}}</div>
                      </div>



                  </div>
              </form>
          </div>
          <div class="export-btn-rt">
              <button mat-raised-button color="primary" class="ml-2 add-primary-btn" (click)="exportPaymentPdf()">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  <span>{{"export"|translate}}</span>
              </button>
          </div>
      </div>
      <div class="clearfix"></div>

      <app-data-table [inputColumns]="displayedColumns" [inputSource]="payments" [inputMeta]="metaData" [inputButtons]='actionButtons' (onPageOrSortChange)="onPageOrSortChange($event)">
      </app-data-table>