<!-- <app-client-header [clientId]="clientId" [headerText]="header"></app-client-header> -->
<div><h3> {{'past_appointments'|translate}}</h3></div>
 <button name="Filter" style="float: right;" mat-raised-button color="primary" class="text-uppercase" (click)='RedirctMyProfil()'>{{'back'|translate}}</button>
<div class="clearfix"></div>
<div class="readmin-panel">
      <form class="readmin-form custom_form" id="encounterFormGroup" #documentForm="ngForm" [formGroup]="encounterFormGroup">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="{{'appointment_type'|translate}}" formControlName="appointmentTypeId" (selectionChange)="changeAppointment($event)">
                <mat-option *ngFor="let tag of appointmentType" [value]="tag.value">
                  {{tag.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'staff_name'|translate}}" formControlName="staffName">
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Status" formControlName="status" matInput>
                <mat-option *ngFor="let status of statusList" [value]="status.value">
                  {{status.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
      <div class="row">
          <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <!-- <input matInput [matDatepicker]="fromDate"  [max]="maxDate" [matDatepickerFilter]="myDateFilter" (focus)="fromDate.open()" placeholder="{{'from_date'|translate}}" formControlName="fromDate" readonly> -->
                <input matInput [matDatepicker]="fromDate"  [max]="maxDate"  (focus)="fromDate.open()" placeholder="{{'from_date'|translate}}" formControlName="fromDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="toDate" (focus)="toDate.open()"  [min]="TominDate" placeholder="{{'to_date'|translate}}" formControlName="toDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>
            </div>
        <div class="col-sm-4">
          <div class="filter-btn">
            <button type="button" class="clear-btn" mat-raised-button (click)='clearFilters()'>{{'clear_all'|translate}}</button>
            <button name="Filter" mat-raised-button color="primary" class="text-uppercase" (click)='applyFilter()'>{{'filter'|translate}}</button>
          </div>
        </div>
      </div>
      </form>
  <div class="clearfix"></div>
  <app-data-table [inputColumns]="displayedColumns" [inputSource]="encounterListModel" [inputMeta]="metaData"
    (onPageOrSortChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)" [inputButtons]='actionButtons'></app-data-table>
  </div>
