<!-- <app-auth>
    <div class="login-headtabs">
        <div class="login-headtab active col-sm-12">
            <a class="active" aria-current="page" routerLink="/web/reset-password">reset Password</a>
        </div>
    </div>
    <form [formGroup]="resetPasswordForm" class="readmin-form" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage" class="alert-danger">{{errorMessage}}</div>
        <div *ngIf="successMessage" class="alert-success">{{successMessage}}</div>
        <div class="form-group">
            <mat-form-field require class="example-full-width">
                <input matInput autofocus type="password" placeholder="Password" maxlength="30" formControlName="password" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" required />
                <mat-error *ngIf="formControls.password.errors?.['required'] && formControls.password.errors?.strong">
                    Please enter password
                </mat-error>
                <mat-error *ngIf="formControls.password.errors?.['required']==undefined && formControls.password.errors?.strong">
                    Password should have number,special character lowercase and uppercase letters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field require class="example-full-width">
                <input matInput autofocus [errorStateMatcher]="matcher" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" required />
                <mat-error *ngIf="formControls.confirmPassword.errors?.['required']">
                    Please re-enter password
                </mat-error>
                <mat-error *ngIf="!formControls.confirmPassword.errors?.['required'] && resetPasswordForm.hasError('notSame')">
                    Passwords do not match
                </mat-error>
                <mat-error *ngIf="formControls.confirmPassword.errors?.notSame">
          Password doesn't match
        </mat-error>
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
            <button class="example-full-width login-btn" mat-raised-button color="primary" [disabled]="submitted">{{!submitted ? 'Reset Pasword' : 'Updating...'}}</button>
        </div>

        <div class="backtologin text-center">
            <a aria-current="false" routerLink="['/web/login']">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go to Login</a>
        </div>
    </form>
</app-auth> -->

<app-auth>
    <div class="row doclogin no-gutters form-block">
        <div class="col-md-12">
            <div class="logo mb-4">
                <a routerLink='/' title="Go To Home"><img src="../assets/img/telehealth-logo.svg" alt="" /></a>
            </div>
            <h3 class="pb-3 fw-300">Reset Password</h3>
            <div class="form-style">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="errorMessage" class="alert-danger">{{errorMessage}}</div>
                    <div *ngIf="successMessage" class="alert-success">{{successMessage}}</div>

                    <div class="group">
                        <input placeholder="Password" [type]="isShowPassword ? 'text' : 'password'" maxlength="30" formControlName="password" [ngClass]="{ 'is-invalid': submitted && formControls['password'].errors }" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <i (click)="isShowPassword = !isShowPassword" class="fa" [ngClass]="{
                'fa-eye-slash': !isShowPassword,
                'fa-eye': isShowPassword
              }"></i>

                        <mat-error *ngIf="formControls['password'].errors?.['required'] && formControls['password'].errors?.['strong']  && submitted">
                            Please enter password
                        </mat-error>
                        <mat-error *ngIf="formControls['password'].errors?.['required']==undefined && formControls['password'].errors?.['strong']  && submitted">
                            Password should have number,special character lowercase and uppercase letters
                        </mat-error>
                    </div>

                    <div class="group">
                        <input [type]="isShowRePassword ? 'text' : 'password'" maxlength="30" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && formControls['confirmPassword'].errors }" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Confirm Password</label>
                        <i (click)="isShowRePassword = !isShowRePassword" class="fa" [ngClass]="{
                'fa-eye-slash': !isShowRePassword,
                'fa-eye': isShowRePassword
              }"></i>

                        <mat-error *ngIf="formControls['confirmPassword'].errors?.['required']   && submitted">
                            Please re-enter password
                        </mat-error>
                        <mat-error *ngIf="!formControls['confirmPassword'].errors?.['required'] && resetPasswordForm.hasError('notSame')   && submitted">
                            Passwords do not match
                        </mat-error>
                    </div>


                    <div class="d-flex align-items-center justify-content-between">
                        <!-- <div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span class="pl-2 fw-300">Remember Me</span></div> -->
                        <!-- <div class="frgt-txt"><a [routerLink]="['/web/forgot-password']">Forget Password?</a></div> -->
                    </div>
                    <div class="pb-4 mt-5 btn-group justify-content-center">
                        <button type="submit" class="btn btn-blue font-weight-bold" [disabled]="submitted">{{!submitted ? 'Reset Pasword' : 'Updating...'}}</button>
                        <!-- <a href="signup-doc.html">
                            <button type="button" class="btn btn-white font-weight-bold">Sign Up</button>
                        </a> -->
                    </div>
                    <div class="backtologin text-center">
                        <a aria-current="false" routerLink="['/web/login']">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go to Login</a>
                    </div>
                </form>

                <div class="pt-4 f-14 terms-txt">
                    By signing up, you agree to MyHealthyGate's <a href="javascript:void(0);" (click)="opentermconditionmodal()">Terms and Conditions</a> & <a href="javascript:void(0);" (click)="opentermconditionmodal()">Privacy Policy</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6 d-none d-md-block">
      <img src="../../../../../assets/login-doc.png" class="img-fluid" style="min-height:100%;" />
    </div> -->
    </div>

</app-auth>
