<div class="custom_modal">
  <h3 mat-dialog-title>{{headerText}}</h3>
  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" id="serviceForm" #documentForm="ngForm" class="readmin-form custom_form" [formGroup]="serviceForm">
          <div class="row">
            <div class="col-sm-12 require">
              <mat-form-field class="example-full-width" hintLabel="{{formControls['Question'].pending ? 'Validating...' : ''}}">
                <input matInput autofocus placeholder="Question" maxlength="50" formControlName="Question" [ngClass]="{ 'is-invalid': submitted && formControls['Question'].errors }"
                  required />
                <mat-error *ngIf="formControls['Question'].errors?.['required']">
                  Please enter Question name
                </mat-error>
                <mat-error *ngIf="formControls['Question'].errors?.['uniqueName']">
                  Question Name is already taken.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

    <!-- <div class="row">
      <div class="col-sm-4 require">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Speciality" formControlName="globalCodeId" matInput [ngClass]="{ 'is-invalid': submitted && formControls.globalCodeId.errors }"
            required>
            <mat-option *ngFor="let sp of masterSpeciality" [value]="sp.id">
              {{sp.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.globalCodeId.errors?.required">
            Please select  Speciality
          </mat-error>
        </mat-form-field>
      </div>


  </div> -->
          <div class="row">
            <div class="col-sm-6 require is_active">
              <mat-checkbox formControlName="isActive">
                Is Active?
              </mat-checkbox>
            </div>
          </div>
        </form>
      </div>
    </div>

  <div mat-dialog-actions class="nw-pd">
    <button mat-raised-button class="cancel-btn" (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" form="serviceForm" [disabled]="submitted || formControls['Question'].pending" cdkFocusInitial>
        {{(submitted || formControls['Question'].pending) ? submitted ? 'Saving...' : formControls['Question'].pending ? 'Validating...' : 'Save' : 'Save'}}
      </button>
  </div>
</div>
