<div class="tab_block_content mt-5">
  <h2 clasa="page-title">Manage Radiology</h2>
  <div class="clearfix"></div>
  <div class="readmin-panel" style="box-shadow: inherit;">
    <div class="no-gutters">
      <div class="col-md-7 justify-content-start pull-left">
        <div class="row">
          <div class="col-7 mtm-27 search_manage_provide">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [(ngModel)]="searchText"
                name="searchText"
                (ngModelChange)="applyFilter($event)"
                placeholder="Search"
              />
            </mat-form-field>
          </div>
          <div class="col-5 filter-btn">
            <button
              class="clear-btn"
              mat-raised-button
              (click)="clearFilters()"
            >
              Clear All
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5 pull-right justify-content-md-end d-flex">
        <button mat-raised-button color="primary" (click)="addRadiology()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Radiology
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
    <app-data-table
      [inputColumns]="displayColumns"
      [inputSource]="allRadiologists"
      [inputMeta]="metaData"
      [inputButtons]="actionButtons"
      (onTableActionClick)="onTableActionClick($event)"
      (onPageOrSortChange)="onPageOrSortChange($event)"
    >
    </app-data-table>
  </div>
</div>
