
.uplaod_pic img {
    height: 150px;
    max-width: 100%;
    width: auto;
}


.uplaod_pic span {
    background: rgba(0, 0, 0, 0.20);
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    left: 0;
    right: 0;
    bottom: 5px;
    border-radius: 0;
    position: absolute;
    height: 30px;
    line-height: 30px;
}
.country-field {
    position: inherit !important;
    left: inherit !important;
  }
  .country-field-sec {
    display: flex;
    gap: 20px;
  }
  .country-field-sec .country-mat-field {
    margin-left: inherit !important;
  }