<div class="col-md-5 pull-right justify-content-md-end d-flex">
  <button mat-raised-button color="primary" class="add-primary-btn" (click)="openDialog()">
    <i class="fa fa-plus" aria-hidden="true"></i> <span>Add Category</span></button>
</div>
<div class="col-md-7 justify-content-start pull-left">
  <div class="row">
    <div class="col-7 mtm-27 search_manage_provide">
      <form class="readmin-form custom_form">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="searchText" name="searchText" (keyup)="applyFilter()"
            placeholder="Search">
        </mat-form-field>
      </form>
    </div>
    <div class="col-5 filter-btn">
      <button class="clear-btn" mat-raised-button (click)="clearFilters()">{{"clear_all"|translate}}</button>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<app-data-table [inputColumns]="displayedColumns" [inputSource]="categoryData" [inputMeta]="metaData" [inputButtons]='actionButtons'
  (onPageOrSortChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)">
</app-data-table>