<div class="custom_modal p-4">
  <h3 mat-dialog-title>{{"add_template"|translate}}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form class="readmin-form custom_form" id="templateForm" [formGroup]="templateForm" (ngSubmit)="onSubmit()"
          #documentForm="ngForm">
          <div class="row">
            <div class="col-sm-12 require border">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'title'|translate}}" maxlength="200" formControlName="title"
                  [ngClass]="{ 'is-invalid': submitted && formControls['title'].errors }" required />
                <mat-error *ngIf="formControls['title'].errors?.['required']">
                  {{"please_enter_title"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 require">
              <mat-form-field class="example-full-width">
                <input matInput autofocus placeholder="{{'name'|translate}}" maxlength="200" formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && formControls['name'].errors }" required />
                <mat-error *ngIf="formControls['name'].errors?.['required']">
                 {{"please_enter_name"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4 require">
              <mat-form-field class="example-full-width">
                <input matInput readonly [matDatepicker]="date" placeholder="Template Date" formControlName="date"
                  required />
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
                <mat-error *ngIf="formControls['date'].errors?.['required']">
                  Please enter template date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="panel_title">
                <h3>Upload Logo</h3>
                <i class="flaticon flaticon-commerce"></i>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel_title">
                <h3>Upload Stamp</h3>
                <i class="flaticon flaticon-commerce"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="uplaod_pic">
                <div>
                  <label class="browse">
                    <img *ngIf="logoImagePreview" [src]="logoImagePreview"
                      onerror="this.src='../../../../../../assets/img/noimage.png';" alt="Preview" />
                    <span *ngIf="logoImagePreview">{{"change"|translate}}</span>
                    <i *ngIf="!logoImagePreview" class="fa fa-upload fa-2x" aria-hidden="true"></i>
                    <input type="file" formControlName="logo" (change)="handleLogoImageChange($event)" />
                  </label>
                </div>
                <div>
                  <label class="browse bg-red" *ngIf="logodataURL" (click)="removeLogoImage()">
                    <span *ngIf="logoImagePreview"></span>
                    <i *ngIf="logoImagePreview" class="fa fa-trash fa-2x" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
              <p class="ins_photo">{{"browse_any_jpg_jpeg_bmp_png_file"|translate}}</p>
            </div>
            <div class="col-sm-6">
              <div class="uplaod_pic">
                <div>
                  <label class="browse">
                    <img *ngIf="stampImagePreview" [src]="stampImagePreview"
                      onerror="this.src='../../../../../../assets/img/noimage.png';" alt="Preview" />
                    <span *ngIf="stampImagePreview">{{"change"|translate}}</span>
                    <i *ngIf="!stampImagePreview" class="fa fa-upload fa-2x" aria-hidden="true"></i>
                    <input type="file" formControlName="stamp" (change)="handleStampImageChange($event)" />
                  </label>
                </div>
                <div>
                  <label class="browse bg-red" *ngIf="stampdataURL" (click)="removeStampImage()">
                    <span *ngIf="stampImagePreview"></span>
                    <i *ngIf="stampImagePreview" class="fa fa-trash fa-2x" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
              <p class="ins_photo">{{"browse_any_jpg_jpeg_bmp_png_file"|translate}}</p>
            </div>
          </div>          
        </form>

        <div class="row mt-4">
          <div class="col-sm-12">
            <angular-editor id="templateNote" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span>Add Sign</span>
          </div>
        </div>
        <div class="row" style="padding: 10px 15px;">
          <div class="col-sm-6 border">
            <!-- <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad> -->
            <signature-pad [options]="signaturePadOptions" (onEnd)="drawComplete()"></signature-pad>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-end">
            <button class="cancel-btn ml-3" mat-raised-button (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">{{"close"|translate}}</button>
    <button name="Save" mat-raised-button color="primary" form="templateForm" class="text-uppercase"
      [disabled]="templateForm.invalid || submitted" (click)="onSubmit()" cdkFocusInitial>{{submitted ? 'Saving...' :
      ('save'|translate)}}</button>
  </div>
</div>