<div class="user-dropdown">
    <button class="bell-icon" mat-icon-button [matMenuTriggerFor]="message">
        <i class="fa fa-bell faa-ring animated-hover" aria-hidden="true"></i>
        <span *ngIf="documentNotifications.length>0" class="no_noti">{{documentNotifications.length}}</span>
    </button>
    <mat-menu #message="matMenu" class="natification_box">
        <div class="main-head">
            <h3>{{"notifications"|translate}}</h3>
            <button type="button"><i class="zmdi zmdi-format-clear-all"></i></button>
        </div>
        <div [ngStyle]="{ 'height': '300px' }">
            <ng-scrollbar>
                <div mat-menu-item class="read-noti" *ngFor="let doc of documentNotifications">

                    <!-- <div>{{doc.notificationAction}}</div> -->
                    <div (mouseover)='markRead(doc?.notificationId)'>
                        {{doc.message}}
                        <span class="block"><i class="fa fa-clock-o">&nbsp;{{doc.timeStamp | date:'MMM d, y, h:mm a'}}</i></span>
                    </div>
                    <!-- <i class="zmdi zmdi-close"></i> -->
                </div>
            </ng-scrollbar>
        </div>
        <!-- <div class="main-head show-all"><button type="button">Show all notifications</button></div> -->
        <div *ngIf="documentNotifications.length==0" class="main-head show-all"><button type="button">{{"no_notifications"|translate}}</button></div>
    </mat-menu>
    <button [matMenuTriggerFor]="profile"> <img src="../../../assets/profile.png" alt="user" class="profile-pic">
    </button>
    <mat-menu #profile="matMenu">
        <div class="setting_menu">
            <button mat-menu-item *ngFor='let item of userNavigations' (click)="onSelectUserMenu(item)">
                <span [innerHtml]="item.iconName"></span>
                {{item.displayName}}
            </button>
        </div>
    </mat-menu>
</div>