<div class="modal-design-sec text-center">
  <div class="custom_modal modal-lg custom-modal-design">
  
    <div>
      <h3 class="imgStyle strip">CALL NOTIFICATION</h3>
    <div mat-dialog-content class="modal-design-sec-inner">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="text-center">Video call has been disconnected by </h5>
          <h6 class="mb-2">{{callerName}}</h6>
        </div>
      </div>
    </div>
    <div class="payment-btn-sec"> 
     
      <button mat-raised-button class="decline cancel-btn mat-raised-button mat-button-base text-center"
        (click)="declineCall()">{{"close"|translate}}</button>
    </div>
    </div>
    
    

    

   

   
  </div>
</div>