<app-call-button></app-call-button>
<div [class.example-is-mobile]="mobileQuery.matches">
  <!-- layout-header -->
  <mat-toolbar class="main-header">
    <div>
      <!-- <div class="example-app-name">
        <a href="/" title="Go To Home"><img src="{{ logoUrl }}" alt="" /></a>
      </div> 
      <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>-->
      <p class="doc-txt" *ngIf="firstTimeLogin">Welcome &nbsp;</p>
      <p class="doc-txt">{{ fullName }}</p>
    </div>
    <div>
      <app-layout-header
        *ngIf="!isPatient"
        [headerInfo]="headerInfo"
        (eventChangePassword)="createModal()"
      >
      </app-layout-header>
      <app-client-header-layout
        *ngIf="isPatient"
        [headerInfo]="headerInfo"
        (eventChangePassword)="createModal()"
      >
      </app-client-header-layout>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <!-- sidebar -->
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'side' : 'over'"
      [opened]="mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="0"
    >
      <ng-scrollbar>
        <app-layout-sidebar [sidebarInfo]="sidebarInfo"></app-layout-sidebar>
      </ng-scrollbar>
    </mat-sidenav>

    <!-- right drawer for client listing -->
    <mat-sidenav
      #clientDrawer
      mode="over"
      class="client-drag"
      opened="false"
      position="end"
      [class.toggle]="isOpenClientDrawer"
    >
      <button
        *ngIf="!isPatient"
        mat-button
        class="app-menu-button client-list"
        (click)="onClientToggle(clientDrawer)"
      >
        <!-- <mat-icon>home</mat-icon> -->
        <i class="srach-pt flaticon-symbol"></i>
      </button>
      <app-client-listing *ngIf="!isPatient"></app-client-listing>add
    </mat-sidenav>
    <!-- sidenav-content -->
    <mat-sidenav-content class="content_page123">
      <div class="content_page">
        <div [class.hidden]="!loading">
          <div class="full_loader">
            <div class="circle_loader page_loader">
              <img src="{{ loaderImage }}" alt="" />
            </div>
          </div>
        </div>
        <div *ngIf="moduleTabs && moduleTabs.length > 0" class="mod-tabs">
          <!-- <h2 class="page_title">{{"client_details"|translate}}</h2> -->
          <div class="readmin-panel one pt-0">
            <mat-tab-group
              [(selectedIndex)]="selectedTabIndex"
              (click)="onTabChange(selectedTabIndex)"
            >
              <div *ngFor="let tab of moduleTabs; let index = index">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <span>{{ tab.displayName }}</span>
                  </ng-template>
                </mat-tab>
              </div>
            </mat-tab-group>
          </div>
        </div>
        <router-outlet *ngIf="headerInfo && headerInfo.user"></router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- layout-footer -->
    <app-layout-footer></app-layout-footer>
  </mat-sidenav-container>
</div>
