<div class="patient-container">
  <app-labclientheader [clientId]="clientId" [headerText]="header"></app-labclientheader>
  <div class="readmin-panel">
    <div class="panel-body">
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="pull-right justify-content-md-end d-flex">
            <button
              [disabled]="disableButton()"
              mat-raised-button
              *ngIf="addPermission"
              mat-raised-button
              color="primary"
              class="add-primary-btn"
              (click)="openDialog()"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span [matTooltip]="disableButton() ? tooltipdMessage : ''"
                >Add Allergy</span
              >
            </button>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-8 col-sm-12 d-flex justify-content-start flex-wrap">
          <div class="sortCss">Sort By</div>
          <button mat-button (click)="sortHandler('latest')">Latest</button>
          <button mat-button (click)="sortHandler('oldest')">Oldest</button>
          <button mat-button (click)="sortHandler('atoz')">A to Z</button>
          <button mat-button (click)="sortHandler('ztoa')">Z to A</button>
          <button mat-raised-button color="primary" (click)="sortHandler('clear')">
            Clear filter
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 pull-right justify-content-md-end d-flex flex-wrap" *ngIf="isAuth">
          <button mat-raised-button mat-raised-button color="primary" class="add-primary-btn"
            (click)="openInsuranceDialog(null)">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Add Insurance</span>
          </button>
        </div>
      </div>
      <app-data-table [inputColumns]="displayedColumns" [inputSource]="insuranceModel" [inputMeta]="metaData"
        [inputButtons]="actionButtons" (onTableActionClick)="onInsuranceTableActionClick($event)"
        (onPageOrSortChange)="onPageOrSortChange($event)">
      </app-data-table>
    </div>
  </div>
</div>