/*User Time Sheet*/
.week-date{display: flex; justify-content: flex-start; align-items: center; padding: 10px;}
.week-date .pre-next-btn, .week-date .pre-next-btn button {
    min-width: 30px !important;
    height: 30px !important;
    line-height: 27px !important;
    width: 30px !important;
}

.week-date .pre-next-btn i{color: #000 !important;}
.week-date p{margin: 0px;}
.week-date .pre-next-btn button > div div {
    background: #fff !important;
}
.tbactionbtn {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
    color: #01385f;
}
.tbactionbtn:hover {
    opacity: 1;
}
.nw-chk{
    display: inline-block;
    float: left;
    margin-bottom: 0;
}

