<div class="patient-container">
  <app-client-header
    [clientId]="clientId"
    [headerText]="header"
  ></app-client-header>

  <div class="clearfix"></div>
  <div class="user-block presc-blk">
    <mat-tab-group
      (selectedTabChange)="loadComponent($event)"
      [disableRipple]="'true'"
      [selectedIndex]="selectedIndex"
    >
      <mat-tab
        *ngFor="let tab of timesheetTabs; let i = index"
        class="mat-tab-label-active"
        label="{{ tab }}"
      >
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="clearfix"></div>
  <div class="readmin-panel">
    <div class="" style="margin-bottom: 35px">
      <div class="col-sm-12" *ngIf="allSoapNotes.length == 0">
        <p>{{'no_doctors/specialists_notes_available'|translate}}</p>
      </div>
      <div class="col-sm-12" *ngIf="allSoapNotes.length > 0">
        <div class="d-flex align-items-center mb-3">
          <div class="mtm-27 search_manage_provide">
            <mat-form-field class="example-full-width">
              <input
                matInput
                [(ngModel)]="searchText"
                name="searchText"
                (ngModelChange)="applyFilter($event)"
                placeholder="{{'search'|translate}}"
              />
            </mat-form-field>
          </div>
          <div class="filter-btn">
            <button
              class="clear-btn"
              mat-raised-button
              (click)="clearFilters()"
            >
            {{'clear_all'|translate}}
            </button>
          </div>
        </div>
        <div class="shopnote-table-width">
          <app-data-table
          [inputColumns]="displaySoapNoteColumns"
          [inputSource]="allSoapNotes"
          [inputMeta]="metaData"
          (onTableActionClick)="onTableActionClick($event)"
          title="Go to profile page"
          onmouseover="this.style.cursor='pointer'"
          (onPageOrSortChange)="onPageOrSortChange($event)"
          [inputButtons]="actionButtons"
        >
        </app-data-table>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
