.iconbox-single {
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    height: 160px;
}

.iconbox-single .box-title {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.circle-icon {
    display: flex;
    align-items: flex-end;
}

.circle-icon i {
    font-size: 130px;
    line-height: 98px;
    color: rgba(0, 0, 0, 0.15);
}

.icon-2 i {
    font-size: 162px;
    line-height: 108px;
}

.icon-1 i {
    font-size: 200px;
    line-height: 100px;
}

.iconbox-single p {
    margin: 0;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}

.iconbox-single h5 {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.iconbox-single.gaps-click:hover p {
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.dashboard-panel>div {
    height: 30px;
}

.dashboard-panel button {
    width: 30px !important;
    height: 30px !important;
    padding: 0px !important;
    line-height: normal;
}

.dashboard_body table th {
    height: auto !important;
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    text-transform: uppercase;
}

.dashboard_body .DivPager {
    padding: 0px 25px;
}

.remain-unit-circle {
    color: #fff;
    border: 1px solid transparent;
    width: 80px;
    text-align: center;
    display: block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    font-size: 13px;
}

.mb-minus-15 {
    margin-bottom: -15px;
}

.update-pwd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.update-pwd i {
    cursor: pointer;
}

.dashboard-box .chart svg {
    width: 100%;
}

.icon-3 i {
    line-height: 104px;
}

.icon-5 i {
    font-size: 125px;
    line-height: 102px;
}

.dash-table {
    max-height: 400px;
}

.sticky-header {
    height: 380px;
}

.sticky-header table {
    table-layout: fixed;
}

.sticky-header table.mat-table thead,
.sticky-header table.mat-table thead th {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.dash-table a:hover,
.sticky-header a:hover {
    text-decoration: underline;
}

.-vertical .ng-scrollbar-thumb {
    min-height: 70px;
}

.dashboardchart i {
    cursor: pointer;
}

td.mat-table-sticky:first-child,
td.mat-table-sticky:last-child {
    background-color: #fff;
    background-clip: padding-box;
}

td.mat-table-sticky:nth-child(2) {
    background-color: #fff;
    background-clip: padding-box;
}

th.mat-table-sticky:first-child,
th.mat-table-sticky:nth-child(2),
th.mat-table-sticky:last-child {
    background-color: #f1f5f7;
}

.sticky-table {
    width: 100%;
}

.sticky-table .table-hover tbody tr:hover {
    background-color: transparent;
}

.no-fixed {
    width: 100%;
    height: 100%;
}

.no-fixed .table {
    table-layout: inherit;
    width: 100%;
    margin: 0px;
}

.no-fixed .table tr.mat-header-row th {
    position: static !important;
    width: auto;
}


/*increase height of bar chart*/

.bar-dash>div {
    min-height: 320px;
}

.canvas.chartjs-render-monitor {
    height: 250px !important;
}

.refresh {
    padding-right: 27px;
}

.field-clear {
    position: absolute;
    bottom: 1.8em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1199px) {
    .iconbox-single {
        height: 130px;
    }
    .iconbox-single h5 {
        font-size: 30px;
    }
    .circle-icon i {
        font-size: 72px;
        line-height: 53px;
    }
    .icon-2 i {
        font-size: 90px;
        line-height: 61px;
    }
    .icon-1 i {
        font-size: 110px;
        line-height: 54px;
    }
}

@media (max-width: 480px) {
    .dashboard-box .chart>div {
        width: 60px !important;
    }
}