<div *ngIf="!isEditForm" class="custom_modal">
  <h3 mat-dialog-title>{{ headerText }}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form
          id="allergyAddForm"
          #documentForm="ngForm"
          class="readmin-form custom_form"
          [formGroup]="allergyAddForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'allergy_type'|translate}}"
                  formControlName="allergyTypeId"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formAddControls['allergyTypeId'].errors
                  }"
                  required
                  matInput
                >
                  <mat-option
                    *ngFor="let rel of masterAllergies"
                    [value]="rel.id"
                  >
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formAddControls['allergyTypeId'].errors?.['required']"
                >
                  Please select an allergy type
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{'allergen'|translate}}"
                  formControlName="allergen"
                  pattern="[a-zA-Z ]*"
                  [ngClass]="{
                    'is-invalid': submitted && formAddControls['allergen'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formAddControls['allergen'].errors?.['required']">
                  Please enter allergen
                </mat-error>
                <mat-error *ngIf="formAddControls['allergen'].errors?.['pattern']">
                  Allowed only alphabetic characters.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'notes'|translate}}" formControlName="note" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'reaction'|translate}}"
                  formControlName="reactionID"
                  [ngClass]="{
                    'is-invalid': submitted && formAddControls['reactionID'].errors
                  }"
                  required
                  matInput
                >
                  <mat-option
                    *ngFor="let rel of masterReaction"
                    [value]="rel.id"
                  >
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formAddControls['reactionID'].errors?.['required']">
                  Please select a reaction
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'status'|translate}}"
                  formControlName="isActive"
                  matInput
                >
                  <mat-option *ngFor="let rel of statusModel" [value]="rel.id">
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="createdDate"
                  placeholder="{{'diagnose_date'|translate}}"
                  [max]="maxDate"
                  formControlName="createdDate"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formAddControls['createdDate'].errors
                  }"
                  required
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="createdDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #createdDate></mat-datepicker>
                <mat-error *ngIf="formAddControls['createdDate'].errors?.['required']">
                  Please enter created date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{'close'|translate}}
    </button>
    <div class="d-flex">
      <button
        name="Save"
        mat-raised-button
        color="accent"
        (click)="onSubmit($event)"
        form="allergyAddForm"
        class="text-uppercase"
        [disabled]="submitted && allergyAddForm.invalid"
        cdkFocusInitial
      >
        {{ submitted ? "Saving..." :  ('save'|translate) }}
      </button>
      <button
        name="SaveAddMore"
        mat-raised-button
        color="primary"
        (click)="onSubmit($event)"
        form="allergyAddForm"
        class="text-uppercase ml-3"
        [disabled]="submitted && allergyAddForm.invalid"
        cdkFocusInitial
      >
        {{ submitted ? "Saving..." : ('save_and_add_more'|translate) }}
      </button>
    </div>
  </div>
</div>

<!-- Edit Form -->
<div *ngIf="isEditForm" class="custom_modal">
  <h3 mat-dialog-title>{{ headerText }}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form
          id="allergyEditForm"
          #documentForm="ngForm"
          class="readmin-form custom_form"
          [formGroup]="allergyEditForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'allergy_type'|translate}}"
                  formControlName="allergyTypeId"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formEditControls['allergyTypeId'].errors
                  }"
                  required
                  matInput
                >
                  <mat-option
                    *ngFor="let rel of masterAllergies"
                    [value]="rel.id"
                  >
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formEditControls['allergyTypeId'].errors?.['required']"
                >
                  Please select an allergy type
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{'allergen'|translate}}"
                  formControlName="allergen"
                  pattern="[a-zA-Z ]*"
                  [ngClass]="{
                    'is-invalid': submitted && formEditControls['allergen'].errors
                  }"
                  required
                />
                <mat-error *ngIf="formEditControls['allergen'].errors?.['required']">
                  Please enter allergen
                </mat-error>
                <mat-error *ngIf="formEditControls['allergen'].errors?.['pattern']">
                  Allowed only alphabetic characters.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Note" formControlName="note" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'reaction'|translate}}"
                  formControlName="reactionID"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formEditControls['reactionID'].errors
                  }"
                  required
                  matInput
                >
                  <mat-option
                    *ngFor="let rel of masterReaction"
                    [value]="rel.id"
                  >
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formEditControls['reactionID'].errors?.['required']">
                  Please select a reaction
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select
                  autofocus
                  placeholder="{{'status'|translate}}"
                  formControlName="isActive"
                  matInput
                >
                  <mat-option *ngFor="let rel of statusModel" [value]="rel.id">
                    {{ rel.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="createdDate"
                  placeholder="{{'diagnose_date'|translate}}"
                  [max]="maxDate"
                  formControlName="createdDate"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formEditControls['createdDate'].errors
                  }"
                  required
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="createdDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #createdDate></mat-datepicker>
                <mat-error
                  *ngIf="formEditControls['createdDate'].errors?.['required']"
                >
                  Please enter created date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{"close"|translate}}
    </button>
    <div class="d-flex">
      <button
        name="Save"
        mat-raised-button
        color="accent"
        (click)="onEditFormSubmit($event)"
        form="allergyEditForm"
        class="text-uppercase"
        [disabled]="submitted && allergyEditForm.invalid"
        cdkFocusInitial
      >
        {{ submitted ? "Saving..." : ("save"|translate) }}
      </button>
      <button
        name="SaveAddMore"
        mat-raised-button
        color="primary"
        (click)="onEditFormSubmit($event)"
        form="allergyEditForm"
        class="text-uppercase ml-3"
        [disabled]="submitted && allergyEditForm.invalid"
        cdkFocusInitial
      >
        {{ submitted ? "Saving..." : ("save_and_add_more"|translate) }}
      </button>
    </div>
  </div>
</div>
