<app-home-header></app-home-header>
<div class="terms-and-condition">
  <div class="container">
    <h2>Refund & Cancellation Policy</h2>
    <p>MHG cancellation policy makes booking, cancelling, and rescheduling easy. MHG will honor a full refund for any of
      our visits when cancelled within the following time constraints that the provider accepts.
      Each provider will assign their own refund policy and time frame accepted for cancellations.</p>
    <p>
      As a general rule, for online, face to face and
      home visits you should notify cancellation or rescheduling of an appointment at least 24 hours prior to the
      schedules visit, otherwise as fees are applicable.Once our MHG admin confirms with the provider that the visit did
      not take place, refund will be processed and
      may take up to ten working days.
    </p>
    <p>
      You may cancel your subscription to Membership Services at any time up to forty-eight (72) hours before the
      applicable renewal processing date of your subscription, by emailing <a href="#">admin@myhealthygate</a>.com
      directly requesting a
      cancellation. If you cancel the Membership Services and your subscription term has not expired, you may continue
      to use the Membership Services until the end of your then-current subscription monthly or annual term and your
      subscription will not be renewed after your then-current term expires. However, you won't be eligible for a
      prorated refund of any portion of the recurring subscription fee paid for the then-current recurring subscription
      term.
    </p>
    <p>We are unable to offer refunds for the following:</p>
    <ul>
      <li>No-shows or missed appointments</li>
      <li>Refund requests due to not receiving a prescription or disagreement with the clinical outcome of the visit
      </li>
      <li>Surgical procedures with specific scheduling requirements</li>
      <li>Any request made 10 days after the original purchase date</li>
    </ul>
    <p>
      If you make a same-day appointment by mistake and need to cancel, MHG will refund you if you request a
      cancellation
      within one hour of completing the purchase.
      Note also that information submitted by you to us may be transmitted to and shared with third parties located in
      other countries, in order to provide Services to you. These Terms of Service and any separate agreements whereby
      we
      provide you Services shall be governed by and construed in accordance.
    </p>
  </div>
</div>
<app-home-footer></app-home-footer>