<form class="readmin-form custom_form" [formGroup]="claimFilterForm">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Claim ID" formControlName="claimId" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Client Name" formControlName="patientIds" matInput multiple>
          <mat-option *ngFor="let option of allPatients" [value]="option.id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{'insurance_company'|translate}}" formControlName="payerName" matInput>
          <mat-option *ngFor="let option of masterInsuranceCompany" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="fromDate" (focus)="fromDate.open()" placeholder="{{'from_date'|translate}}" formControlName="fromDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="toDate" (focus)="toDate.open()" placeholder="{{'to_date'|translate}}" formControlName="toDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4 filter-btn">
      <button class="clear-btn" mat-raised-button (click)="onClearFilter()">{{"clear_all"|translate}}</button>
      <button class="text-uppercase" color="accent" mat-raised-button (click)="onApplyFilter()">{{"filter"|translate}}</button>
    </div>
  </div>
</form>
<!-- claim grid starts here -->

<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive mt-15">
      <table class="table table-hover maintable customtable group-table" matSort matSortDisableClear>
        <thead>
          <tr>
            <th width="10%">
            </th>
            <th width="10%" mat-sort-header="ClaimID" disableClear>
              <span class="Tblsort sorting">Claim ID</span>
            </th>
            <th width="10%" mat-sort-header="dos" disableClear>
              <span class="Tblsort sorting">DOS</span>
            </th>
            <th width="20%" mat-sort-header="patientName" disableClear>
              <span class="Tblsort sorting">Client</span>
            </th>
            <th width="20%" mat-sort-header="payer" disableClear>
              <span class="Tblsort sorting">Payer Name</span>
            </th>
            <th width="20%">Additional Payer Info.</th>
            <th width="10%">Total(JOD)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!allClaimsWithServiceLines.length">
            <td colspan="7">
              <div class="text-center no-record">No record found.</div>
            </td>
          </tr>
          <tr *ngFor="let claimObj of allClaimsWithServiceLines">
            <td colspan="7">
              <table class="table table-hover middletable customtable">
                <tbody>
                  <tr>
                    <td width="10%">
                      <div class="table_custom-check">
                        <button type="button" class="morebtn" (click)="handleExpandRow(claimObj.claimId)">
                          <i class="classExpand fa " [ngClass]="{'fa-minus': expandedClaimIds.includes(claimObj.claimId), 'fa-ellipsis-h': !expandedClaimIds.includes(claimObj.claimId)}"
                            aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                    <td width="10%">
                        <div class="claim">
                            CL{{ claimObj.claimId }}
                            <i (click)="onToggleClaimInfoBox(claimObj.claimId)"
                             class="fa fa-info-circle infoIcon" aria-hidden="true" title="Click here to view SOAP"></i>
                            <div class="claimbox {{ claimObj.claimId == claimInfoBoxClaimId ? 'show' : 'hide'}}">
                              <div class="claimheader">
                                <h3>
                                  Claim ID :
                                  <span>CL{{ claimObj.claimId }}</span>
                                </h3>
                                <div class="claimicons">
                                  <ul>
                                    <li>
                                      <a title="close" href="javascript:void(0)">
                                        <i (click)="onToggleClaimInfoBox(claimObj.claimId)" class="fa fa-times"></i>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="claimcontent">
                                <h3>{{claimObj.renderingProvider}}</h3>
                                <div class="claimsoapdate">
                                  <ul>
                                    <li *ngFor="let claimEnc of claimObj.claimEncounters">
                                      <i class="fa fa-clock-o bluefont" aria-hidden="true"></i>
                                      <span>{{claimEnc.startDateTime | date : 'hh:mm a'}}</span>-
                                      <span>{{claimEnc.endDateTime | date : 'hh:mm a'}}</span>
                                      <i (click)="getPatientEncounterDetails(claimEnc.patientEncounterId)"
                                       class="fa fa-info-circle infoIcon" aria-hidden="true" title="Click here to view SOAP"></i>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                    </td>
                    <td width="10%">{{ claimObj.dos | date : 'M/d/y'}}</td>
                    <td width="20%">{{ claimObj.patientName }}</td>
                    <td width="20%">{{ claimObj.payer }}</td>
                    <td width="20%">
                      <span>{{claimObj.additionalClaimInfo || 'No Additional Info'}}</span>
                    </td>
                    <td width="10%">{{claimObj.totalAmount | number: '2.2-2' }}</td>
                  </tr>
                  <tr class="nohover" [ngClass]="{'show-row': expandedClaimIds.includes(claimObj.claimId), 'hide-row': !expandedClaimIds.includes(claimObj.claimId)}">
                    <td></td>
                    <td colspan="8">
                      <table class="table table-hover childtable">
                        <thead>
                          <tr>
                            <th width="15%">Service Code</th>
                            <th width="10%">Modifiers</th>
                            <th width="5%">Unit</th>
                            <th width="5%">Rate(JOD)</th>
                            <th width="9%">Amount(JOD)</th>
                            <th width="14%">Location Code</th>
                            <th width="18%">Practitioner</th>
                            <th width="15%">Rend. Provider</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!claimObj.claimServiceLines || !claimObj.claimServiceLines.length">
                            <td colspan="8">
                              <div class="text-center no-record">No record found.</div>
                            </td>
                          </tr>
                          <tr *ngFor="let serviceLineObj of claimObj.claimServiceLines">
                            <td width="15%">{{serviceLineObj.serviceCode}}</td>
                            <td width="10%">{{serviceLineObj.modifiers || '-'}}</td>
                            <td width="5%">{{serviceLineObj.quantity}}</td>
                            <td width="5%">{{serviceLineObj.rate | number: '2.2-2' }}</td>
                            <td width="9%">{{serviceLineObj.totalAmount | number: '2.2-2' }}</td>
                            <td width="14%">{{serviceLineObj.serviceFacilityCode}}</td>
                            <td width="18%">{{serviceLineObj.clinician}}</td>
                            <td width="15%">{{serviceLineObj.renderingProvider}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator [length]="metaData['totalRecords']" [pageIndex]="metaData['currentPage'] - 1" [pageSize]="metaData['pageSize']"
        showFirstLastButtons></mat-paginator>
 
        <!-- soap dragable box -->
        <div class="soapdrag" *ngIf="showEncounterDetails">
            <div class="soapdragheader">
              <h3>Visit Detail</h3>
              <i class="material-icons" (click)="closeSOAPDetail()">clear</i>
            </div>
  
            <div class="visitcontent" *ngIf="patientEncounterDetailsData">
                <ng-scrollbar>
                <div class="visititem">
                  <div class="visititem-title"><i class="flaticon flaticon-interface-1"></i>Service Type</div>
                  <div class="itemdiagnosis">
                    {{patientEncounterDetailsData.isDirectService ? 'Direct' : 'Indirect'}}
                  </div>
                </div>
                <div class="visititem">
                  <div class="visititem-title"><i class="flaticon flaticon-bathroom"></i>Soap Note</div>
                  <div class="itemdivide">
                    <h5>Subjective</h5>
                    <p>{{patientEncounterDetailsData.soapNotes.subjective}}</p>
                  </div>
                  <div class="itemdivide">
                    <h5>Objective</h5>
                    <p>{{patientEncounterDetailsData.soapNotes.objective}}</p>
                  </div>
                  <div class="itemdivide">
                    <h5>Assessment</h5>
                    <p>{{patientEncounterDetailsData.soapNotes.assessment}}</p>
                  </div>
                  <div class="itemdivide">
                    <h5>Plan</h5>
                    <p>{{patientEncounterDetailsData.soapNotes.plans}}</p>
                  </div>
                </div>
                <div class="visititem">
                  <div class="visititem-title"><i class="flaticon flaticon-interface-1"></i>CPT CODE</div>
                  <div class="cptcodes">
                  <ul>
                    <li *ngFor="let data of patientEncounterDetailsData.patientEncounterServiceCodes" title={{data.description}}>
                      ({{data.serviceCode}} {{data.attachedModifiers ? ':' + data.attachedModifiers : ''}})
                      {{(data.description || '').length > 50 ? (data.description || '').substring(0, 50) + '...' : data.description}}
                    </li>
                  </ul>
                  </div>
                  </div>
                <div class="visititem">
                  <div class="visititem-title"><i class="flaticon flaticon-gym"></i>Diagnosis</div>
                  <div class="itemdiagnosis">
                        <p *ngFor="let data of patientEncounterDetailsData.patientEncounterDiagnosisCodes"
                         title={{data.description}}>
                         ({{data.icdCode}})
                         {{(data.description || '').length > 50 ? (data.description || '').substring(0, 50) + '...' : data.description}}
                        </p>
                  </div>
                </div>
                </ng-scrollbar>
            </div>
          </div>
          <!-- soap dragable box -->

    </div>
  </div>
</div>

<!-- claim grid ends here -->