.available-bg-color,
.cal-week-view .cal-hour-segment {
    background-color: #fff;
}

.patient-container {
    .btn-group {
        display: block;
    }
}

// date icon scheduler
// .dateicon {
//     box-shadow: none !important;
//     background-color: transparent !important;
//     min-width: auto !important;
//     line-height: normal !important;
//     height: 20px;
//     width: 20px;
//     position: absolute;
// }
// .dateicon button {
//     background-color: transparent !important;
//     height: auto !important;
//     line-height: normal !important;
// }
// .dateicon i {
//     font-size: 24px;
//     height: 24px;
//     width: 24px;
// }
// date icon scheduler
.material-icons-cancel {
    color: #e59046;
}

.material-icons-approv {
    color: #5ddb3c;
}

.material-icons-delete {
    color: #e07b7b;
}

.material-icons-view-soap {
    color: #30d5c8;
}

.material-icons-create-soap {
    color: #40bcb1;
}

.material-icons-video {
    color: #ffb503;
    font-size: 26px;
}

.CustomEvent .material-icons-video {
    font-size: 22px !important;
}

.material-icons-chat {
    color: #cb650f;
    font-size: 21px !important;
}

.cal-event-title {
    position: relative;
    //top: -8px;
}

.stfselection {
    background-color: #fafafa;
    padding-bottom: 6px;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 15px;
}

.stfselection div {
    color: #01385f !important;
}

.stfselection label {
    color: #01385f !important;
}

.stfselection hr {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.stfselection small {
    float: right;
    cursor: pointer;
    line-height: 13px;
    padding-top: 8px;
}

.stfselection .mat-form-field-infix {
    border-top: 0px;
}

.stfselection .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(40, 229, 250);
}

.stfselection .mat-select-arrow {
    color: #01385f !important;
}

.schedule-btn {
    margin: 15px 0px;
}

.schedule-btn .btn {
    border: 1px solid #ccc;
    background-color: transparent;
    background-color: #01385f;
    color: #fff;
}

.schedule-btn .btn:hover {
    background-color: #30d5c8;
    color: #fff;
}

.calnedar-dropdown.mat-form-field {
    width: 0px;
    visibility: hidden;
}

.schedule-date h3 {
    margin: 0px;
    font-weight: 600;
    font-size: 22px;
    padding-left: 5px;
    color: #01385f;
}

.cal-day-view .cal-time,
.cal-week-view .cal-time {
    font-weight: 500;
}

.cal-day-view .cal-hour-rows {
    overflow: hidden;
}

.sech_item {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 5px;
    font-weight: 300;
    margin-bottom: 15px;
}

.dateicon {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}

.sech_item p {
    float: left;
    margin: 0;
    font-weight: 500;
}

.sech_item span::before {
    border-left: 1px solid #01385f;
    content: "";
    height: 59%;
    position: absolute;
    right: -5px;
    top: 3px;
}

.sech_item span {
    margin: 0 5px;
    position: relative;
    color: #01385f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.sech_item span:last-child::before {
    border-left: 0px;
}

.sech_item span.active {
    font-weight: 600;
    color: #01385f;
}

@media (max-width: 575px) {
    .cushgt {
        padding: 0 15px !important;
    }

    .sech_item a {
        margin: 0px 5px;
    }

    .sech_item a::before {
        border-left: 1px solid #fff;
        content: "";
        height: 59%;
        position: absolute;
        right: -5px;
        top: 3px;
    }

    .cushgt {
        margin: 15px 0px 0px;
    }

    .schedule-btn {
        margin: 0px 0px 15px;
    }

    .schedule-btn .btn {
        padding-left: 0.45rem;
        padding-right: 0.45rem;
    }
}

// added for touch scroll in mobile view
mwl-calendar-month-cell,
mwl-calendar-day-view-hour-segment,
mwl-calendar-week-view-hour-segment {
    touch-action: auto !important;
}

.invited-badge {
    width: 15px;
    height: 15px;
    background: #757575;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    color: #ffffff;
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    left: 71px;
    padding: 0px 5px;
}

ul.list-invited-staff {
    list-style: none;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;

    li {
        list-style: decimal;
        border-bottom: solid 1px #313131;
        line-height: 17px;
        padding: 4px 0px;

        span.sp-large {
            font-size: 11px;
        }

        span.sp-small {
            font-size: 9px;
        }
    }

    li:last-child {
        border-bottom: none;
    }
}

//  .cal-time-events .cal-event-container{
//     position: relative;
// }
.CustomEvent.cal-ends-within-day .cal-event {
    border-radius: 30px;
    // height: auto;
}

.CustomEvent.cal-ends-within-day .cal-event a.cal-event-action {
    display: inline-block;
    transform: translateY(5px);
    margin: 0 1px;
}

.CustomEvent.cal-ends-within-day .cal-event span.cal-event-title {
    display: inline-block;
}

.cal-week-view .cal-header.cal-today {
    background-color: #b6f3fa;
}

// .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
//     background-color: #b6f3fa;
// }
.CustomEvent:nth-child(odd) .cal-event {
    font-size: 12px;
    background-color: #b6f3fa;
    border: 0px;
    color: #000000;
}

.CustomEvent:nth-child(even) .cal-event {
    font-size: 12px;
    background-color: #e0cdf7;
    border: 0px;
    color: #000000;
}

.CustomEvent .material-icons {
    // color: #32374d;
    font-size: 20px;
}

span.material-icons.material-icons-add-person {
    color: #01385f;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.oddCellColor {
    background-color: #b6f3fa !important;
}

.evenCellColor {
    background-color: #e0cdf7 !important;
}

.redCellColor {
    background-color: #fa0707 !important;

}

.greenCellColor {
    background-color: #00e900 !important;
}

.yellowCellColor {
    background-color: #FA9F55 !important;

}

.blueCellColor {
    background-color: #1e90ff !important;
}
.grayCellColor {
    background-color: #c7e5f3 !important;
  }

// .pending-appointment-color {
//     background-color: #6d1eff !important;
// }

.month-slots-custom.CustomEventAptNotApproved.pending-appointment-color {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #bababa80;
    border-top: 4px solid #006F12 !important; 
    color: #006F12 !important;   
}
.month-slots-custom.CustomEventAptCancelled.cancelled-appointment-color {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #fa0505;
    border-top: 4px solid #fa0505 !important; 
    color: #fa0505 !important;   
}

.month-slots-custom.CustomEventAptCancelled.redCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px rgb(249, 3, 3);
    border-top: 4px solid #fa0707 !important;
    color: #fa0707 !important

}

.month-slots-custom.CustomEventAptCancelled.grayCellColor {
    background-color: rgb(128, 128, 128) !important;
    box-shadow: 0px 2px 8px rgb(114, 114, 114);
    border-top: 4px solid #4e4e4e !important;
    color: #ffffff !important;
  }

.week-slots-custom.CustomEventAptCancelled.cancelled-appointment-color {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #fa0505;
    border-top: 4px solid #fa0505 !important; 
    color: #fa0505 !important;   
}

.week-slots-custom.CustomEventAptCancelled.redCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px rgb(249, 3, 3);
    border-top: 4px solid #fa0707 !important;
    color: #fa0707 !important

}
.week-slots-custom.CustomEventAptCancelled.grayCellColor {
    background-color: rgb(128, 128, 128) !important;
    box-shadow: 0px 2px 8px rgb(114, 114, 114);
    border-top: 4px solid #4e4e4e !important;
    color: #ffffff !important;
  }
  


.month-slots-custom.yellowCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #bababa80;
    border-top: 4px solid #FA9F55 !important;
    color: #FA9F55 !important;
}

.month-slots-custom.redCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #bababa80;
    border-top: 4px solid #3BC7FB !important;
    color: #3BC7FB !important;
}

.month-slots-custom.blueCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #bababa80;
    border-top: 4px solid #1e90ff !important;
    color: #1e90ff !important;
}

.month-slots-custom.grayCellColor {
    // background-color: #cccccc !important;
    // box-shadow: 0px 2px 8px rgb(114, 114, 114);
    // border-top: 4px solid #4e4e4e !important;
    // color: #ffffff !important;
    background-color: #c7e5f3 !important;
    box-shadow: 0px 2px 8px rgb(114, 114, 114);
    border-top: 4px solid #c7e5f3 !important;
    color: #000000 !important;
  }
  

.month-slots-custom.greenCellColor {
    background-color: #fff !important;
    box-shadow: 0px 2px 8px #bababa80;
    border-top: 4px solid #00e900 !important;
    color: #00e900 !important;
}

.month-slots-custom {
    font-size: 10px !important;
    border: 0px !important;
    color: #fe0101 !important;
    font-weight: 500 !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    /*max-width: 177px !important;*/
    width: 95%;
    padding: 10px 8px !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.month-event-txt-s {
    position: static;
    padding-left: 4px;
}

// .show-blk{
//     position: relative;
//     top: -2px;
//     left: 35%;
// }
.custom-blank {
    padding: 0 1rem;
}

.cal-month-view .cal-day-badge {
    padding: 1px !important;
    display: flex !important;
    border-radius: 4px !important;
}

.month-day-num {
    cursor: pointer;
    font-weight: 700;
}

.cal-week-view .cal-event {
    text-overflow: clip;
}

.appt-blk {
    padding: 0 4px;
}

.custom-month-evnts-box .appt-blk {
    display: none;
}

.bg-dark-icon {
    color: black;
    position: relative;
    top: 3px;
}

.show-more {
    width: auto;
    padding: 3px 10px !important;
    margin-bottom: 10px !important;
    display: block;

    .show-blk {
        .material-icons {
            color: #fff !important;
        }
    }
}

.show-more-text {
    position: relative;
    bottom: 5px;
}

// .appt-blk .cal-event{
//     position: relative;
//     bottom: 0;
//     padding: 0 20px;
// }
.cdk-overlay-container ul.dropdown-menu.show {
    padding: 0;
    border: 1px solid rgba(191, 195, 195, .42)
}

.cdk-overlay-container ul.dropdown-menu.show li {
    border-bottom: 1px solid rgba(239, 239, 239, .6);
    border-radius: 2px;
    cursor: pointer;
}

.cdk-overlay-container ul.dropdown-menu.show li.disabled {
    background-color: rgba(249, 249, 249, .50);
}

.cdk-overlay-container ul.dropdown-menu.show li a {
    padding: 7px 22px;
    font-weight: 500;
    cursor: pointer;
}

.cdk-overlay-container ul.dropdown-menu.show li a:hover {
    background-color: #01385f;
    color: #fff;
    font-weight: 500;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #c1c1c1;
}

.crsr-ptr {
    cursor: pointer !important;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    cursor: default;
}

.cal-hour-segment {
    cursor: pointer !important;
}

.month-title-tip-view {
    font-size: 12px !important;
}

.material-icons {
    cursor: pointer !important;
}

.is-available-cell-re {
    background-color: rgba(194, 251, 214, .40);
    height: 100%;
}


element.style {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cal-month-view .cal-cell.cal-out-month,
.cal-month-view .cal-cell.cal-in-month {
    flex-direction: row;
}

.cal-month-view .cal-cell.cal-out-month,
.cal-month-view .cal-cell.cal-in-month>div {
    width: 100%;
}

@media all and (max-width:991px) {
    .cal-responsive {
        width: 100%;
        overflow: auto;
    }

    .cal-month-view .cal-header .cal-cell {
        padding: 6px 80px;
    }
}

@media all and (max-width:768px) {
    .cal-responsive {
        width: 100%;
        overflow: auto;
    }

    .cal-month-view .cal-header .cal-cell {
        padding: 6px 75px;
    }
}

.indicate-slot {
    display: flex;
    align-items: center;
}

.indicate-slot label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 4px 10px;
    border-radius: 2px;
}

.indicate-slot label i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.indicate-slot label img {
    margin-right: 5px;
}

.indicate-slot label:first-child,
.indicate-slot label:first-child i {
    color: #EF8B00;
}

.indicate-slot label:nth-child(2),
.indicate-slot label:nth-child(2) i {
    color: #00BAFF;

}

.indicate-slot label:nth-child(3),
.indicate-slot label:nth-child(3) i {
    color: #2958FF;
}

.indicate-slot label:nth-child(4),
.indicate-slot label:nth-child(4) i {
    color: #00e900;
}

.indicate-slot label:nth-child(5),
.indicate-slot label:nth-child(5) i {
    color: #006F12;
}

.indicate-slot label:first-child {
    background-color: #fff;
    // background-color: #fa9f5521;
    border: 1px solid #684c26;
}

.indicate-slot label:nth-child(2) {
    background-color: #fff;
    // background-color: #3bc8fb20;
    border: 1px solid #00BAFF;
}

.indicate-slot label:nth-child(3) {
    background-color: #fff;
    // background-color: #597dff21;
    border: 1px solid #2958FF;
}

.indicate-slot label:nth-child(4) {
    background-color: #fff;
    // background-color: #00e90021;
    border: 1px solid #00e900;
}

.indicate-slot label:nth-child(5) {
    background-color: #fff;
    // background-color: #00365d23;
    border: 1px solid #006F12;
}


// .indicate-slot label:first-child,
// .indicate-slot label:first-child i {
//     color: #e3bc08;
// }

// .indicate-slot label:nth-child(2),
// .indicate-slot label:nth-child(2) i {
//     color: #ad2121;

// }

// .indicate-slot label:nth-child(3),
// .indicate-slot label:nth-child(3) i {
//     color: #1e90ff;
// }

// .indicate-slot label:nth-child(4) i {
//     color: #00e900;
// }

// .indicate-slot label:nth-child(4) {
//     color: #00e900;
// }

.provider-container {
    hr {
        margin-top: 0.4rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .btn-group {
        display: inline-flex;
        height: 30px;

        .btn-outline-secondary {
            background: #fff;
            color: #87939D;
            border-color: #E7EAEF;

            i {
                color: #C6CCD8;
            }
        }

        .btn-primary {
            background-color: #bbbbbb;
            border-color: #bbbbbb;
            color: #fff;
        }

        .btn {
            margin-right: 0;
            padding: 0.3rem 0.5rem;
            font-size: 10px;
            line-height: 18px;

            // &:first-child {
            //     border-radius: 1.25rem 0px 0px 1.25rem;
            // }

            // &:last-child {
            //     border-radius: 0px 1.25rem 1.25rem 0px;
            // }

            i {
                font-size: 14px;
            }
        }
    }

    .month-day-week {
        .btn {
            i {
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}