<div class="table-responsive mt-15">
  <!-- <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div> -->

  <!-- <table
    class="table table-hover customtable group-table table-bordered"
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
  > -->
  <table
    class="table"
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
  >
    <ng-container
      [matColumnDef]="column.key"
      *ngFor="let column of displayedColumns"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="!column.isSort"
        disableClear
        width="{{ column.width }}"
      >
        {{ column.displayName | translate }}
      </th>
      <!-- <td *matCellDef="let ele">No</td> -->
      <td
        mat-cell
        *matCellDef="let element"
        [style.color]="element[column.key]"
        (click)="onCellClick($event, element)"
        [matTooltip]="tooltipText"
      >
        <!-- <span *ngIf="!column.type" [innerHTML]="element[column.key]"></span> -->
        <span
          *ngIf="!column.type"
          [ngStyle]="{ color: checkblockorapproved(element) }"
          [innerHTML]="element[column.key]"
        ></span>
        <!-- for customized cells -->
        <i
          *ngIf="
            column.isInfo &&
            element[column.key] &&
            element[column.key].length > column.type
          "
          [matTooltip]="element[column.key]"
          matTooltipClass="example-tooltip"
          class="fa fa-info-circle infoIcon"
        ></i>
        <span
          *ngIf="
            column.type &&
            column.type != 'img' &&
            column.type != 'date' &&
            column.type != 'time' &&
            column.type != 'decimal' &&
            column.type != 'roundspan' &&
            column.type != 'togglespan' &&
            column.type != 'statusstring' &&
            column.type != 'count' &&
            column.type != 'statusReportupload'
          "
          [innerHTML]="element[column.key] | status : column.type"
        ></span>
        <span *ngIf="column.type == 'img'"
          ><img style="width: 90px" [src]="element[column.key]"
        /></span>
        <!--<span *ngIf="column.type == 'date'" [innerHTML]="element[column.key]== null ? '-' : (element[column.key] | date: 'MM/dd/yyyy')"></span>-->
        <span
          *ngIf="column.type == 'date'"
          [innerHTML]="convertDate(element[column.key])"
        ></span>
        <span
          *ngIf="column.type == 'time'"
          [innerHTML]="element[column.key] | date : 'hh:mm a'"
        ></span>
        <span
          *ngIf="column.type == 'decimal'"
          [innerHTML]="element[column.key] | number : '2.2-2'"
        ></span>
        <span
          *ngIf="column.type == 'roundspan'"
          [innerHTML]="element[column.key] | span"
        ></span>
        <span
          *ngIf="
            column.type == 'statusstring' && !isInvited(element[column.key])
          "
          [style.color]="setColorToPendingStatus(element[column.key])"
          [innerHTML]="element[column.key] | invitationStatus"
        ></span>
        <span
          *ngIf="
            column.type == 'statusstring' && isInvited(element[column.key])
          "
          [innerHTML]="
            replaceInvitedtoPeding(element[column.key]) | invitationStatus
          "
          [style.color]="
            setColorToPendingStatusReplaceInvited(element[column.key])
          "
        ></span>
        <span
          *ngIf="column.type == 'statusReportupload'"
          [style.color]="setColorToLabuploadStatus(element[column.key])"
          [innerHTML]="element[column.key] | invitationStatus"
        ></span>
        <span *ngIf="column.type == 'count' && !checkDate(element[column.key])"
          >{{element[column.key]=='complete'?"-------":"Past Appointment"}} 
        </span>
        <app-count-down
          *ngIf="column.type == 'count' && checkDate(element[column.key])"
          [inputDate]="element[column.key]"
          [cssHide]="false"
          [countercolor]=element[column.color]
        >
        </app-count-down>

        <span *ngIf="column.type == 'togglespan'">
          <mat-slide-toggle
            [checked]="element[column.key]"
            [disabled]="!column.permission"
            (change)="onToggleChange($event, element, column.key)"
          ></mat-slide-toggle>
        </span>
        <span *ngIf="column.type == 'rating' && element[column.key] != null">
          <star-rating
            [value]="element[column.key] | rating "
            [totalstars]="5"
            checkedcolor="#f4c150"
            uncheckedcolor="#e5e5e5"
            size="24px"
            [readonly]="true"
          ></star-rating>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions" *ngFor="let column of extraColumns">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="action_th"
        [disabled]="true"
        width="{{ column.width }}"
      >
        {{ actions | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="dropdown">
          <button
          
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let a of actionButton">
              <a
                *ngIf="
                  a.key == 'bookingMode' &&
                  (row.statusName == 'Approved' ||
                    row.statusName == 'Pending') &&
                  row.showActionButton
                "
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                [title]="getTootltip(row)"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ getTootltip(row) }}</span>
              </a>
              <a
                *ngIf="
                  a.key == 'bookingMode' &&
                  row.statusName == 'Completed' &&
                  row.showActionButtonforCompleted
                "
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                [title]="getTootltip(row)"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ getTootltip(row) }}</span>
              </a>
              <a
                *ngIf="
                  a.key == 'bookingMode-patient' &&
                  (row.status == 'Approved' ||
                    row.status == 'Pending' ||
                    row.status == 'Invited') &&
                  row.showActionButton
                "
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                [title]="getTootltipPatient(row)"
                [disabled]="makeDisable(row)"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ getTootltipPatient(row) }}</span>
              </a>
              <a
                *ngIf="
                  !a.type &&
                  a.key != 'bookingMode-patient' &&
                  a.key != 'bookingMode' &&
                  a.key != 'download' &&
                  a.key != 'view' &&
                  a.key != 'delete'
                "
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ a.displayName }}</span>
              </a>
              <a
                *ngIf="!a.type && a.key == 'download'"
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i> -->
                <!-- Download -->
                <!-- <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ a.displayName }}</span>
              </a>
              <a
                *ngIf="!a.type && a.key == 'view'"
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i> -->
                <!-- View
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ a.displayName }}</span>
              </a>
              <a
                *ngIf="!a.type && a.key == 'delete'"
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
                mat-button
              >
                <!-- <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i> -->
                <!-- Delete
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ a.displayName }}</span>
              </a>
              <a
                *ngIf="a.type == 'document' && a.key == 'viewDocument'"
                href="javascript:void(0)"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
                mat-button
              >
                <!-- View
                <i *ngIf="a.class" class="{{ a.class }}" aria-hidden="true"></i>
                <span *ngIf="!a.class">{{ a.displayName }}</span> -->
                <span>{{ a.displayName }}</span>
              </a>
              <button
                *ngIf="a.type == 'timeCheck'"
                [innerHTML]="row | timeCheck : a.class"
                class="btn btn-primary"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
              ></button>
              <button
                *ngIf="a.type == 'encounter'"
                [innerHTML]="row | encounter : a.class"
                class="btn btn-primary"
                (click)="onActionClick(a.key, row)"
                title="{{ a.displayName }}"
              ></button>
              <span *ngIf="a.type == 'toggle'" style="padding-left: 15px">
                <mat-slide-toggle
                  [title]="a.displayName"
                  [checked]="row[a.key]"
                  (change)="onToggleChange($event, row, a.key)"
                  [disabled]="disabledtoggle(row)"
                >
                </mat-slide-toggle>
              </span>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      [matTooltip]="setToolTip(row)"
      *matRowDef="let row; columns: columnsToDisplay"
    ></tr>
  </table>
  <ng-container *ngIf="!dataSource || dataSource.length == 0">
    <div class="text-center no-record">{{ "no_record_found" | translate }}</div>
  </ng-container>
</div>
<mat-paginator
  class="mb-4 paginator-upward"
  [length]="metaData['totalRecords']"
  [pageIndex]="metaData['currentPage'] - 1"
  [pageSize]="metaData['pageSize']"
  [pageSizeOptions]="metaData['pageSizeOptions'] || [5,10,20,50,100]"
  (page)="onPageOrSortChangePagination($event)"
  showFirstLastButtons
>
</mat-paginator>


