<div class="custom_modal">
  <h3 mat-dialog-title>{{ "change_password" | translate }}</h3>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <form
          id="changePasswordForm"
          #documentForm="ngForm"
          class="readmin-form custom_form pass"
          [formGroup]="changePasswordForm"
        >
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  autofocus
                  [type]="isShowPassword ? 'text' : 'password'"
                  placeholder="Current Password"
                  maxlength="30"
                  formControlName="currentPassword"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formControls['currentPassword'].errors
                  }"
                  required
                />
                <i
                  (click)="isShowPassword = !isShowPassword"
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !isShowPassword,
                    'fa-eye': isShowPassword
                  }"
                ></i>
                <mat-error
                  *ngIf="formControls['currentPassword'].errors?.['required']"
                >
                  Please enter current password
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  autofocus
                  [type]="isShowNewPassword ? 'text' : 'password'"
                  placeholder="New Password"
                  maxlength="30"
                  formControlName="newPassword"
                  [ngClass]="{
                    'is-invalid': submitted && formControls['newPassword'].errors
                  }"
                  required
                />
                <i
                  (click)="isShowNewPassword = !isShowNewPassword"
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !isShowNewPassword,
                    'fa-eye': isShowNewPassword
                  }"
                ></i>
                <mat-error
                  *ngIf="
                    formControls['newPassword'].errors?.['required'] &&
                    formControls['newPassword'].errors?.['strong']
                  "
                >
                  Please enter new password
                </mat-error>
                <mat-error
                  *ngIf="
                    formControls['newPassword'].errors?.['required'] == undefined &&
                    formControls['newPassword'].errors?.['strong']
                  "
                >
                  Password should have number,special character lowercase and
                  uppercase letters
                </mat-error>
                <!-- <mat-error *ngIf="formControls.newPassword.errors?.required">
                  Please enter new password
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  autofocus
                  [type]="isShowRePassword ? 'text' : 'password'"
                  placeholder="{{ 'confirm_password' | translate }}"
                  formControlName="confirmNewPassword"
                  [ngClass]="{
                    'is-invalid':
                      submitted && formControls['confirmNewPassword'].errors
                  }"
                  required
                />
                <i
                  (click)="isShowRePassword = !isShowRePassword"
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !isShowRePassword,
                    'fa-eye': isShowRePassword
                  }"
                ></i>
                <mat-error
                  *ngIf="formControls['confirmNewPassword'].errors?.['required']"
                >
                  Please re-enter new password
                </mat-error>
                <mat-error
                  *ngIf="formControls['confirmNewPassword'].errors?.['notSame']"
                >
                  Password doesn't match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">
      {{ "close" | translate }}
    </button>
    <button
      name="Save"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      form="changePasswordForm"
      class="text-uppercase"
      [disabled]="submitted"
    >
      {{ submitted ? "Saving..." : ("save" | translate) }}
    </button>
  </div>
</div>
