<!-- <div class="provider-container 2">
  <div class="dash-section">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blue-box">
          <h3>{{"appointments"|translate}}</h3>

          <div class="blue-box-inner">
            <div class="row blue-box-detail">
              <div class="col-md-6" (click)="gotoschedulertoday('today')">
                <div class="lght-txt">{{"today"|translate}}</div>
                <div class="white-txt">
                  {{ dashboardData.todayAppointmentsCount }}
                </div>
              </div>
              <div class="col-md-6" (click)="gotoschedulermonth('currentmonth')">
                <div class="lght-txt">{{"this_month"|translate}}</div>
                <div class="white-txt">
                  {{ dashboardData.totalAppointments }}
                </div>
              </div>
            </div>
            <div class="row blue-box-detail">
              <div class="col-md-6" (click)="gotoschedulermonth('previousmonth')">
                <div class="lght-txt">{{"last_month"|translate}}</div>
                <div class="white-txt">
                  {{ dashboardData.todayAppointments }}
                </div>
              </div>
              <div class="col-md-6" (click)="gotoschedulerTotal()">
                <div class="lght-txt">{{"total"|translate}}</div>
                <div class="white-txt">
                  {{ dashboardData.totalAppointmentsCount }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="blue-box">
          <h3>{{"payments"|translate}}</h3>
          <div class="blue-box-inner">
            <div class="row blue-box-detail">
              <div class="col-md-6" (click)="gotopayments()">
                <div class="lght-txt">{{"today"|translate}}</div>
                <div class="white-txt" *ngIf="dashboardData">
                  JOD
                  {{
                  dashboardData.todaysAppointmentsAmount + currentDateRefund
                  }}
                </div>
              </div>
              <div class="col-md-6" (click)="gotopayments()">
                <div class="lght-txt"> {{"this_month"|translate}} </div>
                <div class="white-txt" *ngIf="dashboardData && dashboardData.appointmentTotalRevenue">
                  JOD
                  {{
                  dashboardData.appointmentTotalRevenue.totalRevenue +
                  currentMonthRefund | number: "2.0-2"
                  }}
                </div>
              </div>
            </div>
            <div class="row blue-box-detail">
              <div class="col-md-6" (click)="gotopaymentslastmonth('previousmonth')">
                <div class="lght-txt"> {{"last_month"|translate}} </div>
                <div class="white-txt">
                  This is commented
                  *ngIf="dashboardData && dashboardData.previousMonthAppointmentsAmount"
                  /This is commented
                  JOD
                  {{
                  dashboardData.previousMonthAppointmentsAmount +
                  lastMonthRefund | number: "2.0-2"
                  }}
                </div>
              </div>
              <div class="col-md-6" (click)="gotopayments()">
                <div class="lght-txt">{{"total"|translate}}</div>
                <div class="white-txt">
                  /This is commented
                  *ngIf="dashboardData && dashboardData.totalAppointmentsAmount"
                  /This is commented
                  JOD
                  {{
                  dashboardData.totalAppointmentsAmount + refund
                  | number: "2.0-2"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="white-box" id="main">
          <h3 style="margin-bottom: 10px">{{"consultation filter"|translate}}</h3>
          <div *ngIf="showurgentcarebtn" class="col-md-3 pull-right justify-content-md-end d-flex mt-15">
            <button mat-raised-button color="primary" (click)="Redirect()">
              Join Urgent Care Call</button>
          </div>
          <div *ngIf="showurgentcarebtn" class="pull-right justify-content-md-end d-flex care-btn">
            <button mat-raised-button color="primary" (click)="Redirect()">
              Join Urgent Care Call</button>
          </div>
          <div class="accordion" id="faq">
            <div class="card">
              <div id="faqhead1">
                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq1"
                  aria-expanded="true" aria-controls="faq1">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> {{"new"|translate}}
                </a>
              </div>

              <div id="faq1" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                <div class="card-body">
                  <button mat-raised-button color="primary" (click)="gotoscheduler('currentmonth','New','Online')">
                    {{"teleconsultation"|translate}}</button>
                  <button mat-raised-button color="primary"
                    (click)="gotoscheduler('currentmonth','New','Face to Face')">
                    {{"face_to_face"|translate}}</button>
                </div>
              </div>
            </div>
            <div class="card">
              <div id="faqhead2">
                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                  aria-expanded="true" aria-controls="faq2">
                  <i class="fa fa-phone-square" aria-hidden="true"></i> {{"follow_up"|translate}}</a>

              </div>

              <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                <div class="card-body">
                  <button mat-raised-button color="primary"
                    (click)="gotoscheduler('currentmonth','Follow-up','Online')">
                    {{"teleconsultation"|translate}}</button>
                  <button mat-raised-button color="primary"
                    (click)="gotoscheduler('currentmonth','Follow-up','Face to Face')">
                    {{"face_to_face"|translate}}</button>
                </div>
              </div>
            </div>
            This is commented
            <div class="card">
              <div id="faqhead3">
                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                  aria-expanded="true" aria-controls="faq3" (click)="opentermconditionmodal()">
                  <i class="fa fa-info-circle" aria-hidden="true"></i> UrgentCare
                </a>
              </div>

              <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.</div>
              </div>
            </div>
            /This is commented
          </div>
          This is commented
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-head" id="headingOne">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Collapsible Group Item #1
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-head" id="headingTwo">
                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-head" id="headingThree">
                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Collapsible Group Item #3
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
              </div>
            </div>
          </div>
          /This is commented
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="white-box service-blk">
          <h3 style="margin-bottom: 5px">{{"top_services"|translate}}</h3>
          <ul style="margin-bottom: 0">
            <li *ngFor="let serv of staffProfile.staffServices">
              <i class="fa fa-medkit" aria-hidden="true"></i>{{ serv.serviceName }}
            </li>
            This is commented
            <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Diabetes</li>
            <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Substance abuse counseling</li>
            <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Biopsie</li>
            <li><i class="fa fa-plus-circle" aria-hidden="true"></i> Cryotherapy</li>
            /This is commented
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="white-box nw-appt-details">
          <h3>{{"appointment_details"|translate}}</h3>
          <app-appointment-graph></app-appointment-graph>
        </div>
      </div>
    </div>
  </div>
  This is commented
  <div class="hgt100 dash-blk cstm-mat-grid">
    <div>
      <span *ngIf="showMessage && passwordExpiryMessage && status">
        <div class="alert {{passwordExpiryColorCode}} update-pwd">
          {{passwordExpiryMessage}}
          <i (click)="hideMessageClick()" class="fa fa-times" aria-hidden="true"></i>
        </div>
      </span>
      <div>
        <div>
          <h2 class="page_title">Your Appointments</h2>
          <div *ngIf="showurgentcarebtn" class="col-md-3 pull-right justify-content-md-end d-flex mt-15">
            <button mat-raised-button color="primary" (click)="Redirect()">
              Join Urgent Care Call</button>
          </div>
          <div class="clearfix"></div>
          <div class="iconbox-wrapper dashboard-box">
            <div class="row">
              <div class="col-lg-4">
                <div class="iconbox-single white-txt show-hand" style="background-color: #2f2660;"
                  (click)="gotoscheduler('currentmonth')">
                  <div class="box-title pt-3">
                    <div class="circle-icon">
                      <img src="../../../../../assets/img/calender-icon.png" alt="" />

                    </div>
                    <div>
                      <p class="white-txt">This Month <br>Appointments</p>

                    </div>
                  </div>
                  <h5>{{dashboardData.totalAppointments}}</h5>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="iconbox-single show-hand" style="background-color: rgb(46 38 95 / 25%);"
                  (click)="gotoscheduler('previousmonth')">
                  <div class="box-title pt-3">
                    <div class="circle-icon white-icon">

                      <img src="../../../../../assets/img/checkout-icon.png" alt="" />
                    </div>
                    <div>
                      <p>Previous Month <br> Appointments</p>

                    </div>
                  </div>
                  <h5>{{dashboardData.todayAppointments}}</h5>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="iconbox-single show-hand" style="background-color: #89f8ab" (click)="gotopayments()">
                  <div class="box-title pt-3">
                    <div class="circle-icon">

                      <img src="../../../../../assets/img/revenue-icon.png" alt="" />
                    </div>
                    <div>
                      <p>Total Revenue <br> This Month</p>

                    </div>
                  </div>
                  <div *ngIf="dashboardData && dashboardData.appointmentTotalRevenue ">
                    <h5>${{dashboardData.appointmentTotalRevenue.totalRevenue| number: '2.0-2'}}</h5>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <app-appointment-graph></app-appointment-graph>


          <div class="row dashboardchart" style="display: none;">
            <div class="col-md-12 mb-30">
              <div class="readmin-panel pt-0">
                <div class="panel-heading dashboard-panel">
                  <h5>{{headerText}}</h5>
                  <div style="display: inline-block; position: relative;">
                    <button mat-icon-button [matMenuTriggerFor]="authMenu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #authMenu="matMenu">
                      <button mat-menu-item (click)="changeWidget('authorization')">
                        <span>Authorization</span>
                      </button>
                      <button mat-menu-item (click)="changeWidget('clientstatus')">
                        <span>Client Status</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <div class="dashboard_body">
                  <div *ngIf="isAuth" class="table-responsive">
                    <app-auth-list></app-auth-list>
                  </div>
                  <div *ngIf="!isAuth">
                    <app-line-chart [lineChartData]="lineChartData"
                      [lineChartLabels]="lineChartLabels"></app-line-chart>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row dashboardchart" style="display: none">
            <div class="col-md-12 mb-30">
              <div class="readmin-panel pt-0 righticonmenu">


                <mat-tab-group (selectedTabChange)="onTabChanged($event)">

                  <mat-tab>
                    <ng-template mat-tab-label>
                      APPROVED APPOINTMENTS

                    </ng-template>
                    <div class="dash-table mt-3">

                      <ng-scrollbar [trackX]="true" [autoHide]="true">

                        <app-data-table class="sticky-table fixed-table no-table"
                          [ngClass]="{'no-fixed':encounterList && encounterList.length == 0,'':encounterList && encounterList.length > 0}"
                          stickyHeader="true" [inputColumns]="aprovedAppointmentsDisplayedColumns"
                          [inputSource]="encounterList" [inputMeta]="encMeta"
                          [inputButtons]='aprovedAppointmentsActionButtons' (onPageOrSortChange)="onEncPageOrSortChange($event)"
                          (onTableActionClick)="onEncTableActionClick($event)">
                        </app-data-table>
                      </ng-scrollbar>
                    </div>
                  </mat-tab>

                  <mat-tab label="CANCELLED APPOINTMENTS">
                    <div class="dash-table mt-3">
                      <ng-scrollbar [trackX]="true" [autoHide]="true">
                        <app-data-table class="sticky-table fixed-table no-table"
                          [ngClass]="{'no-fixed':cancelledPatientAppointment && cancelledPatientAppointment.length == 0,'':cancelledPatientAppointment && cancelledPatientAppointment.length > 0}"
                          stickyHeader="true" [inputColumns]="cancelledDisplayedColumns"
                          [inputSource]="cancelledPatientAppointment" [inputMeta]="cancelledAppointmentMeta"
                          [inputButtons]='cancelledActionButtons' (onPageOrSortChange)="onCancelledPageOrSortChange($event)">
                        </app-data-table>
                      </ng-scrollbar>
                    </div>
                  </mat-tab>
                </mat-tab-group>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    /This is commented
  </div>
</div> -->

<div class="provider-dashbord">
  <div class="row dashord_pannel_one">
    <div class="col-lg-9 col-md-12">
      <div class="row dashord_pannel">
        <div class="col-lg-8 col-md-6">
          <div class="back_img">
            <div class="profile">
              <img
                src="../../../../../assets/img/doctor_svg_dashbord.svg"
                width="100%"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="profile_data">
              <h3 class="text_welcome" (click)="gotomyProfile()">
                Welcome back 👋 <br />Dr. {{ staffProfile.firstName }}
                {{ staffProfile.lastName }}
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="consultation_filter">
            <h3 class="filter_blko">Consultation Filter</h3>
            <div class="d-flex flex-column">
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      <h2 class="new">{{ "new" | translate }}</h2>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="d-flex buttons">
                    <button
                      (click)="gotoscheduler('currentmonth', 'New', 'Online')"
                    >
                      {{ "teleconsultation" | translate }}
                    </button>
                    <button
                      (click)="
                        gotoscheduler('currentmonth', 'New', 'Face to Face')
                      "
                    >
                      {{ "face_to_face" | translate }}
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <h2 class="new">{{ "follow_up" | translate }}</h2>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="d-flex buttons">
                    <button
                      (click)="
                        gotoscheduler('currentmonth', 'Follow-up', 'Online')
                      "
                    >
                      {{ "teleconsultation" | translate }}
                    </button>
                    <button
                      (click)="
                        gotoscheduler(
                          'currentmonth',
                          'Follow-up',
                          'Face to Face'
                        )
                      "
                    >
                      {{ "face_to_face" | translate }}
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="appointment-details">
            <div class="d-flex justify-content-between flex-wrap card_buttons">
              <!-- <button class="appoint-btns">Today’s Appointments</button>
              <button class="appoint-btns">Pending Approval</button>
              <button class="appoint-btns">My Calendar</button>
              <button class="appoint-btns">My Clients</button> -->
              <button (click)="gotoschedulertoday('today')" class="appoint-btns btn-width">
                {{ "todays_appointment" | translate }}
              </button>
              <button (click)="gotopendingApproval()"  class="appoint-btns btn-width">Pending Approval</button>
              <button (click)="gotoscheduler('currentmonth', 'any', 'any')" class="appoint-btns btn-width">
                {{ "my_calendar" | translate }}
              </button>
              <button (click)="gotomyClient()" class="appoint-btns btn-width">
                {{ "my_client" | translate }}
              </button>
            </div>
            <h2 class="head_appointment">
              {{ "online" | translate }} {{ "appointment" | translate }}
            </h2>
            <div class="d-flex justify-content-between flex-wrap card_buttons">
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/today.svg"
                    alt=""
                    width="100%"
                  />
                </div>

                <div class="over-text">
                  <h2 class="today">
                    {{ "today" | translate }} <br />{{
                      "appointment" | translate
                    }}
                  </h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.todayAppointmentsOnline }}
                  </h2>
                </div>
              </div>

              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/week.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">This <br />{{ "week" | translate }}</h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.thisWeekAppointmentsOnline }}
                  </h2>
                </div>
              </div>
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/month.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">This <br />{{ "month" | translate }}</h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.thisMonthAppointmentsOnline }}
                  </h2>
                </div>
              </div>
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/total.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">
                    {{ "total" | translate }} <br />{{
                      "appointment" | translate
                    }}
                  </h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.totalAppointmentsOnline }}
                  </h2>
                </div>
              </div>
            </div>
            <h2 class="head_appointment">
              {{ "face_to_face" | translate }} {{ "appointment" | translate }}
            </h2>
            <div class="d-flex justify-content-between flex-wrap card_buttons">
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/today.svg"
                    alt=""
                    width="100%"
                  />
                </div>

                <div class="over-text">
                  <h2 class="today">
                    {{ "today" | translate }}<br />{{
                      "appointment" | translate
                    }}
                  </h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.todayAppointmentsFaceToFace }}
                  </h2>
                </div>
              </div>

              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/week.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">This <br />{{ "week" | translate }}</h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.thisWeekAppointmentsFaceToFace }}
                  </h2>
                </div>
              </div>
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/month.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">This <br />{{ "month" | translate }}</h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.thisMonthAppointmentsFaceToFace }}
                  </h2>
                </div>
              </div>
              <div class="card-button">
                <div class="appointment_img">
                  <img
                    src="../../../../../assets/img/total.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="over-text">
                  <h2 class="today">
                    {{ "total" | translate }} <br />{{
                      "appointment" | translate
                    }}
                  </h2>
                </div>
                <div class="over-two">
                  <h2 class="total_num">
                    {{ dashboardData.totalAppointmentsFaceToFace }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <div class="calendar-block">
        <h2 class="title_calender">{{ "my_appointments" | translate }}</h2>
        <mat-card
          class="custom-calendar-block consultation-calendar-block p-0 mb-4"
        >
          <mat-calendar
            id="calenderdateid"
            [selected]="selectedDate"
            (selectedChange)="onDateSelected($event)"
          ></mat-calendar>
        </mat-card>
        <div
          *ngIf="
            allAppointmentsList && allAppointmentsList.length > 0;
            else noAppointments
          "
        >
          <div
            *ngFor="let appointment of allAppointmentsList"
            class="schedule_appointment mb-1"
            (click)="gotowaitingRoom(appointment.patientAppointmentId)"
          >
            <p class="sche_time">
              {{ appointment.startDateTime | date : "shortTime" }} -
              {{ appointment.endDateTime | date : "shortTime" }}
            </p>
            <h2 class="doctor_name">{{ appointment.fullName }}</h2>
            <p class="para_desc">
              {{ appointment.appointmentType }} &
              {{ appointment.appointmentMode }}
            </p>
          </div>
        </div>
        <ng-template #noAppointments>
          <p class="no-appointments-text">No Appointments</p>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="detailed_appointment">
        <h3 class="appointment_title">
          {{ "appointment_details" | translate }}
        </h3>
        <app-appointment-graph></app-appointment-graph>
        <!-- <mat-tab-group animationDuration="0ms">

          <mat-tab label="Accepted/Approved Appointments">
            <h3 class="tile_approve">{{"appointment_details"|translate}} ({{ encMeta?.totalRecords }})</h3>
            <div class="table-responsive">
              <table class="table">
                <tr *ngFor="let patient of encounterList">
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">{{ patient.clientName }}</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"date"|translate}}</h4>
                    <p class="m-0">{{ patient.dateOfService| date:'mediumDate' }}</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"time"|translate}}</h4>
                    <p class="m-0">{{patient.dateOfService|date:'shortTime' }}</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user2.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0 ">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user3.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user4.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
              </table>
            </div>
            <app-data-table
              [inputSource]="encounterList"
              [inputMeta]="encMeta"
              [inputButtons]='aprovedAppointmentsActionButtons' 
              (onPageOrSortChange)="onEncPageOrSortChange($event)">
            </app-data-table>
          </mat-tab>

          <mat-tab label="Appointment Graphs">
            <h3 class="tile_approve">Appointments Details (0)</h3>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user2.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0 ">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user3.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user4.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>

          <mat-tab label="Cancelled Appointments">
            <h3 class="tile_approve">{{"appointment_details"|translate}} ({{ cancelledAppointmentMeta?.totalRecords }})</h3>
            <div class="table-responsive">
              <table class="table">
                <tr *ngFor="let patient of cancelledPatientAppointment">
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">{{ patient.fullName }}</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"date"|translate}}</h4>
                    <p class="m-0">{{ patient.startDateTime | date:'mediumDate' }}</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"time"|translate}}</h4>
                    <p class="m-0">{{patient.startDateTime|date:'shortTime'}} to {{patient.endDateTime|date:'shortTime'}}</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user2.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0 ">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user3.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user4.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Pending Appointments">
            <h3 class="tile_approve">Appointments Details (0)</h3>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user2.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0 ">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user3.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user4.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Invitations">
            <h3 class="tile_approve">Appointments Details (0)</h3>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user2.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0 ">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user3.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../../../../assets/img/user4.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">Anish Manas</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">Lorem ipsum</h4>
                    <p class="m-0">08:00 am to 08:30am</p>
                  </td>
                  <td class="text-center">
                    <button class="appoint-btns">Go to waiting room</button>
                    <p class="m-0 button_text">Lorem ipsum</p>
                  </td>
                </tr>
              </table>
            </div>
              <app-data-table
              [inputSource]="cancelledPatientAppointment"
              [inputMeta]="cancelledAppointmentMeta"
              [inputButtons]="cancelledActionButtons"
              (onPageOrSortChange)="onCancelledPageOrSortChange($event)">
            </app-data-table>
          </mat-tab>

          <mat-tab label="Pending Invitations Appointments">
            <h3 class="tile_approve">{{"appointment_details"|translate}} ({{ pendingAppointmentMeta?.totalRecords }})</h3>
            <div class="table-responsive">
              <table class="table">
                <tr *ngFor="let patient of pendingPatientAppointment">
                  <td><img src="../../../../../assets/img/user1.jpg" alt="" class="user"></td>
                  <td class="profile_patient">
                    <div>
                      <h4 class="name_patient mb-2">{{ patient.fullName }}</h4>
                      <p class="m-0">01-2349-5678</p>
                    </div>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"date"|translate}}</h4>
                    <p class="m-0">{{ patient.startDateTime | date:'mediumDate' }}</p>
                  </td>
                  <td>
                    <h4 class="name_patient mb-2">{{"time"|translate}}</h4>
                    <p class="m-0">{{patient.startDateTime|date:'shortTime'}} to {{patient.endDateTime|date:'shortTime'}}</p>
                  </td>
                  <td class="text-center">
                    <button (click)="gotowaitingRoom(patient.id)">Go to waiting room</button>
                  </td>
                </tr>
              </table>
            </div>
            <app-data-table
              [inputSource]="pendingPatientAppointment"
              [inputMeta]="pendingAppointmentMeta"
              [inputButtons]="pendingDisplayedColumns"
              (onPageOrSortChange)="onPendingPageOrSortChange($event)">
            </app-data-table>
          </mat-tab>

          
        </mat-tab-group> -->
      </div>
    </div>
  </div>
</div>
