<div class="login_bg">
    <div class="login-wrapper">
        <div class="col-sm-9 mx-auto">
            <div class="row">
                <div class="col-xl-7 col-lg-6 col-sm-12 login-content">
                    <div class="loginlogo">
                        <a href="/"><img src="../../../assets/img/telehealth-logo.svg"></a>
                    </div>
                    <p>myHealthyGate is founded by a group of long-term experienced health and technology experts, who are committed to lowering the barriers to receiving trustworthy, quality healthcare and wellness services.</p>
                    <!-- <p>smartTelehealth is a Product of <a class="smartlink" href="https://www.smartdatainc.com/" target="_blank"><span
                className="smartlink">smartData Enterprises.</span></a> </p> -->
                    <p>Copyright @ 2021 All Right Reserved.</p>


                    <!-- <p>
            <span>smartTelehealth</span> system (SH) is a Cloud Based system that facilitates managing the functioning of
            the Agencies.
            <span>smartTelehealth</span> system will help in making the whole functioning paperless. It integrates all the
            information regarding patients, doctors, staff, agency administrative details etc. into one place</p>
          <p>Safe and Secure Process to safe guard patients privacy and rights by following
            <span>HIPAA.</span>
          </p>
          <p>smartTelehealth is a Product of
            <a class="smartlink" href="https://www.smartdatainc.com/" target="_blank">
              <span className="smartlink">smartData Enterprises.</span>
            </a>
          </p>
          <p>Copyright @ 2018 All Right Reserved.</p> -->
                </div>
                <div class="col-xl-5 col-lg-6 col-sm-12">
                    <div class="login-fields">
                        <ng-content></ng-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>