<div class="row">
  <div class="col-sm-12 d-flex justify-content-between">
    <h3 class="nw-hdng">{{"pharmacy_address" | translate}}</h3>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="addEditAddressHandler('add')"
      >
        Add Address
      </button>
    </div>
  </div>
  <div *ngIf="PharmacyAddress.length == 0" class="col-sm-12 ms-5 mt-3">
    No Address Found
  </div>
  <div class="col-sm-12 ms-5 mt-2" *ngIf="PharmacyAddress.length != 0">
    <div class="row">
      <div *ngFor="let item of PharmacyAddress" class="col-sm-4">
        <mat-card class="">
          <mat-card-header>
            <mat-card-title
              ><h4>{{ PharmacyInfo[0].pharmacyName }}</h4>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ item.aptNumber ? item.aptNumber : "" }},
            {{ item.addressLine1 ? item.addressLine1 : "" }},
            {{ item.addressLine2 ? item.addressLine2:"" }},
            {{ item.others ? item.others:"" }},
            {{ item.cityName ? item.cityName:"" }},
            {{ item.stateName ? item.stateName:"" }},
            {{ item.countryName ? item.countryName:"" }}
            <div *ngIf="item.zipNumber">
              {{"zip" | translate}}:- {{ item.zipNumber ? item.zipNumber:"" }}
            </div>
            <div *ngIf="item.phone">
              {{"phone" | translate}}:- {{ item.phone ? item.phone:"" }},
            </div>
            <div *ngIf="item.latitude">
              Latitude:- {{ item.latitude ? item.latitude:"" }}
            </div>
            <div *ngIf="item.longitude">
              Longitude:- {{ item.longitude ? item.longitude:"" }},
            </div>
            
            
          </mat-card-content>

          <mat-card-actions class="d-flex justify-content-between">
            <button mat-raised-button color="primary" (click)="editAddress(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button mat-raised-button color="warn" (click)="deleteAddress(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-12">
    <form
      id="userForm"
      #documentForm="ngForm"
      class="readmin-form custom_form"
      [formGroup]="pharmacyAddressForm"
      class="readmin-form custom_form"
    >
      <div class="row">
        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <input
              appPhoneNumber
              matInput
              autofocus
              maxlength="14"
              placeholder="Appartment Number"
              formControlName="appartmentNumber"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <mat-select
              placeholder="Country"
              formControlName="countryID"
              matInput
              required
            >
              <mat-option
                *ngFor="let country of masterCountry"
                [value]="country.id"
              >
                {{ country.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControls.countryID.errors">
              Please select country
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <input
              matInput
              autofocus
              placeholder="City"
              maxlength="50"
              formControlName="city"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <mat-select
              placeholder="State"
              formControlName="stateID"
              matInput
              required
            >
              <mat-option *ngFor="let state of masterState" [value]="state.id">
                {{ state.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControls.stateID.errors">
              Please select state
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <input
              appZipcode
              matInput
              autofocus
              placeholder="Zip"
              maxlength="10"
              formControlName="zip"
              required
            />
            <mat-error *ngIf="formControls.zip.errors?.required">
              Please enter zip
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-4 require">
          <mat-form-field class="example-full-width">
            <input
              appPhoneNumber
              matInput
              autofocus
              maxlength="14"
              placeholder="Phone Number"
              formControlName="phoneNumber"
              [ngClass]="{
                'is-invalid': submitted && formControls.phoneNumber.errors
              }"
              required
            />
            <mat-error *ngIf="formControls.phoneNumber.errors?.required">
              Please enter phone number
            </mat-error>
            <mat-error *ngIf="formControls.phoneNumber.errors?.minlength">
              Please enter valid phone
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-12 d-sm-flex justify-content-sm-end pt-3 actions-btn"
        >
          <button
            name="Save"
            mat-raised-button
            color="accent"
            form="userForm"
            (click)="onSubmit($event)"
            class="text-uppercase mr-2"
            [disabled]="submitted"
          >
            {{ submitted ? "Saving..." : "Save" }}
          </button>
        </div>
      </div>
    </form>
  </div> -->
</div>
