/*Table Css*/
table {
    width: 100%;
}

.fa-custom {
    font-size: 1em;
    color: #fff;
}

.table {
    border-collapse: collapse;
    background-color: transparent;
}
.mat-cell {
    padding: 10px 5px;
    color: #01385f;
}
.customtable {
    white-space: normal;
}

table th.mat-header-cell>div>button {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.mat-row:hover {
    /* background: #f7f5f5; */
}
/*Pagination*/
.mat-paginator .mat-paginator-container {
    justify-content: space-between;
}

.bgcolor-circle {
    border: 1px solid #efefef;
    width: 30px;
    height: 30px;
    display: block;
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.mat-paginator {
    background-color: transparent !important;
}
.search-button {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 viewBox%3D%220%2C0%2C256%2C256%22 width%3D%2230px%22 height%3D%2230px%22%3E%3Cg fill-opacity%3D%220.23922%22 fill%3D%22%23000000%22 fill-rule%3D%22nonzero%22 stroke%3D%22none%22 stroke-width%3D%221%22 stroke-linecap%3D%22butt%22 stroke-linejoin%3D%22miter%22 stroke-miterlimit%3D%2210%22 stroke-dasharray%3D%22%22 stroke-dashoffset%3D%220%22 font-family%3D%22none%22 font-weight%3D%22none%22 font-size%3D%22none%22 text-anchor%3D%22none%22 style%3D%22mix-blend-mode%3A normal%22%3E%3Cg transform%3D%22scale(8.53333%2C8.53333)%22%3E%3Cpath d%3D%22M13%2C3c-5.511%2C0 -10%2C4.489 -10%2C10c0%2C5.511 4.489%2C10 10%2C10c2.39651%2C0 4.59738%2C-0.85101 6.32227%2C-2.26367l5.9707%2C5.9707c0.25082%2C0.26124 0.62327%2C0.36648 0.97371%2C0.27512c0.35044%2C-0.09136 0.62411%2C-0.36503 0.71547%2C-0.71547c0.09136%2C-0.35044 -0.01388%2C-0.72289 -0.27512%2C-0.97371l-5.9707%2C-5.9707c1.41266%2C-1.72488 2.26367%2C-3.92576 2.26367%2C-6.32227c0%2C-5.511 -4.489%2C-10 -10%2C-10zM13%2C5c4.43012%2C0 8%2C3.56988 8%2C8c0%2C4.43012 -3.56988%2C8 -8%2C8c-4.43012%2C0 -8%2C-3.56988 -8%2C-8c0%2C-4.43012 3.56988%2C-8 8%2C-8z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    position: absolute;
    right: 6px;
    color: grey;
    top: 4px;
}

.pos button{
    background-color: transparent;
}
.mat-header-cell {
    padding: 5px;
    font-size: 15px !important;
    white-space: nowrap;
    color :#01385f;
}
i.fa.fa-plus {
    padding-right: 10px;
}
.test_name_block{
    display: -webkit-box; /* Required for -webkit-line-clamp to work */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow the text to wrap */
    max-height: 7em; /* Adjust this value to fit four lines, depends on line-height */
    line-height: 1.5em; /* Adjust this value according to your font size */

}
.table-responsive img {
    max-width: 47px;
}
/* @media (max-width: 1199px){
    .customtable {
        white-space: nowrap;
    }
  } */
@media (max-width: 520px) {
    .mat-paginator .mat-paginator-container {
        justify-content: center;
        flex-direction: column;
    }

    .mat-paginator-range-label {
        margin: 0px !important;
    }

    .mat-paginator-range-actions {
        display: inline-block !important;
        text-align: center;
    }
}

.table-responsive .alert.alert-danger {
    border-radius: 0px;
    line-height: 39px;
    border: none;
    background: #fff3f3;
    width: 97%;
    margin-left: 7px;
    color: #d00;
}

.star {
    margin-right: -9px;
    font-size: 19px !important;
}

.average-rating {
    font-size: 12px !important;
    line-height: 30px;
}

.buttons {
    height: 26px;
    width: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-toggle::after{
    content: inherit;
}

/* hhs */
/* .mat-cell{
    overflow: auto;
} */
.insurance_block{
    overflow: visible;
}
.insurance_block button#dropdownMenuButton {
        /* background: #17a2b8; */
        color: white;
        padding: 0px 10px;
        background: linear-gradient(90.06deg, #014971 0.32%, #03BECA 100.49%) !important;
        border: none;
}
/* .insurance_block .dropdown{
    width: 26px;
    height: 26px;
} */
button.btn.viewww {
    background: transparent;
    font-size: 14px;
    /* opacity: 0.5; */
    font-weight: 500 !important;
}
.mat-row:nth-child(even) {
    /* background-color: #e4fbff; */
    background-color: #eafcff;
    border-bottom: 1px solid #f5f1f1 !important;
    /* margin: 10px 0;
    border-radius: 10px; */
  }
  .mat-row .mat-cell {
    font-weight: 400;
  }
  .mat-row {
    background: white;
    /* border-radius: 10px; */
    padding: 0 0 0 10px;
    border-bottom: 1px solid #f5f1f1 !important;
  }
  .mat-header-row {
    background: white;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #f5f1f1 !important;
}



/* table */

