<!-- <div>
<canvas baseChart height="80"
[datasets]="lineChartData"
[labels]="lineChartLabels"
[chartType]="lineChartType"></canvas>
</div> -->
<div class="chart-container">
    <button class="overlay-button" (click)="removeVitealFilter()" title="Clear"><i class="fa fa-eraser" aria-hidden="true"></i></button>
    <div style="display: block;">
        <canvas baseChart height="80" [datasets]="lineChartData" [labels]="lineChartLabels"
            [chartType]="lineChartType"></canvas>
    </div>
</div>