<div class="patient-container">
  <div class="readmin-panel">
    <div class="panel-body">
      <div class="row">
        <div
          class="col-md-12 justify-content-between d-flex align-items-center"
        >
          <div class="gridlist">
            <i class="fa fa-list" (click)="toggleView('grid')"></i>
            <i class="fa fa-area-chart ml-3" (click)="toggleView('chart')"></i>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="add-primary-btn"
            (click)="openDialog(0)"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>{{ "add_vitals" | translate }}</span>
          </button>
        </div>
      </div>

      <div *ngIf="!isGrid" class="mt-15">
        <app-line-chart
          [lineChartData]="lineChartData"
          [lineChartLabels]="lineChartLabels"
        ></app-line-chart>
        <!-- <canvas baseChart height="80" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                  [chartType]="lineChartType"></canvas> -->
      </div>
      <div *ngIf="isGrid">
        <app-data-table
          [inputColumns]="displayedColumns"
          [inputSource]="vitalListingData"
          [inputMeta]="metaData"
          [inputButtons]="actionButtons"
          (onPageOrSortChange)="onPageOrSortChange($event)"
          (onTableActionClick)="onTableActionClick($event)"
        >
        </app-data-table>
      </div>
    </div>
  </div>
</div>
