<div class="custom_modal">
  <h3 mat-dialog-title>{{"questionnaire"|translate}}</h3>
  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" id="documentsForm" #documentForm="ngForm" class="readmin-form custom_form"
          [formGroup]="documentsForm">
          <div class="row">
            <div class="col-sm-12 require">
              <mat-form-field class="example-full-width" hintLabel="{{formControls['documentName'].pending ? 'Validating...' : ''}}">
                <input matInput autofocus placeholder="Document Name" maxlength="50" formControlName="documentName"
                  [ngClass]="{ 'is-invalid': submitted && formControls['documentName'].errors }" required />
                <mat-error *ngIf="formControls['documentName'].errors?.['required']">
                  Please enter document name
                </mat-error>
                <mat-error *ngIf="formControls['documentName'].errors?.['uniqueName']">
                  Name is already taken.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 require">
              <mat-form-field class="example-full-width" hintLabel="{{formControls['description'].value ? 1000 - formControls['description'].value.length : 1000}} Characters Remaining">
                <textarea matInput placeholder="{{'description'|translate}}" maxlength="1000" formControlName="description" [ngClass]="{ 'is-invalid': submitted && formControls['description'].errors }"
                  required></textarea>
                <mat-error *ngIf="formControls['description'].errors">
                  {{"please_enter_description"|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="cancel-btn" (click)="closeDialog('close')">{{"close"|translate}}</button>
    <button mat-raised-button color="primary" form="documentsForm" [disabled]="submitted || formControls['documentName'].pending"
      cdkFocusInitial>
      {{(submitted || formControls['documentName'].pending) ? submitted ? 'Saving...' : formControls['documentName'].pending
      ? 'Validating...' : ('save'|translate) : ('save'|translate)}}
    </button>
  </div>
</div>